.page-header-alt {
  background-color: rgb(var(--col-white));
  position: relative;

  &--dark {
    background-color: rgb(var(--col-background-tertiary-navy));
    color: rgb(var(--col-white));
  }

  &--dark &__title,
  &--dark &__introduction {
    color: rgb(var(--col-white));
  }

  &--content-after &__content-inner {
    flex-grow: 1;
  }

  &__inner {
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    z-index: 1;
    position: relative;

    @media (--bp-desktop) {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &__img {
    width: 100%;
    position: relative;
    height: 0;
    padding-bottom: 60%;

    @media (--bp-desktop) {
      position: absolute !important;
      height: 100%;
      right: 0;
      top: 0;
      left: calc(50% + 5rem);
      width: auto;
      padding-bottom: 0;
    }

    @media (--bp-wide) {
      left: calc(50% + 7.5rem);
    }

    &-inner {
      max-width: 100% !important;
      position: static !important;

      @media (--bp-desktop) {
        height: 100%;
      }
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__content {
    max-width: 31rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media (--bp-desktop) {
      width: 50%;
      min-height: 30rem;
    }

    &-after {
      margin-top: 3rem;
    }
  }

  &__title {
    margin-bottom: 1rem;

    &-tag {
      color: rgb(var(--col-navy-dark)) !important;
      background-color: rgb(var(--col-grey-light));
      padding: .375rem .75rem;
      border-radius: 2px;
      letter-spacing: normal;
      display: table;
      margin-bottom: 1.5rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }

      &--red {
        border-left: 6px solid #db593f;
      }
    }
  }

  &__actions {
    display: flex;
    align-items: center;
    margin: -.75rem;
    margin-top: .25rem;
    flex-wrap: wrap;

    > * {
      margin: .5rem !important;

      @media (--bp-desktop) {
        margin: .75rem !important;
      }
    }
  }
}
