.page-header-event {
  background-color: rgb(var(--col-navy-light));
  display: flex;
  justify-content: center;

  &__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    max-width: 61.5rem;
  }

  &__header {
    font-size: 1rem;
    color: rgb(var(--col-grey-dark));
    letter-spacing: .0938rem;
    line-height: 1.75;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    padding: 0 2.25rem;
    margin: .5rem 0;
    font-size: 2.4875rem;
    color: rgb(var(--col-navy-dark));
    text-align: center;
    line-height: 1.26;
    font-weight: var(--fw-bold);
    letter-spacing: -.05rem;
  }

  &__sub-title {
    font-size: 1rem;
    letter-spacing: .0938rem;
    text-align: center;
    line-height: 2.1875;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__description {
    font-size: 1rem;
    color: rgb(var(--col-blue-dark));
    letter-spacing: .0831rem;
    line-height: 1.875;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
    margin-bottom: 0;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__button {
    margin: 1.25rem 0;

    @media (--bp-desktop) {
      display: none;
    }
  }
}
