.split-section-header {
  display: flex;
  min-height: 28vw;
  background-position: center;
  background-size: cover;
  overflow: hidden;

  &__container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 1.5rem;
    padding-left: 1.5rem;

    @media (--bp-desktop) {
      min-width: 45rem;
    }
  }

  &__inner {
    padding: 2rem 0;
    position: relative;

    &::before {
      position: absolute;
      content: '';
      background-color: rgb(var(--col-background-tertiary-navy), .92);
      width: 250vw;
      height: 315vw;
      top: 0;
      left: -15.625rem;

      @media (--bp-desktop) {
        transform: rotate(15deg);
        transform-origin: top right;
        top: -5rem;
        right: 0;
        left: auto;
      }
    }

    @media (--bp-desktop) {
      width: calc(100% / (3 / 2));
      padding: 4rem 18vw 4rem 0;
    }

    @media (--bp-x-desktop) {
      padding-right: 13vw;
    }
  }

  &__content {
    position: relative;
  }

  &__title {
    font-size: 2.4875rem;
    letter-spacing: -.1181rem;
    line-height: 1.19;
    font-weight: var(--fw-bold);
    color: rgb(var(--col-white));
    margin-bottom: 1rem;
  }

  &__sub-title {
    font-size: 1rem;
    letter-spacing: -.015rem;
    line-height: 1.5625;
    font-weight: var(--fw-regular);
    color: rgb(var(--col-white));
    margin-bottom: 2.5rem;
  }
}
