.tabs {
  margin: 0 auto;
  border-bottom: 0;

  &__tablist-item {
    display: inline;
  }

  &__section {
    background-color: transparent;

    & + .tabs__section {
      border-top: 1px solid rgb(var(--col-navy-mid-1));
      background-color: white;

      @media (--bp-tablet) {
        border-top: 0;
        border-bottom: 0;
      }
    }

    @media (--bp-tablet) {
      border-bottom: 2px solid rgb(var(--col-teal-mid-2));
    }
  }

  &__tablist {
    display: none;
    margin-bottom: 0;
    padding-right: 0;
    padding-left: 0;

    &.tabs__tablist--min {
      @media (--bp-max-tablet) {
        display: block;
        border-top: 1px solid rgb(var(--col-navy-mid-1));
        border-bottom: 1px solid rgb(var(--col-navy-mid-1));

        .tabs__tab {
          border-bottom: 6px solid rgb(var(--col-navy-mid-1));

          &[tabindex='0'] {
            background-color: rgb(var(--col-navy-light));
            font-weight: bold;
          }
        }
      }
    }

    @media (--bp-tablet) {
      display: block;
      padding-top: 0;
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }
  }

  &__tablist--mobile {
    &.styled-select {
      padding-top: .5rem;
      padding-bottom: 1px;
      border-top: 1px solid rgb(var(--col-navy-mid-1));

      &::after {
        top: 1.3975rem;
      }
    }

    &.tabs__tablist--min {
      @media (--bp-max-tablet) {
        display: none;
      }
    }

    @media (--bp-tablet) {
      display: none;
    }
  }

  &__tab {
    display: block;
    width: 100%;
    padding: .75rem 1.5rem;
    border-top: 3px solid transparent;
    border-bottom: 1px solid rgb(var(--col-teal-mid-2));
    background-color: rgb(var(--col-background-primary-grey));
    color: rgb(var(--col-brand));
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      border-bottom-color: transparent;
    }

    &[tabindex='0'] {
      background-color: white;
    }

    @media (--bp-tablet) {
      display: inline-block;
      width: auto;
      margin-right: .125rem;
      margin-bottom: -2px;
      border-top: 2px solid rgb(var(--col-navy-mid-1));
      border-right: 2px solid rgb(var(--col-navy-mid-1));
      border-bottom: 2px solid rgb(var(--col-teal-mid-2));
      border-left: 2px solid rgb(var(--col-navy-mid-1));
      background-color: rgb(var(--col-background-primary-grey));

      &:last-child {
        border-right: 2px solid rgb(var(--col-navy-mid-1));
        border-bottom-color: rgb(var(--col-teal-mid-2));

        &[tabindex='0'] {
          border-bottom-color: transparent;
        }
      }

      &[tabindex='0'] {
        border-top-color: rgb(var(--col-teal-mid-2));
        border-right-color: rgb(var(--col-teal-mid-2));
        border-bottom-color: transparent;
        border-left-color: rgb(var(--col-teal-mid-2));
      }
    }
  }

  &__panel {
    padding: 1.25rem;
    background-color: white;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &--alt .tabs {
    &__section {
      border: 0;
      background-color: white;

      & + .tabs__section {
        background-color: rgb(var(--col-background-primary-grey));
      }
    }

    &__tablist {
      text-align: center;
    }

    &__tab {
      margin-bottom: 0;
      padding-top: 1rem;
      padding-bottom: .5rem;
      border-top: 0;
      border-right: 0;
      border-bottom: 6px solid transparent;
      border-left: 0;
      background-color: transparent;
      font-size: 1.375rem;
      font-weight: var(--fw-semibold);

      &[tabindex='0'] {
        border-color: rgb(var(--col-navy-mid-1));
      }
    }

    &__panel {
      background-color: rgb(var(--col-background-primary-grey));
    }
  }
}
