.tabs {
  margin: 0 auto;
  border-bottom: 0;

  &__section {
    display: flex;
  }

  &__dropdown {
    display: flex;
    flex: 1;
    flex-direction: column;

    @media (--bp-desktop) {
      flex-direction: row;
    }

    &--has-label {
      padding-top: 1.125rem;
    }

    &--mobile {
      @media (--bp-tablet) {
        display: none;
      }
    }

    &-title {
      font-size: 1.25rem;
      font-weight: var(--fw-bold);
      margin-right: 1rem;
      margin-bottom: 2rem;

      @media (--bp-desktop) {
        align-self: center;
        margin-bottom: 0;
      }
    }

    &-select {
      flex: 1;
      margin-bottom: -1rem;
    }
  }

  &-select {
    flex: 1;
    margin-bottom: -1rem;
  }

  &__tablist {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    border-bottom: 1px solid rgb(var(--col-navy-mid-1));
    width: 100%;

    @media (--bp-tablet) {
      padding-right: 1.5rem;
      padding-left: 1.5rem;
    }

    &--alt {
      padding-left: 0;
      padding-right: 0;
      border-color: rgb(var(--col-brand));
    }

    &--teal {
      border-color: rgb(var(--col-teal-mid-2));
    }

    &--yellow {
      border-color: rgb(var(--col-yellow-mid-2));
    }
  }

  &__tab {
    display: inline-block;
    width: auto;
    margin-right: .375rem;
    margin-bottom: -1px;
    padding: .75rem 1.5rem;
    background-color: rgb(var(--col-navy-light));
    color: rgb(var(--col-brand));
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid rgb(var(--col-navy-mid-1));
    border-radius: 3px 3px 0 0;
    box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, .1);

    &:hover {
      text-decoration: underline;
    }

    &:last-child {
      border-right: 1px solid rgb(var(--col-navy-mid-1));
      border-bottom-color: rgb(var(--col-navy-mid-1));

      &[tabindex='0'] {
        border-bottom-color: transparent;
      }
    }

    &[tabindex='0'] {
      background-color: rgb(var(--col-background-primary-white));
      border-top-color: rgb(var(--col-navy-mid-1));
      border-right-color: rgb(var(--col-navy-mid-1));
      border-bottom-color: transparent;
      border-left-color: rgb(var(--col-navy-mid-1));
      box-shadow: 1px -1px 4px 0 rgba(0, 0, 0, .1);
    }

    &--alt {
      background: transparent;
      margin-right: 0;
      border: 0;
      box-shadow: none;
      font-size: 1.125rem;
      padding: .75rem 1rem;

      &[tabindex='0'] {
        /* background: transparent; */
        box-shadow: inset 0 -6px rgb(var(--col-navy-dark));
      }

      &:last-child {
        border: 0;
      }
    }
  }

  &__panel {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &__controls {
    cursor: pointer;
    padding: 1.25rem .5rem;

    &--prev {
      left: 0;
    }

    &--next {
      right: 0;
    }
  }
}
