.tabs {
  &__tablist-item {
    display: inline;
  }

  &__section {
    background-color: var(--col-bg-grey);

    & + .tabs__section {
      border-top: 1px solid var(--col-grey-mid);
      background-color: white;
    }
  }

  &__tablist {
    margin-bottom: 0;
    padding-left: 0;
  }

  &__tab {
    display: inline-block;
    margin-top: 1.5rem;
    padding: 0 1.5rem;
    border-top: 3px solid transparent;
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border-left: 1px solid var(--col-grey-mid);
    color: var(--col-brand);
    font-weight: bold;
    text-decoration: none;

    &:first-child {
      border-left-color: transparent;
    }

    &:last-child {
      border-right-color: var(--col-grey-mid);
    }

    &[tabindex='0'] {
      margin-top: .5rem;
      margin-bottom: -1px;
      padding-top: 1rem;
      padding-bottom: 1rem;
      border-color: var(--col-teal-mid) var(--col-grey-mid) white;
      background-color: white;
    }

    &[tabindex='0'] + & {
      border-left-color: transparent;
    }
  }

  &__panel {
    padding: 1.25rem;
    background-color: white;

    &[aria-hidden='true'] {
      display: none;
    }
  }

  &--alt {
    .tabs__section {
      background-color: var(--col-blue-light);

      & + .tabs__section {
        background-color: white;
      }
    }
  }

  /* deprecated */

  &--material {
    .tabs__tab {
      border-bottom: 2px solid transparent;
      border-radius: 0;
      background-color: transparent;

      &[tabindex='0'] {
        border-bottom-color: var(--col-brand);
      }
    }

    .tabs__panel {
      padding-left: 0;
      border-top: 1px solid var(--col-bg-light-blue);
      border-bottom: 1px solid var(--col-bg-light-blue);
      background-color: transparent;
    }
  }

  &--featured {
    .tabs__tab {
      &[tabindex='0'] {
        background-color: var(--col-bg-light-blue);
        color: var(--col-brand);
      }
    }

    .tabs__panel {
      background-color: var(--col-bg-light-blue);
    }
  }
}
