.photo-gallery {
  &__thumb {
    position: relative;
    width: 100%;
    height: 100%;

    &:hover {

    }

    img {
      height: 200px;
      width: 100%;
      object-fit: cover;
    }
  }

}
