.page-title {
  margin: 0 1.25em;
  padding: 1rem 0;

  &__separator {
    width: 20px;
    height: 2px;
    background: #fff;
    margin-bottom: .25rem;
  }

  &__text {
    color: #fff;
    text-decoration: none;
  }

  &--top-layout {
    position: relative;
    z-index: 1;

    @media (--bp-desktop) {
      top: 6px;
    }
  }

  @media (--bp-max-tablet) {
    width: auto !important;
  }

  @media (--bp-desktop) {
    position: relative;
    flex: 1 0 auto;
  }
}
