.megamenu__blanket {
  .mega-top {
    display: flex;
    justify-content: flex-end;
    padding: .5rem 2rem 0;
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 0;
    }
    @media(--bp-max-mobile){
      display: block;
      padding: 0;
    }
  }



  .menu-top__item {
    margin-left: 1.25rem;
    color: rgba(var(--col-blue-mid-1));
    font-size: .8rem;
    text-decoration: none;
    text-transform: uppercase;
    @media(--bp-max-mobile){
      color: white;
    }
  }

  .menu-top__item:hover,
  .menu-top__item:focus {
    color: white;
    text-decoration: underline;
  }
}
