:root {
  --width-sitenav: 18.75rem;
  --offset-sitenav: calc(0 - var(--width-sitenav));
  --tr-transform: transform .3s ease;
}

.megamenu__logo-container {
  display: flex;
  align-items: center;
}

.megamenu__main-container {
  display: flex;
}

.megamenu__navigation-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}

.megamenu__search-container {
  border: 1px solid blueviolet;
}

/* ********** START .megamenu ********** */

.megamenu {
  z-index: 102;
  right: -100%;
  width: 100%;
  /* height: 100%;
  min-height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(0);
  transition: var(--tr-transform);
  background-color: rgb(var(--col-brand));
  color: white;
  &.active {
    border: 1px solid red;
    top: 0;
    min-height: 100%;
    transform: translateX(-100%);
  }
  &__blanket {
    border: 1px solid greenyellow;
    position: absolute;
    top: -7.5rem;
    left: 0;
    width: 100%;
    height: 7.5rem;
    margin: -1rem;
    background-color: rgba(0, 0, 0, .5);
  }
  .inner {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: none;
    transition: var(--tr-transform);
    background-color: rgb(var(--col-brand));
    &.open {
      transform: translateX(-100%);
    }
  }
  >.page-header-search__form {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;
    .page-header-search__input {
      width: calc(100% - 4rem);
    }
  }
  .menu__section {
    padding: 0;
    border-bottom: 1px solid rgba(255, 255, 255, .05);
    .menu__back-btn::before {
      content: '\2039';
      line-height: .9;
    }
    .menu__section .menu__item {
      width: 100%;
    }
  }
  .menu__item {
    margin-bottom: 0;
    list-style-type: none;
    border-top: 1px solid rgba(255, 255, 255, .05);
    border-left: 5px solid transparent;
    &--active {
      border-left-color: rgb(var(--col-navy-mid-1));
    }
  }
  .menu__nested-parent, .menu__link {
    display: block;
    padding: .75rem 1rem .75rem 2rem;
    color: white;
    text-decoration: none;
    &:focus {
      background-color: rgb(var(--col-background-secondary-navy));
      color: white;
      text-decoration: underline;
    }
  }
  .menu__link[href='#'] {
    opacity: .2;
    cursor: not-allowed;
  }
  .menu__link--nested {
    width: 100%;
    font-weight: var(--fw-semibold);
    text-align: left;
    cursor: pointer;
    &::after {
      content: '\203a';
      z-index: 9;
      float: right;
      font-size: 1.5rem;
      font-weight: normal;
      line-height: .85;
    }
  }
  .menu__nested-parent {
    padding-left: 1.25rem;
  }
  .menu__back-btn {
    display: block;
    width: 100%;
    padding: 1.25rem;
    background-color: rgb(var(--col-background-tertiary-navy));
    color: white;
    font-weight: var(--fw-semibold);
    line-height: 1.96;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    &::before {
      content: '\00d7';
      width: 1.25rem;
      padding-right: .625rem;
      float: left;
      font-size: 1.75rem;
      font-weight: var(--fw-semibold);
      line-height: 1.1;
      text-align: center;
    }
    &:hover {
      text-decoration: underline;
    }
  }
  .menu__campaign {
    display: block;
    position: relative;
    width: 100%;
    height: 10rem;
    background-color: rgba(0, 0, 0, .5);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    &-text {
      position: absolute;
      bottom: 0;
      width: 100%;
      margin-bottom: 0;
      padding: 1rem 1.25rem;
      background-color: rgba(185, 61, 28, .95);
      font-size: .8125rem;
      line-height: 1.4;
      text-decoration: none;
    }
    &-title {
      display: block;
      padding-bottom: .25rem;
    }
  }
  a.menu__campaign:hover .menu__campaign-title {
    text-decoration: underline;
  }
}

/* ********** END .megamenu ********** */

/* breakpoint: min-width: 481px */

@media (--bp-tablet) {
  .megamenu {
    right: var(--offset-sitenav);
    width: var(--width-sitenav);
    .menu__section {
      padding-right: 0;
    }
    &.active {
      box-shadow: 1px 0 12px 3px rgba(0, 0, 0, .6);
    }
    .inner.open {
      transform: translateX(var(--offset-sitenav));
    }
  }
}

/*  breakpoint: min-width: 769px */

@media (--bp-desktop) {
  .megamenu {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-left: 0;
    transform: none;
    box-shadow: none;
    &__blanket {
      position: static;
      height: auto;
      margin: 0;
      background-color: transparent;
    }
    .inner {
      display: none;
      position: absolute;
      z-index: 2;
      top: auto;
      left: 0;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 0;
      background-color: #083c79;
      &.open {
        display: none;
        position: absolute;
      }
      .menu__item {
        display: flex;
        padding: 1.5rem;
        border-bottom: 0;
      }
      @media (--bp-wide) {
        padding-right: 7.85rem;
        padding-left: 7.85rem;
      }
      @media (--bp-xx-wide) {
        padding-right: 7.25rem;
        padding-left: 7.25rem;
      }
    }
    >.page-header-search__form, .menu__back-btn {
      display: none;
    }
    .menu {
      &__aside {
        width: 25%;
        min-width: 17rem;
      }
      &__campaign {
        width: 16.5rem;
        margin-left: 1.5rem;
        &-text {
          padding: .75rem 1rem;
        }
      }
      &__nested-parent {
        display: table-cell;
        position: relative;
        /* height: calc(6.4375rem - 5px); */
        padding: 0 1.2rem;
        line-height: 1.1;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }
      &__item {
        border-top: none;
        border-bottom: 5px solid transparent;
        border-left: 0;
        &--right {
          justify-content: flex-end;
        }
        &--active {
          border-bottom-color: rgb(var(--col-navy-mid-1));
        }
      }
      &__link--nested::after {
        display: none;
      }
      &__login {
        margin-right: 0;
        margin-left: auto;
        .link-icon--vertical {
          height: 4rem;
        }
      }
      &__section {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        border-bottom: none;
        .inner .menu__nested-parent {
          width: 33.333%;
          height: auto;
          padding-top: .4375rem;
          padding-bottom: .4375rem;
          padding-left: 1.5rem;
          font-size: 1.25rem;
          line-height: 1.4;
          text-align: left;
          text-decoration: none;
          @media (--bp-x-desktop) {
            width: 25%;
          }
          @media (--bp-xx-wide) {
            width: 20%;
          }
        }
        .menu__item {
          padding-bottom: 0;
        }
        .menu__link {
          display: table-cell;
          position: relative;
          /* height: calc(6.4375rem - 5px); */
          padding: 0 1.2rem;
          line-height: 1.1;
          text-align: center;
          text-decoration: none;
          vertical-align: middle;
          &:hover, &[aria-expanded='true'] {
            background-color: #083c79;
          }
        }
      }
      &__section .menu__item--over, &__section .menu__item[tabindex='0'] {
        .menu__link {
          background-color: #083c79;
          text-decoration: underline;
        }
        .inner {
          display: flex;
          z-index: 3;
          left: 0;
          width: 100%;
          box-shadow: 1px 6px 12px -3px rgba(0, 0, 0, .6);
        }
        .menu__section .menu__link {
          background-color: transparent;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      &__section .menu__section {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-left: 2rem;
        padding-left: 0;
        columns: 2;
        column-width: 50%;
        font-size: .9rem;
        break-inside: avoid;
        page-break-inside: avoid;
        .menu__item {
          display: inline-block;
          padding: 0;
          list-style-type: none;
          border-left: 1px solid rgba(255, 255, 255, .2);
        }
        .menu__link {
          display: inline-block;
          height: auto;
          padding: 0 1.5rem 0 2rem;
          font-size: .9rem;
          text-align: left;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        @media (--bp-x-desktop) {
          columns: 3;
          column-width: 33.333%;
        }
        @media (--bp-xx-wide) {
          columns: 4;
          column-width: 25%;
        }
      }
    }
  }
}

/* ********** START .page-header--study ********** */

.page-header--study {
  overflow: visible;
  .page-header__inner {
    justify-content: space-between;
    height: 4.5rem;
    padding-left: 1rem;
    .link-img {
      margin: -.75rem;
      padding: .75rem;
      border-radius: var(--br);
    }
    @media (--bp-tablet) {
      height: 6.4375rem;
    }
  }
  .header-tools__menu {
    align-self: center;
    margin-left: auto;
    .link-icon--vertical {
      padding: .5rem 1rem;
      border-radius: var(--br);
      &:hover {
        background: rgba(255, 255, 255, .15);
        color: white;
      }
    }
    @media (--bp-desktop) {
      display: none;
    }
  }
}

/* ********** END .page-header--study ********** */

/* ********** START .page-header ********** */

.page-header.active {
  z-index: 101;
  .megamenu__blanket {
    z-index: 100;
    top: 0;
  }
}

/* ********** END .page-header ********** */

/* ********** START MEDIA QUERY max-width: 480px ********** */

@media (--bp-max-mobile) {
  .page-header--study .page-header__inner .link-img {
    padding-right: 0;
    padding-left: 0;
  }
  .logo-mask {
    height: 2.625rem;
    overflow: hidden;
    .page-header__logo {
      width: 4rem;
      height: 4rem;
    }
  }
  .page-header {
    .page-title {
      max-width: 100%;
    }
  }
}

/* ********** END MEDIA QUERY max-width: 480px ********** */

/* ********** START MEDIA QUERY min-width: 769px ********** */

@media (min-width: 769px) {
  .menu__item--over, .menu__item[tabindex='0'] {
    .menu__link--nested::after {
      content: '';
      display: block;
      position: absolute;
      z-index: 10;
      bottom: .3125rem;
      left: calc(50% - .3125rem);
      width: .625rem;
      /* height: .625rem; */
      transform: rotate(45deg);
      border-right: 1px solid rgb(var(--col-blue-mid-2));
      border-bottom: 1px solid rgb(var(--col-blue-mid-2));
      pointer-events: none;
    }
  }
}

/* ********** END MEDIA QUERY min-width: 769px ********** */