.page-title {
  margin: 0 1.25em;
  padding: .9rem 0;
  text-decoration: none;
  line-height: 1rem;

  &__text {
    color: #fff;
    padding-top: 2px;

    &:visited {
      color: #fff;
    }

    @media (--bp-x-desktop) {
      font-size: 1.1rem;
    }

    @media (--bp-wide) {
      font-size: 1.25rem;
    }

    @media (--bp-tablet) {
      line-height: 1.25rem;
    }
  }

  &--top-layout {
    margin-left: 10px;
    margin-top: 6px;

    .active & {
      margin-left: 1.25rem;
      margin-top: 0;
    }

    hr {
      margin: 0 100% .25rem 0;
      width: 48px;
      size: 2px;
      background: #fff;
      border: 1px solid rgb(var(--col-background-primary-white));
    }
  }

  @media (--bp-max-tablet) {
    width: auto !important;
  }

  @media (--bp-desktop) {
    position: relative;
    flex: 1 0 auto;
  }
}
