.megamenu {
  height: 100%;
  padding-left: 8.5rem;
  border-top: 1px solid #164b88;
  background-color: #0f4380;

  &.elevated {
    display: none;
    margin-left: 1.5rem;
    padding-left: 0;
    border-top: 0;

    @media (--bp-desktop) {
      display: block;
    }

    .megamenu__level-1 a {
      padding-top: 1.5rem;
      padding-bottom: 2.25rem;
    }

    .megamenu__level-2 {
      padding-left: 0;

      @media (--bp-wide) {
        padding-left: 8.5rem;
      }

      @media (--bp-xx-wide) {
        padding-left: 8.125rem;
      }
    }

    .megamenu__level-3 a {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  &__item {
    margin-bottom: 0;
    list-style-type: none;

    &--right {
      justify-content: flex-end;
    }
  }

  &__login {
    margin-right: 0;
    margin-left: auto;

    .header-tools__search {
      margin-right: 0;
    }

    .link-icon--vertical {
      height: 4rem;
    }
  }

  &__search {
    &-icon {
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
    }
  }

  &__level-1 {
    display: flex;
    margin-bottom: 0;
    padding-left: 0;

    .megamenu__item {
      padding-bottom: 0;
    }

    .megamenu__link {
      display: block;
      position: relative;
      padding: 1.25rem 1.5rem;
      color: white;

      &:hover,
      &[aria-expanded='true'] {
        background-color: #083c79;
      }
    }
  }

  &__level-2 {
    display: none;
    position: absolute;
    z-index: 2;
    margin-top: 0;
    margin-bottom: 0;
    background-color: #083c79;

    li.megamenu__item {
      display: flex;
      padding: 1.5rem;
    }

    @media (--bp-wide) {
      padding-left: 7rem;
    }

    @media (--bp-xx-wide) {
      padding-right: 8.5rem;
      padding-left: 8.5rem;
    }
  }

  &__subtitle {
    width: 25%;
    padding-top: .4375rem; /* stylelint-disable number-max-precision */
    color: white;
  }

  &__level-1 .megamenu__item:hover {
    .megamenu__link {
      background-color: #083c79;
      text-decoration: none;
    }

    .megamenu__level-2 {
      display: block;
      z-index: 3;
      left: 0;
      width: 100%;
      box-shadow: 1px 6px 6px -3px rgba(0, 0, 0, .6);
    }

    .megamenu__level-3 .megamenu__link {
      background-color: transparent;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &__level-3 {
    columns: 2;
    column-width: 50%;
    width: 100%;
    margin-top: 0;
    margin-left: 2rem;
    padding-left: 0;
    font-size: .9rem;

    li {
      margin-bottom: 0;
      list-style-type: none;
      border-left: 1px solid rgba(255, 255, 255, .2);
    }

    .megamenu__link {
      display: inline-block;
      padding: .75rem 1.5rem .75rem 2rem;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    @media (--bp-x-desktop) {
      columns: 3;
      column-width: 33%;
    }

    @media (--bp-xx-wide) {
      columns: 4;
      column-width: 25%;
    }
  }

  @media (--bp-xx-wide) {
    padding-left: 8.125rem;
  }
}

.page-header--study {
  overflow: visible;

  .page-header__inner {
    padding-left: 1rem;

    .link-img {
      padding: .75rem;
      margin: -.75rem;

      &:hover {
        background: rgba(255, 255, 255, .1);
      }
    }

    @media (--bp-desktop) {
      height: 6.4375rem;
    }
  }
}

.page-header.active {
  z-index: 101;
}

.header-tools.elevated {
  margin-left: auto;

  @media (--bp-desktop) {
    display: none;
  }
}
