:root {
  --width-sitenav: 18.75rem;
  --offset-sitenav: -calc(var(--width-sitenav) + 0);
  --tr-transform: transform .3s ease;
}

.megamenu {
  position: fixed;
  z-index: 102;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(0);
  transition: var(--tr-transform);
  background-color: #0f4380;
  color: #fff;

  &.active {
    top: 0;
    min-height: 100%;
    transform: translateX(-100%);
  }

  &__blanket {
    position: absolute;
    top: -7.5rem;
    left: 0;
    width: 100%;
    height: 7.5rem;
    margin: -1rem;
    background-color: rgba(0, 0, 0, .5);
  }

  .header-tools__search {
    display: none;
  }

  .inner {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    transform: none;
    transition: var(--tr-transform);
    background-color: var(--col-bg);

    &.open {
      transform: translateX(-100%);
    }
  }

  > .page-header-search__form {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;

    .page-header-search__input {
      width: calc(100% - 4rem);
    }
  }

  .menu {
    &__section {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .05);

      .menu__back-btn::before {
        content: '\2039';
        line-height: .9;
      }

      .menu__section .menu__item {
        width: 100%;
      }
    }

    &__item {
      margin-bottom: 0;
      list-style-type: none;
      border-top: 1px solid rgba(255, 255, 255, .05);
      border-left: 5px solid transparent;

      &:nth-child(7n+1).menu__item--active { border-left-color: var(--col-1); }
      &:nth-child(7n+2).menu__item--active { border-left-color: var(--col-2); }
      &:nth-child(7n+3).menu__item--active { border-left-color: var(--col-3); }
      &:nth-child(7n+4).menu__item--active { border-left-color: var(--col-4); }
      &:nth-child(7n+5).menu__item--active { border-left-color: var(--col-5); }
      &:nth-child(7n+6).menu__item--active { border-left-color: var(--col-6); }
      &:nth-child(7n).menu__item--active { border-left-color: var(--col-7); }
    }

    &__nested-parent,
    &__link {
      display: block;
      padding: .75rem 1rem .75rem 2rem;
      color: white;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: var(--col-bg-secondary);
        color: white;
        text-decoration: underline;
      }
    }

    &__link[href='#'] {
      opacity: .2;
      cursor: not-allowed;
    }

    &__link--nested {
      width: 100%;
      font-weight: var(--fw-semibold);
      text-align: left;
      cursor: pointer;

      &::after {
        content: '\203a';
        z-index: 9;
        float: right;
        font-size: 1.5rem;
        font-weight: normal;
        line-height: .85;
      }
    }

    &__nested-parent {
      padding-left: 1.25rem;
    }

    &__back-btn {
      display: block;
      width: 100%;
      padding: 1.25rem;
      background-color: var(--col-bg-tertiary);
      color: white;
      font-weight: var(--fw-semibold);
      line-height: 1.96;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &::before {
        content: '\00d7';
        width: 1.25rem;
        padding-right: .625rem;
        float: left;
        font-size: 1.75rem;
        font-weight: var(--fw-semibold);
        line-height: 1.1;
        text-align: center;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__campaign {
      display: block;
      position: relative;
      width: 100%;
      height: 10rem;
      background-color: rgba(0, 0, 0, .5);
      background-repeat: no-repeat;
      background-size: cover;
      color: white;

      &-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 1rem 1.25rem;
        background-color: rgba(185, 61, 28, .95);
        font-size: .8125rem;
        line-height: 1.4;
        text-decoration: none;
      }

      &-title {
        display: block;
        padding-bottom: .25rem;
      }
    }
  }

  a.menu__campaign:hover .menu__campaign-title {
    text-decoration: underline;
  }

  @media (--bp-tablet) {
    right: var(--offset-sitenav);
    width: var(--width-sitenav);

    .menu__section {
      padding-right: 0;
    }

    &.active {
      box-shadow: 1px 0 12px 3px rgba(0, 0, 0, .6);
    }

    .inner {
      display: none;
      left: 0;
    }

    .inner.open {
      transform: translateX(var(--offset-sitenav));
    }
  }

  @media (--bp-desktop) {
    display: flex;
    position: static;
    right: auto;
    justify-content: space-between;
    width: calc(100% - 1.5rem);
    height: 100%;
    margin-left: 1.5rem;
    padding-left: 0;
    transform: none;
    box-shadow: none;

    &__blanket {
      position: static;
      height: auto;
      margin: calc(1rem - 5px) 0 0;
      background-color: transparent;
    }

    .header-tools__search {
      display: block;
      float: right;
    }

    .inner {
      position: absolute;
      z-index: 2;
      top: auto;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      padding-left: 0;
      background-color: #083c79;

      &.open {
        display: none;
        position: absolute;
      }

      .menu__item {
        display: flex;
        padding: 1.5rem;
      }

      @media (--bp-wide) {
        padding-right: 7.85rem;
        padding-left: 7.85rem;
      }

      @media (--bp-xx-wide) {
        padding-right: 7.25rem;
        padding-left: 7.25rem;
      }
    }

    > .page-header-search__form,
    .menu__back-btn {
      display: none;
    }

    .menu {
      &__aside {
        width: 25%;
        min-width: 17rem;
      }

      &__campaign {
        width: 16.5rem;
        margin-left: 1.5rem;

        &-text {
          padding: .75rem 1rem;
        }
      }

      &__nested-parent {
        display: table-cell;
        position: relative;
        height: 5.4375rem;
        padding: .5rem 1.5rem 2rem;
        line-height: 1.1;
        text-align: center;
        text-decoration: none;
        vertical-align: bottom;
      }

      &__item {
        border-top: none;
        border-bottom: 5px solid transparent;

        &--right {
          justify-content: flex-end;
        }

        &:nth-child(7n+1).menu__item--active { border-bottom-color: var(--col-1); }
        &:nth-child(7n+2).menu__item--active { border-bottom-color: var(--col-2); }
        &:nth-child(7n+3).menu__item--active { border-bottom-color: var(--col-3); }
        &:nth-child(7n+4).menu__item--active { border-bottom-color: var(--col-4); }
        &:nth-child(7n+5).menu__item--active { border-bottom-color: var(--col-5); }
        &:nth-child(7n+6).menu__item--active { border-bottom-color: var(--col-6); }
        &:nth-child(7n).menu__item--active { border-bottom-color: var(--col-7); }
      }

      &__link--nested::after {
        display: none;
      }

      &__login {
        margin-right: 0;
        margin-left: auto;

        .header-tools__search {
          margin-right: 0;
        }

        .link-icon--vertical {
          height: 4rem;
        }
      }

      &__section {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        border-bottom: none;

        .inner .menu__nested-parent {
          width: 33.333%;
          height: auto;
          padding-top: .4375rem;
          padding-bottom: .4375rem;
          padding-left: 1.5rem;
          font-size: 1.25rem;
          line-height: 1.4;
          text-align: left;
          text-decoration: none;

          @media (--bp-x-desktop) {
            width: 25%;
          }

          @media (--bp-xx-wide) {
            width: 20%;
          }
        }

        .menu__item {
          padding-bottom: 0;
        }

        .menu__link {
          display: table-cell;
          position: relative;
          height: 5.4375rem;
          padding: .5rem 1.5rem 2rem;
          line-height: 1.1;
          text-align: center;
          text-decoration: none;
          vertical-align: bottom;

          &:hover,
          &[aria-expanded='true'] {
            background-color: #083c79;
          }
        }
      }

      &__section .menu__item--over,
      &__section .menu__item[tabindex='0'] {
        .menu__link {
          background-color: #083c79;
          text-decoration: underline;
        }

        .inner {
          display: flex;
          z-index: 3;
          left: 0;
          width: 100%;
          box-shadow: 1px 6px 12px -3px rgba(0, 0, 0, .6);
        }

        .menu__section .menu__link {
          background-color: transparent;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__section .menu__section {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-left: 2rem;
        padding-left: 0;
        columns: 2;
        column-width: 50%;
        font-size: .9rem;
        break-inside: avoid;

        .menu__item {
          display: inline-block;
          padding: 0;
          list-style-type: none;
          border-left: 1px solid rgba(255, 255, 255, .2);
        }

        .menu__link {
          display: inline-block;
          height: auto;
          padding: .75rem 1.5rem .75rem 2rem;
          font-size: .9rem;
          text-align: left;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }

        @media (--bp-x-desktop) {
          columns: 3;
          column-width: 33.333%;
        }

        @media (--bp-xx-wide) {
          columns: 4;
          column-width: 25%;
        }
      }
    }
  }
}

.page-header--study {
  overflow: visible;

  .page-header__inner {
    padding-left: 1rem;

    .link-img {
      margin: -.75rem;
      padding: .75rem;
      border-radius: var(--br);

      &:hover {
        background: rgba(255, 255, 255, .15);
      }
    }

    @media (--bp-desktop) {
      height: 6.4375rem;
    }
  }

  .header-tools__menu {
    align-self: center;
    margin-left: auto;

    .link-icon--vertical {
      border-radius: var(--br);

      &:hover {
        background: rgba(255, 255, 255, .15);
        color: white;
      }
    }

    @media (--bp-desktop) {
      display: none;
    }
  }
}

.page-header.active {
  z-index: 101;

  .megamenu__blanket {
    z-index: 100;
    top: 0;
  }
}
