.blanket {
  display: none;
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .5;
  background-color: black;

  &.on {
    display: block;
  }

  &.white {
    display: block;
    z-index: 100;
    margin-top: 3.75rem;
    animation: fadeIn .2s backwards;
    opacity: .95;
    background-color: white;

    @media (--bp-desktop) {
      margin-top: 5.625rem;
    }
  }
}
