.blanket {
  background-color: black;
  display: none;
  height: 100%;
  left: 0;
  opacity: .5;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 100;

  &.on {
    display: block;
  }

  &.white {
    animation: fadeIn .2s backwards;
    background-color: white;
    display: block;
    margin-top: 3.75rem;
    opacity: .95;
    z-index: 100;

    @media (--bp-desktop) {
      margin-top: 5.625rem;
    }
  }
}
