.tags {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  white-space: nowrap;
  flex-wrap: wrap;

  &__item {
    padding: .125rem .25rem;
    background-color: rgb(var(--col-blue-light));
    border-radius: .25rem;
    font-size: .8125rem;
    line-height: 1.0625rem;
    color: #000 !important;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
    margin-right: .5rem;
    margin-top: .25rem;
    text-decoration: none;

    &:hover,
    &:focus {
      background-color: rgb(var(--col-background-primary-navy));
      color: #fff !important;
    }
  }
}
