/**
 * Banner
 */
.banner {
  position: relative;
  padding: 2rem 0;
  padding-bottom: 0;
  overflow: hidden;
  background-color: var(--col-bg);
  color: #fff;

  &__heading {
    width: 50%;
    position: relative;
    max-width: calc(64rem * .4);
    padding-right: 3rem;
    color: #fff;
    z-index: 1;
    margin-top: var(--vr);

    @media (--bp-max-mobile) {
      width: 100%;
      margin-bottom: 28rem; /* Pushes img down for long titles */
    }
  }

  &__sub-heading {
    font-size: 1rem;
    font-weight: 500;
    font-family: var(--ff-normal);
    margin-top: calc(var(--vr) * 2);
    position: relative;
    z-index: 1;
    width: 50%;

    @media (--bp-max-mobile) {
      width: 90%;
    }

    /* Dash above department name */
    &::before {
      content: '\2014';
      position: absolute;
      margin-top: -1.5em;
    }
  }

  &__img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 50%;
    max-width: 55rem;
    background-color: inherit;
    background-position: center bottom;
    background-size: cover;

    @media (--bp-max-mobile) {
      top: 7rem;
      width: 85%;
    }
  }

  /* Aperture mark */
  &__aperture {
    &::before {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      background-size: cover;
      background-image: url('~icons/aperture.svg');
      background-repeat: no-repeat;
      background-position: -1px top;

      @media (--bp-desktop) {
        background-position: -1px center;
      }
    }
  }

  &__logo {
    display: block;
    height: 48px;
    width: 48px;

    @media (--bp-tablet) {
      height: 117px;
      width: 117px;
    }
  }

  &--l1 {
    .banner__heading {
      margin-top: calc(var(--vr) * 4);

      @media (--bp-desktop) {
        margin-bottom: calc(var(--vr) * 4);
      }
    }
  }

  &--l2 {
    .banner__heading {
      font-size: 1.75rem;
      margin-top: calc(var(--vr) * 2);

      @media (--bp-desktop) {
        margin-bottom: calc(var(--vr) * 2);
      }
    }
  }

  &--l3 {
    z-index: 0;
    padding: 0;

    .banner__shape {
      position: absolute;
      top: -35%; /* MAGIC NUMBER account for slight rotation */
      bottom: 0;
      left: 27%;
      right: 0;

      /* saw tooth background pattern */
      background-color: inherit;
      background-image: url('~icons/bg-saw-tooth.svg');

      /* rotate slightly */
      transform: rotate(.25deg);

      &::before,
      &::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        display: block;
        background-color: inherit; /* inherit from header */
      }

      /* triangle in top left-hand corner */
      &::before {
        top: 0;
        height: 60%;
        transform: skewY(-30deg);
        transform-origin: top left;
      }

      /* triangle in bottom left-hand corner */
      &::after {
        bottom: 0;
        height: 40%;
        transform: skewY(60deg);
        transform-origin: bottom left;
      }
    }

    .banner__inner {
      position: relative;
      display: flex;
      align-items: center;
      min-height: 6.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .banner__logo {
      position: absolute;
      left: 1.5rem; /* same as `.max` left padding */

      /* centre logo vertically */
      top: 50%;
      margin-top: -calc(48px / 2); /* half of logo height */

      @media (--bp-tablet) {
        height: 71px;
        width: 85px;
        margin-top: -calc(71px / 2); /* half of logo height */
      }
    }

    .banner__heading {
      width: auto;
      max-width: 35rem;
      margin: 1rem auto;
      padding: 0 5rem; /* account for logo */
      font-size: 1.3em;
      line-height: 1.5;
      text-align: center;
    }
  }
}
