.header-tools {
  position: absolute;
  z-index: 101;
  top: .4em;
  right: 0;
  margin: .1em 1em 1em;
  background-color: transparent;

  &__search,
  &__menu {
    display: inline-block;
    width: 4rem;
    margin-right: .25rem;
    margin-left: .25rem;
    color: white;
  }

  @media (--bp-tablet) {
    margin-top: 1em;
  }
}

.link-icon {
  &--vertical {
    display: block;
    padding: .5rem;
    transition: all linear .1s;
    background-color: var(--col-brand);
    text-align: center;

    .link-icon__icon {
      display: inline;
      position: static;
      width: 1.5rem;
      height: 1.5rem;
      margin-top: .125rem;
      margin-bottom: -.125rem;
    }

    .link-icon__text {
      display: block;
      padding: 0;
      font-size: .7rem;
    }

    &:hover {
      transition: all linear .1s;
      background-color: rgba(255, 255, 255, .8);
      color: black;
      text-decoration: none;
    }
  }
}

.page-header-search {
  display: none;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 3.75rem;
  animation: fadeIn .2s backwards;
  background: rgba(255, 255, 255, .95);

  &.active {
    display: block;
  }

  form {
    padding: 1.5rem 0 1.5rem 1.5rem;
    float: right;
    animation: slideFromTop .2s backwards;
  }

  fieldset {
    margin: 0;
    border: 0;
  }

  &__inline {
    display: inline-block;
  }

  &__input {
    min-width: 12rem;
    height: 2.25rem;
    margin: 0;
    padding: .25rem .75rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 3px 0 0 3px;
    border-color: rgba(0, 0, 0, .1);
    outline: 0; /* sorry */
    outline-offset: -2px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, .1) inset;
    vertical-align: top;
    appearance: textfield;
  }

  &__submit {
    height: 2.25rem;
    margin: 0;
    padding: .25rem .75rem;
    border-width: 1px;
    border-style: solid;
    border-radius: 0 3px 3px 0;
    border-color: rgba(0, 0, 0, .1);
    background-color: var(--col-brand-mid2);
    color: white;
    vertical-align: top;

    &:hover {
      background-color: var(--col-brand);
    }
  }

  &__icon {
    width: 1.375rem;
    height: 1.375rem;

    &--close {
      width: 1.5rem;
      height: 1.5rem;
      margin: auto;
      padding-bottom: .4em;
    }
  }

  @media (--bp-desktop) {
    height: 5.625rem;
  }
}

.link-icon--close {
  display: inline-block;
  margin-top: -1rem;
  margin-right: .5rem;
  margin-left: .5rem;
  padding: 1rem;
  color: var(--col-brand-mid2);
  font-size: .6rem;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  vertical-align: top;

  svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  &:hover {
    color: var(--col-brand);
  }
}
