h1,
h2,
h3,
h4,
h5,
h6,
.title,
.title--xl,
.title--lg,
.title--md,
.title--sm,
.title--xs,
.title--xxs,
.lead {
  color: rgb(var(--col-grey-mid-3));

  .bg-inverted &,
  .bg-inverted-dark &,
  .bg-inverted-darker &,
  .bg-inverted--o95 &,
  .page-header__darken--o50 &,
  .page-header__darken--o25 & {
    color: rgb(var(--col-white));
  }
}

.heading-page,
.heading-page-sub,
.heading-section,
.heading-card,
.lead {
  display: block;
  font-weight: bold;
  text-transform: none;
  letter-spacing: normal;
}

/* REMOVE: .heading-page .heading-page-sub - to be replaced with title helpers */
h1,
.heading-page,
.heading-page-sub {
  font-family: var(--ff-lead);
  font-size: var(--h1-fs);
  line-height: 1.3;
  margin-bottom: 2rem;
  letter-spacing: -.05rem;
  word-spacing: .05rem;
}

/* REMOVE: unsure where this is being used - can we delete? */
.heading-lead {
  font-family: var(--ff-lead);
}

/* REMOVE: unsure where this is being used - can we delete? */
.heading-normal {
  font-family: var(--ff-normal);
}

/* REMOVE: .heading-section - to be replaced with title helpers */
h2,
.heading-section {
  font-family: var(--ff-lead);
  font-size: var(--h2-fs);
  line-height: 1.3;
  margin-bottom: 1.5rem;
  letter-spacing: -.05rem;
  word-spacing: .05rem;
}

h3 {
  font-family: var(--ff-normal);
  font-weight: var(--fw-bold);
  margin-bottom: 1.5rem;
  letter-spacing: normal;
  line-height: 1.3;
  font-size: var(--h3-fs); /* https://github.com/unimelb/pattern-lib/issues/56#issuecomment-327679214 */
}

/* REMOVE: .heading-card .lead - to be replaced with title helpers */
h4,
.heading-card,
.lead {
  font-size: var(--h4-fs);
  line-height: 1.3;
  margin-bottom: 1.25rem;
  letter-spacing: normal;
}

h4 {
  font-weight: var(--fw-bold);
}

.heading-card,
.lead {
  font-weight: var(--fw-semibold);
}

h5 {
  font-size: var(--h5-fs);
  line-height: 1.3;
  margin-bottom: 1rem;
  font-weight: var(--fw-bold);
  text-transform: uppercase;
  letter-spacing: normal;
}

h6 {
  font-size: var(--h6-fs);
  line-height: 1.3;
  margin-bottom: .75rem;
  font-weight: var(--fw-bold);
  letter-spacing: normal;
}

.title {
  margin-bottom: .75rem;
  font-size: 1.75rem;
  line-height: 1.3;

  &--xxl {
    margin-bottom: .75rem;
    font-family: var(--ff-lead);
    font-size: 2.6rem;
    font-weight: var(--fw-bold);
    letter-spacing: -.0938rem;
  }

  /* h1 */
  &--xl {
    font-family: var(--ff-lead);
    font-size: var(--h1-fs);
    line-height: 1.3;
    margin-bottom: 2rem;
    letter-spacing: -.05rem;
    word-spacing: .05rem;
  }

  /* h2 */
  &--lg {
    font-family: var(--ff-lead);
    font-size: var(--h2-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: -.05rem;
    word-spacing: .05rem;
  }

  /* h3 */
  &--md {
    font-size: var(--h3-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: normal;
  }

  /* h4 */
  &--sm {
    font-size: var(--h4-fs);
    line-height: 1.3;
    margin-bottom: 1.25rem;
    font-weight: var(--fw-bold);
    letter-spacing: normal;
  }

  /* h5 */
  &--xs {
    font-size: var(--h5-fs);
    line-height: 1.3;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
    letter-spacing: normal;
  }

  /* h6 */
  &--xxs {
    font-size: var(--h6-fs);
    line-height: 1.3;
    margin-bottom: .75rem;
    font-weight: var(--fw-bold);
    letter-spacing: normal;
  }
}
