.heading-page,
.heading-page-sub,
.heading-section,
.heading-card,
.lead {
  display: block;
  font-weight: bold;
  text-transform: none;
}

h1,
.heading-page {
  margin-bottom: 2.25rem;
  font-size: 2.25rem;
  font-weight: var(--fw-semibold);
  line-height: 3rem;
}

.heading-page-sub {
  margin-bottom: 2.25rem;
  font-size: 2rem;
  font-weight: var(--fw-semibold);
  line-height: 1.4;
}

.heading-lead {
  font-family: var(--ff-lead);
}

.heading-normal {
  font-family: var(--ff-normal);
}

h2,
.heading-section {
  margin-bottom: 2rem;
  font-size: 1.75rem;
  font-weight: var(--fw-semibold);
  line-height: 2.5rem;
}

h3,
.heading-card {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: var(--fw-semibold);
  line-height: 2rem;
}

.lead {
  margin-bottom: 1rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.heading-card,
.lead {
  font-family: var(--ff-normal);
  font-weight: var(--fw-semibold);
}

h4 {
  margin-bottom: 1.25rem;
  font-size: 1.25rem;
  font-weight: var(--fw-semibold);
  line-height: 1.75rem;
}

h5 {
  margin-bottom: 1.125rem;
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
  line-height: 1.75rem;
}

h6 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: var(--fw-semibold);
  text-transform: uppercase;
}

