.heading-page,
.heading-page-sub,
.heading-section,
.heading-card,
.lead {
  display: block;
  font-weight: bold;
  text-transform: none;
}

h1,
.heading-page {
  margin-bottom: calc(2 * var(--vr));
  font-family: var(--ff-lead);
  font-size: 2.25rem;
  line-height: 1.3;

  @media (--bp-tablet) {
    /* https://github.com/unimelb/pattern-lib/issues/56#issuecomment-327679214 */
    /* https://github.com/unimelb/pattern-lib/issues/181 */
    font-size: 2.75rem;
  }
}

.heading-page-sub {
  margin-bottom: calc(1.5 * var(--vr));
  font-family: var(--ff-lead);
  font-size: 2rem;
  line-height: 1.4;
}

h2,
.heading-section {
  margin-bottom: var(--vr);
  font-family: var(--ff-lead);
  font-size: 1.75rem;
}

h3,
.heading-card,
.lead {
  margin-bottom: calc(var(--vr) / 2);
  font-size: 1.25rem; /* https://github.com/unimelb/pattern-lib/issues/56#issuecomment-327679214 */
}

.heading-card,
.lead {
  font-family: var(--ff-normal);
  font-weight: var(--fw-semibold);
}

h4 {
  margin-bottom: calc(var(--vr) / 2);
  font-size: 1.125rem;
  font-weight: var(--fw-semibold);
}

h5 {
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: bold;
  text-transform: uppercase;
}

h6 {
  margin-bottom: 0;
  font-size: .875rem;
  font-weight: bold;
}
