.item-ticked {
  position: relative;
  list-style-type: none;

  &::before {
    content: '';
    position: absolute;
    top: .55rem;
    left: .375rem;
    width: .675rem;
    height: .375rem;
    margin-left: -1.5rem;
    transform: rotate(-45deg);
    border-top: 0;
    border-right: 0;
    border-bottom: 2px solid rgb(var(--col-emerald-mid-2));
    border-left: 2px solid rgb(var(--col-emerald-mid-2));
    background: transparent;
  }
}

.item-crossed {
  position: relative;
  list-style-type: none;

  &::before {
    content: '\00d7';
    position: absolute;
    top: -.325rem;
    left: .375rem;
    width: .675rem;
    height: .375rem;
    margin-left: -1.5rem;
    background: transparent;
    color: rgb(var(--col-orange-dark));
    font-size: 1.5rem;
    font-weight: var(--fw-semibold);
  }
}
