.title {
  margin-bottom: calc(var(--vr) / 2);
  font-size: 1.75rem;
  line-height: 2.0125rem;

  &--xxl {
    margin-bottom: .75rem;
    font-family: var(--ff-lead);
    font-size: 2.6rem;
    font-weight: var(--fw-bold);
    letter-spacing: -.125rem;
  }

  /* h1 */
  &--xl {
    font-family: var(--ff-lead);
    font-size: var(--h1-fs);
    line-height: 1.3;
    margin-bottom: 2rem;
    letter-spacing: -.125rem;
  }

  /* h2 */
  &--lg {
    font-family: var(--ff-lead);
    font-size: var(--h2-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: -.125rem;
  }

  /* h3 */
  &--md {
    font-size: var(--h3-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;
  }

  /* h4 */
  &--sm {
    font-size: var(--h4-fs);
    line-height: 1.3;
    margin-bottom: 1.25rem;
    font-weight: var(--fw-bold);
  }

  /* h5 */
  &--xs {
    font-size: var(--h5-fs);
    line-height: 1.3;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
  }

  /* h6 */
  &--xxs {
    font-size: var(--h6-fs);
    line-height: 1.3;
    margin-bottom: .75rem;
    font-weight: var(--fw-bold);
  }
}

.content-block {

  h1 {
    font-family: var(--ff-lead);
    font-size: var(--h1-fs);
    line-height: 1.3;
    margin-bottom: 2rem;
    letter-spacing: -.125rem;
  }

  h2 {
    font-family: var(--ff-lead);
    font-size: var(--h2-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;
    letter-spacing: -.125rem;
  }

  h3 {
    font-size: var(--h3-fs);
    line-height: 1.3;
    margin-bottom: 1.5rem;

    /* https://github.com/unimelb/pattern-lib/issues/56#issuecomment-327679214 */
  }

  h4 {
    font-size: var(--h4-fs);
    line-height: 1.3;
    margin-bottom: 1.25rem;
    font-weight: var(--fw-bold);
  }

  h5 {
    font-size: var(--h5-fs);
    line-height: 1.3;
    margin-bottom: 1rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
  }

  h6 {
    font-size: var(--h6-fs);
    line-height: 1.3;
    margin-bottom: .75rem;
    font-weight: var(--fw-bold);
  }
}
