.title {
  margin-bottom: calc(var(--vr) / 2);
  font-size: 1.75rem;
  line-height: 2.0125rem;

  &--xxl {
    margin-bottom: .75rem;
    font-family: var(--ff-lead);
    font-size: 2.6rem;
    font-weight: var(--fw-bold);
  }

  /* h1 */
  &--xl {
    margin-bottom: calc(2 * var(--vr));
    font-family: var(--ff-lead);
    font-size: 2.3125rem;
    line-height: 2.6594rem;
  }

  /* h2 */
  &--lg {
    margin-bottom: var(--vr);
    font-family: var(--ff-lead);
    font-size: 2.0125rem;
    line-height: 2.3144rem;
  }

  /* h3 */
  &--md {
    margin-bottom: calc(var(--vr) / 2);
    font-size: 1.75rem;
    line-height: 2.0125rem;
  }

  /* h4 */
  &--sm {
    margin-bottom: calc(var(--vr) / 2);
    font-size: 1.5188rem;
    line-height: 1.7469rem;
    font-weight: var(--fw-bold);
  }

  /* h5 */
  &--xs {
    margin-bottom: 0;
    font-size: 1.325rem;
    font-weight: var(--fw-bold);
    text-transform: capitalize;
  }

  /* h6 */
  &--xxs {
    margin-bottom: 0;
    font-size: 1.15rem;
    line-height: 1.3225rem;
    font-weight: var(--fw-bold);
  }
}

.content-block {

  h1 {
    margin-bottom: calc(2 * var(--vr));
    font-family: var(--ff-lead);
    font-size: 2.3125rem;
    line-height: 2.6594rem;
  }

  h2 {
    margin-bottom: var(--vr);
    font-family: var(--ff-lead);
    font-size: 2.0125rem;
    line-height: 2.3144rem;
  }

  h3 {
    margin-bottom: calc(var(--vr) / 2);
    font-size: 1.75rem;
    line-height: 2.0125rem;

    /* https://github.com/unimelb/pattern-lib/issues/56#issuecomment-327679214 */
  }

  h4 {
    margin-bottom: calc(var(--vr) / 2);
    font-size: 1.5188rem;
    line-height: 1.7469rem;
    font-weight: var(--fw-semibold);
  }

  h5 {
    margin-bottom: 0;
    font-size: .875rem;
    font-weight: var(--fw-bold);
    text-transform: uppercase;
  }

  h6 {
    margin-bottom: 0;
    font-size: 1.15rem;
    line-height: 1.3225rem;
    font-weight: var(--fw-bold);
  }
}
