{
  "extends": [
    "eslint-config-airbnb",
    "plugin:vue/recommended"
  ],
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "plugins": [
    "vue"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "rules": {
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "global-require": "off",
    "import/extensions": "off",
    "import/first": "off",
    "import/newline-after-import": "off",
    "import/no-extraneous-dependencies": "off",
    "import/no-unresolved": "off",
    "jsx-a11y/label-has-for": "off",
    "max-len": "off",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_uid",
          "_vnode",
          "_renderChildren"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "react/jsx-filename-extension": "off",
    "react/react-in-jsx-scope": "off",
    "react/no-unknown-property": "off",
    "vue/attribute-hyphenation": "error",
    "vue/html-quotes": "error",
    "vue/html-self-closing": "error",
    "vue/mustache-interpolation-spacing": "error",
    "vue/no-dupe-keys": "error",
    "vue/no-duplicate-attributes": "error",
    "vue/no-multi-spaces": "error",
    "vue/no-reserved-keys": "error",
    "vue/no-shared-component-data": "error",
    "vue/no-template-key": "error",
    "vue/order-in-components": "error",
    "vue/require-prop-types": "off",
    "vue/require-render-return": "error",
    "vue/require-valid-default-prop": "error",
    "vue/return-in-computed-property": "error",
    "vue/v-bind-style": "error",
    "vue/v-on-style": "error"
  }
}