{
  "extends": [
    "eslint:recommended",
    "airbnb-base",
    "plugin:vue/recommended",
    "plugin:you-dont-need-lodash-underscore/compatible"
  ],
  "plugins": [
    "unicorn"
  ],
  "env": {
    "jest": true
  },
  "globals": {
    "browser": true
  },
  "rules": {
    "import/extensions": 0,
    "array-callback-return": "error",
    "block-scoped-var": "error",
    "brace-style": ["error", "1tbs"],
    "camelcase": "error",
    "comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "never"
      }
    ],
    "consistent-return": "error",
    "curly": ["error", "all"],
    "import/no-extraneous-dependencies": [
      "warn",
      {
        "devDependencies": [
          "**/__tests__/**",
          ".storybook/**",
          "**/stories/**",
          "**/webpack.*"]
      }
    ],
    "import/no-unresolved": "off",
    "max-len": "off",
    "no-caller": "error",
    "no-eq-null": "error",
    "no-eval": "error",
    "no-implied-eval": "error",
    "no-lone-blocks": "error",
    "no-mixed-operators": "error",
    "no-multi-assign": "error",
    "no-multi-str": "error",
    "no-param-reassign": [
      "error",
      {
        "props": false
      }
    ],
    "no-restricted-globals": "error",
    "no-script-url": "error",
    "no-sequences": "error",
    "no-underscore-dangle": [
      "error",
      {
        "allow": [
          "_uid",
          "_vnode",
          "_renderChildren"
        ]
      }
    ],
    "no-use-before-define": [
      "error",
      {
        "functions": false,
        "classes": true,
        "variables": true
      }
    ],
    "no-useless-concat": "error",
    "no-magic-numbers": [
      "error",
      { 
        "ignoreArrayIndexes": true,
        "ignore": [1]
      }
    ],
    "radix": "error",
    "unicorn/no-array-instanceof": "error",
    "unicorn/no-for-loop": "error",
    "unicorn/no-unused-properties": "error",
    "unicorn/no-zero-fractions": "error",
    "unicorn/prefer-modern-dom-apis": "error",
    "unicorn/prefer-query-selector": "error",
    "unicorn/prefer-spread": "error",
    "vue/attribute-hyphenation": "error",
    "vue/html-quotes": "error",
    "vue/html-self-closing": "error",
    "vue/mustache-interpolation-spacing": "error",
    "vue/no-dupe-keys": "error",
    "vue/no-duplicate-attributes": "error",
    "vue/no-multi-spaces": "error",
    "vue/no-reserved-keys": "error",
    "vue/no-shared-component-data": "error",
    "vue/no-template-key": "error",
    "vue/order-in-components": "error",
    "vue/require-render-return": "error",
    "vue/require-valid-default-prop": "error",
    "vue/return-in-computed-property": "error",
    "vue/v-bind-style": "error",
    "vue/v-on-style": "error",
    "vue/no-v-html": "error",
    "vue/html-closing-bracket-newline": ["error", {
      "multiline": "never"
    }],
    "vue/v-on-function-call": "error",
    "vue/space-unary-ops": "error",
    "vue/array-bracket-spacing": "error",
    "vue/arrow-spacing": "error",
    "vue/block-spacing": "error",
    "vue/brace-style": "error",
    "vue/camelcase": "error",
    "vue/comma-dangle": ["error", "always-multiline"],
    "vue/component-name-in-template-casing": "error",
    "vue/eqeqeq": "error",
    "vue/key-spacing": "error",
    "vue/space-infix-ops": "error",
    "vue/object-curly-spacing": ["error","always"]
  },
  "overrides": [
    {
      "files": ["*.test.js"],
      "rules": {
        "no-magic-numbers": "off"
      }
    }
  ]
}
