{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-property-sort-order-smacss"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "at-rule-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["blockless-after-same-name-blockless", "after-comment"]
    }],
    "at-rule-no-vendor-prefix": true,
    "at-rule-semicolon-space-before": "never",
    "comment-empty-line-before": ["always", {
      "except": ["first-nested"],
      "ignore": ["after-comment", "stylelint-commands"]
    }],
    "declaration-block-no-duplicate-properties": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-weight-notation": "named-where-possible",
    "function-url-no-scheme-relative": true,
    "function-url-quotes": "always",
    "media-feature-name-no-vendor-prefix": true,
    "no-duplicate-selectors": true,
    "number-leading-zero": "never",
    "number-max-precision": 3,
    "order/order": ["custom-properties", "declarations", "rules", "at-rules"],
    "property-no-vendor-prefix": true,
    "selector-attribute-quotes": "always",
    "selector-list-comma-newline-before": "never-multi-line",
    "selector-no-vendor-prefix": true,
    "string-quotes": "single",
    "value-keyword-case": "lower",
    "value-no-vendor-prefix": true
  }
}
