/**
 * Image thumbnail variant
 */
.card--image {
  &:hover .card__thumb::before {
    transform: scale(1.03);
  }

  .card__inner {
    text-align: center;

    p {
      font-size: .9rem;
      margin-top: var(--vr);
    }
  }
}
