.card--link {
  text-align: center;
  position: relative;

  @media (--bp-desktop) {
    max-width: 14.3rem;
  }

  .card__thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 200px;
    overflow: hidden;
    position: relative;
    margin-top: 0;
    margin-bottom: auto;

    &:before {
      background: inherit;
      bottom: 0;
      content: "";
      display: block;
      left: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: transform .3s;
    }
  }


  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  svg {
    color: white;
    position: absolute;
    top: calc((50% + 100px) - 7px);
    right: 10px;
  }

  .card__header {
    color: var(--col-white);
    padding: var(--vr);
    position: relative;
    margin-bottom: auto;
    margin-right: 15px;
  }

}