/**
 * Lists of images as used in senior leadership pages
 */
.card--imagelisting {
  .card__inner {
    padding-right: calc(var(--vr) / 2);
    padding-left: calc(var(--vr) / 2);
  }

  .card__thumb {
    height: 260px;
  }

  .card__header {
    margin-bottom: 0;
    color: var(--col-brand);
    font-weight: bold;
    text-decoration: underline;
  }
}
