/**
 * Focus box as used in About us - Growing esteem pages
 */
.card--focus-box {
  position: relative;
  padding: calc(var(--vr) * 2);

  &-vert {
    padding: var(--vr);
  }

  &__cnr {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: .5;
    color: var(--col-emerald);

    &--top-left {
      top: 0;
      left: 0;
    }

    &--btm-right {
      right: 0;
      bottom: 0;
    }
  }

  &--brand {
    .card--focus-box__cnr {
      color: var(--col-brand);
    }
  }

  &--white {
    .card--focus-box__cnr {
      color: #fff;
    }
  }

  &__icon {
    width: 100%;
    max-width: 200px;
    margin-right: auto;
    margin-bottom: var(--vr);
    margin-left: auto;
    padding: 0 var(--vr);
  }

  .list-item:nth-child(7n+1) &__icon { color: var(--col-1); }
  .list-item:nth-child(7n+2) &__icon { color: var(--col-2); }
  .list-item:nth-child(7n+3) &__icon { color: var(--col-3); }
  .list-item:nth-child(7n+4) &__icon { color: var(--col-4); }
  .list-item:nth-child(7n+5) &__icon { color: var(--col-5); }
  .list-item:nth-child(7n+6) &__icon { color: var(--col-6); }
  .list-item:nth-child(7n) &__icon { color: var(--col-7); }
}
