
.card {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  text-decoration: none;

  &__inner {
    padding: var(--vr);
  }

  &:hover {
    .card__thumb {
      &:before {
        transform: scale(1.1);
      }
    }
  }

  &__thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;    
    height: 200px;

    &--zoom {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;    
      height: 200px;
      overflow: hidden;
      position: relative;

      &:before {
        background: inherit;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .3s;
      }
    }
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: var(--vr);
  }

  /*
  * Image thumbnail variant
  */

  &--image {

    .card__inner {
      text-align: center;

      p {
        font-size: 0.9rem;
        margin-top: var(--vr);
      }
    }
  }

  /*
  * Small link boxes - used for linking elsewhere at the end of the page
  */

  &--link {

    .card__thumb {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;    
      height: 200px;
      overflow: hidden;
      position: relative;

      &:before {
        background: inherit;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .3s;
      }
    }

    text-align: center;

    @media (--bp-desktop) {
      max-width: 14.3rem;
    }

    .card__inner {
      padding: var(--vr) calc(var(--vr) / 2);
    }

    .card__header {
      color: var(--col-white);
      padding-right: var(--vr);
      padding-left: var(--vr);
    }

    .card__header-icon {
      color: var(--col-white);
      float: right;
      width: 1rem;
      height: 1rem;
    }

  }

  /*
  * Division pages - as used in the About us senior leadship divisions
  */

  &--division {
    text-align: left;
    .card__title{
      min-height: 6.5rem;
      font-family: var(--ff-lead);
      font-weight: var(--fw-semibold);
      font-size: 1.125em;
      margin: 0;
      padding: var(--vr);
      @supports (display: flex) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .card__footer {
      padding: 0 var(--vr) var(--vr) var(--vr);
    }

    .card__subheader {
      min-height: 5.5rem;
    }

    hr {
      margin: var(--vr) 0;
      border: 0;
      border-bottom: 2px solid var(--col-brand-mid1);
    }

  }

  /*
  * News listings
  * TODO: add fullwidth variant
  */

  &--news {
    background-color: var(--col-white);
    color: var(--col-brand);

    .card__inner {
    }

    .card__header {
      margin-top: var(--vr);
    }
  }

  /*
  * Lists of images as used in senior leadership pages
  */

  &--imagelisting {
    
    .card__inner {
      padding-left: calc(var(--vr) / 2);
      padding-right: calc(var(--vr) / 2);
    }

    .card__thumb {
      height: 260px;
    }

    .card__header {
      text-decoration: underline;
      font-weight: bold;
      margin-bottom: 0;
      color: var(--col-brand);
    }
    

  }

  
  /*
  * Focus box as used in About us - Growing esteem pages
  */

  &--focus-box {
    position: relative;
    padding: var(--vr);

    &__cnr {
      position: absolute;
      width: 6em;
      height: 6em;
      opacity: 0.5;
      color: var(--col-emerald);
    
      &--top-left {
        top: 0;
        left: 0;
      }

      &--btm-right {
        bottom: 0;
        right: 0;
      }
    }

    &--brand {
      .card--focus-box__cnr {
        color: var(--col-brand);
      }
    }

    &--white {
      .card--focus-box__cnr {
        color: var(--col-white);
      }
    }

  }

  &--pathfinder {
    .card__header {
      margin-top: var(--vr);
      text-align: center;
    }

    .card__footer {
      padding-top: 0;
    }

    .card--focus-box__cnr {
      color: #fff;
      opacity: 0.2;
      transition: opacity .3s;
    }

    &:hover .card--focus-box__cnr {
      opacity: 0.3;
    }

  }


  &--bdr {
    border-bottom: 0.4rem solid;

    /*
    * Border color sequence
    */

    .list-item:nth-child(7n+1) & {
      border-color: var(--col-1);
    }
    .list-item:nth-child(7n+2) & {
      border-color: var(--col-2);
    }
    .list-item:nth-child(7n+3) & {
      border-color: var(--col-3);
    }
    .list-item:nth-child(7n+4) & {
      border-color: var(--col-4);
    }
    .list-item:nth-child(7n+5) & {
      border-color: var(--col-5);
    }
    .list-item:nth-child(7n+6) & {
      border-color: var(--col-6);
    }
    .list-item:nth-child(7n+7) & {
      border-color: var(--col-7);
    }
  }

  /*
  * Border colors on hover
  */

  &--bdr-hover {
    border-bottom: 0.4rem solid #eee;
    &:hover {
      .list-item:nth-child(7n+1) & {
        border-color: var(--col-1);
      }
      .list-item:nth-child(7n+2) & {
        border-color: var(--col-2);
      }
      .list-item:nth-child(7n+3) & {
        border-color: var(--col-3);
      }
      .list-item:nth-child(7n+4) & {
        border-color: var(--col-4);
      }
      .list-item:nth-child(7n+5) & {
        border-color: var(--col-5);
      }
      .list-item:nth-child(7n+6) & {
        border-color: var(--col-6);
      }
      .list-item:nth-child(7n+7) & {
        border-color: var(--col-7);
      }
    }
  }

}
