
.card {
  width: 100%;
  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
  }

  min-height: 100%;
  text-decoration: none;

  &.btn-owner {
    &:visited {
      color: var(--col-brand);
    }
    &.bg-inverted{
      &:visited {
        color: white;
      }
    }
  }

  &__inner {
    padding: var(--vr);
  }


  &__thumb {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;    
    height: 200px;

    &--zoom {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;    
      height: 200px;
      overflow: hidden;
      position: relative;

      &:before {
        background: inherit;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .3s;
      }
    }
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: var(--vr);
  }

  /*
  * Image thumbnail variant
  */

  &--image {

    &:hover {
      .card__thumb {
        &:before {
          transform: scale(1.1);
        }
      }
    }

    .card__inner {
      text-align: center;

      p {
        font-size: 0.9rem;
        margin-top: var(--vr);
      }
    }
  }

  /*
  * Small link boxes - used for linking elsewhere at the end of the page
  */

  &--link {
    text-align: center;
    position: relative;


    @media (--bp-desktop) {
      max-width: 14.3rem;
    }

    .card__thumb {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;    
      height: 200px;
      overflow: hidden;
      position: relative;
      margin-top: 0;
      margin-bottom: auto;

      &:before {
        background: inherit;
        bottom: 0;
        content: "";
        display: block;
        left: 0;
        position: absolute;
        right: 0;
        top: 0;
        transition: transform .3s;
      }
    }


    @supports (display: flex) {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    svg {
      color: white;
      position: absolute;
      top: calc((50% + 100px) - 7px);
      right: 10px;
    }

    .card__header {
      color: var(--col-white);
      padding: var(--vr);
      position: relative;
      margin-bottom: auto;
      margin-right: 15px;
    }

  }

  /*
  * Division pages - as used in the About us senior leadship divisions
  */

  &--division {
    text-align: left;
    .card__title{
      min-height: 6.5rem;
      font-family: var(--ff-lead);
      font-weight: var(--fw-semibold);
      font-size: 1.125em;
      margin: 0;
      padding: var(--vr);
      @supports (display: flex) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }

    .card__footer {
      padding: 0 var(--vr) var(--vr) var(--vr);
    }

    .card__subheader {
      min-height: 5.5rem;
    }

    hr {
      margin: var(--vr) 0;
      border: 0;
      border-bottom: 2px solid var(--col-brand-mid1);
    }

  }

  /*
  * News listings
  * TODO: add fullwidth variant
  */

  &--news {
    background-color: var(--col-white);
    color: var(--col-brand);

    .card__inner {
    }

    .card__header {
      margin-top: var(--vr);
    }
  }

  /*
  * Lists of images as used in senior leadership pages
  */

  &--imagelisting {
    
    .card__inner {
      padding-left: calc(var(--vr) / 2);
      padding-right: calc(var(--vr) / 2);
    }

    .card__thumb {
      height: 260px;
    }

    .card__header {
      text-decoration: underline;
      font-weight: bold;
      margin-bottom: 0;
      color: var(--col-brand);
    }
    

  }

  &--image-focus {
    padding: 0 !important;
    width: 100%;
    text-align: left;
    

    .card__thumb {
      position: relative;
      height: 240px;
      img {
        height: 240px;
        width: 100%;
       
        @supports(object-fit: cover){
          object-fit: cover;
          object-position: center;
        }
      }
      
      &:before, &:after {
        position: absolute;
        content: '';
        display: inline-block;
        width: 5rem; 
        height: 5rem; 
        background-size: cover; 
        margin-top: .05rem;
        opacity: 0.6;
      }

      &:before {
        top: 0;
        left: 0;
        background-image: url('./../icons/focus-top-left.svg?fill=#9AD6C3');
      }

      &:after {
        bottom: 0;
        right: 0;
        background-image: url('./../icons/focus-bottom-right.svg?fill=#9AD6C3');
      }

    }

    &--col-brand {
      .card__thumb {
        &:before {
          background-image: url('./../icons/focus-top-left.svg?fill=#074482');
        }

        &:after {
          background-image: url('./../icons/focus-bottom-right.svg?fill=#074482');
        }
      }
    }

    &--col-white {
      .card__thumb {
        &:before {
          background-image: url('./../icons/focus-top-left.svg?fill=#FFF');
        }

        &:after {
          background-image: url('./../icons/focus-bottom-right.svg?fill=#FFF');
        }
      }
    }

    &.btn-owner:hover {
      .card__thumb {
        &:before, &:after {
          opacity: 0.7;
        }
      }
      .card__inner {
        h2,h3,h4 {
          text-decoration: underline;
        }
      }
    }

    &.bg-alt {
      .card__inner {
        padding-left: 0;
      }
    }
  }

  
  /*
  * Focus box as used in About us - Growing esteem pages
  */

  &--focus-box {
    position: relative;
    padding: var(--vr);

    &--loose {
      padding: calc(var(--vr) * 2);
    }

    &__cnr {
      position: absolute;
      width: 6em;
      height: 6em;
      opacity: 0.5;
      color: var(--col-emerald);
    
      &--top-left {
        top: 0;
        left: 0;
      }

      &--btm-right {
        bottom: 0;
        right: 0;
      }
    }

    &--brand {
      .card--focus-box__cnr {
        color: var(--col-brand);
      }
    }

    &--white {
      .card--focus-box__cnr {
        color: var(--col-white);
      }
    }

  }

  /*
  * Pathfinder cards - highlight focus on hover
  */

  &--pathfinder {

    .card__header {
      margin-top: var(--vr);
      text-align: center;
      min-height: calc(var(--vr) * 3.5);
      padding-left: var(--vr);
      padding-right: var(--vr);

    }

    .card__inner {
      text-align: center;
    }

    &--sml {
      text-align: center;

      .btn {
        margin-bottom: var(--vr);
      }
    }


    .card__footer {
      padding-top: 0;
    }

    .card--focus-box__cnr {
      color: #fff;
      opacity: 0.2;
      transition: opacity .3s;
    }

    &:hover .card--focus-box__cnr {
      opacity: 0.3;
    }

  }


  &--bdr {
    border-bottom: 0.4rem solid;

    /*
    * Border color sequence
    */

    .list-item:nth-child(7n+1) & {
      border-color: var(--col-1);
    }
    .list-item:nth-child(7n+2) & {
      border-color: var(--col-2);
    }
    .list-item:nth-child(7n+3) & {
      border-color: var(--col-3);
    }
    .list-item:nth-child(7n+4) & {
      border-color: var(--col-4);
    }
    .list-item:nth-child(7n+5) & {
      border-color: var(--col-5);
    }
    .list-item:nth-child(7n+6) & {
      border-color: var(--col-6);
    }
    .list-item:nth-child(7n+7) & {
      border-color: var(--col-7);
    }
  }

  /*
  * Border colors on hover
  */

  &--bdr-hover {
    border-bottom: 0.4rem solid #eee;
    &:hover {
      .list-item:nth-child(7n+1) & {
        border-color: var(--col-1);
      }
      .list-item:nth-child(7n+2) & {
        border-color: var(--col-2);
      }
      .list-item:nth-child(7n+3) & {
        border-color: var(--col-3);
      }
      .list-item:nth-child(7n+4) & {
        border-color: var(--col-4);
      }
      .list-item:nth-child(7n+5) & {
        border-color: var(--col-5);
      }
      .list-item:nth-child(7n+6) & {
        border-color: var(--col-6);
      }
      .list-item:nth-child(7n+7) & {
        border-color: var(--col-7);
      }
    }
  }

}
