.filtered-results {

  &__title {
  	font-weight: normal;
  	margin-bottom: 16px;
  	&-notice {
	  cursor: pointer;
	  text-decoration: underline;
	}
  }

  &__items {
	display: flex;
	padding: 16px 0;
   	flex-direction: column;
	@media(--bp-x-tablet) {
	  justify-content: space-between;
	  flex-wrap: wrap;
	  flex-direction: row;
	}
  }
  
  &__item {
	 max-width: 100%;
	 width: 100%;
	 margin-bottom: 10px;
	  @media(--bp-x-tablet) {
	  	max-width: 49%;
	  }
  }

  &__card {
	display: block;
	padding: 8px 21px 8px 16px;
	position: relative;
	border: 1px solid rgb(var(--col-purple-mid-2));
	text-decoration: none;
	border-left: 6px solid rgb(var(--col-purple-mid-2));
	&--minor {
	  border-color: rgb(var(--col-purple-mid-1));
   	}
  	&-label {
	  display: block;
	  text-transform: uppercase;
	  font-size: 12px;
	  text-decoration: none;
   	}
  	&-category {
	 color: rgb(var(--col-background-primary-navy));
	 font-weight: bold;
   	}
   	&:hover {
	  & .filtered-results__card-category {
		text-decoration: underline;
	  }
	}
  }

  &__content {
	border-top: 1px solid rgba(var(--col-background-primary-navy), 0.5);
  }
  
  &__no-items {
	padding: 50px;
	text-align: center;
	color: rgb(var(--col-black-dark));
  	margin: 0 auto;
  }
}
