.layout {
  display: table;
  position: relative;
  width: 100%;

  &__pre,
  &__post {
    display: table-cell;
    width: 100%;
    height: 100%;
    vertical-align: top;

    @media (--bp-x-desktop) {
      width: var(--panel-width);
    }
  }

  &__pre {
    float: left;

    @media (--bp-x-desktop) {
      float: none;
    }
  }

  &__main {
    display: table-cell;
    width: 100%;
    float: left;

    @media (--bp-x-desktop) {
      width: calc(100% - var(--panel-width));
      float: none;
    }
  }

  &--left {
    padding-left: calc((100% - var(--w-mid)) / 2);

    @media (--bp-xx-wide) {
      padding-left: calc(((100% - var(--w-mid)) / 2) - calc(var(--panel-width) / 2));
    }
  }

  &--right {
    .layout__main {
      float: left;
    }
  }

  &__post {
    float: right;
  }
}
