.layout {
  width: 100%;
  display: table;
  height: 100%;

  &__pre,
  &__post {
    width: 100%;
    height: 100%;
    display: table-cell;
    vertical-align: top;

    @media (--bp-desktop) {
      width: var(--panel-width);
    }
  }

  &__pre {
    float: left;

    @media (--bp-desktop) {
      float: none;
    }
  }

  &__main {
    float: left;
    width: 100%;
    display: table-cell;

    @media (--bp-desktop) {
      float: none;
      width: calc(100% - var(--panel-width));
    }
  }

  &--right {
    .layout__main {
      float: left;
    }
  }

  &__post {
    float: right;
  }
}
