.side-panel {
  &__inner {
    padding: var(--vr);

    @media (--bp-desktop) {
      .layout--left & {
        padding-left: 0;
      }
    }
  }

  &__title {
    margin-bottom: calc(var(--vr) / 2);
    padding-left: calc(var(--vr) / 2);
  }

  &__nav {
    padding: 0 var(--vr);
    list-style: none;

    &-item {
      padding: calc(var(--vr) / 2);
      border-bottom: 1px solid var(--col-brand);
    }

    @media (--bp-desktop) {
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (--bp-desktop) {
    padding-top: calc(var(--vr) * 5);
  }
}
