.media-gallery {
  color: #fff;
  background: #000;

  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 5px;

    &--image {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  &__figure {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .embed {
      width: 100%;
      height: 100%;
      flex: 1;
    }
  }

  &__chevron {
    color: #fff;
    cursor: pointer;
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: auto;
    background: #000;

    @media (--bp-desktop) {
      width: 80%;
      height: 600px;
    }
  }

  &__thumbnails {
    display: flex;
    height: 74px;
    width: 80%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;

    &--thumb {
      cursor: pointer;
      margin-right: 5px;
      opacity: .7;
      height: 100%;

      &.active {
        opacity: 1;
        fill: rgba(153, 162, 170, .25);
      }
    }

    .embed {
      &--video {
        position: relative;
        width: 100px;
        height: 100%;

        .embed {
          height: 100%;
        }
      }

      &--cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    &--image {
      height: 100%;
    }

    @media (--bp-desktop) {
      width: auto;
    }
  }

  &__media-count {
    width: 90%;
    margin: auto;
    padding-top: 11px;
    font-size: 16px;

    @media (--bp-desktop) {
      width: 80%;
    }
  }

  &__title {
    width: 90%;
    margin: 18px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;

    @media (--bp-desktop) {
      width: 80%;
    }
  }

  &__description {
    width: 90%;
    margin: auto;
    font-size: 16px;
    line-height: 25px;

    @media (--bp-desktop) {
      width: 80%;
    }
  }

  &__arrow-wrapper {
    display: none;
    @media (--bp-desktop) {
      display: block;
      padding: 10px;
    }
  }
}
