.media-gallery {
  color: #fff;
  background: rgb(var(--col-black-dark));
  padding-bottom: 2rem;

  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: .313rem;

    &-image {
      width: 100%;
      object-fit: contain;
      height: 100%;
    }
  }

  &__figure {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
    height: 100%;

    .embed {
      width: 100%;
      height: 100%;
      flex: 1;
    }
  }

  &__chevron {
    color: #fff;
    cursor: pointer;
  }

  &__container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 400px;
    margin: auto;
    background: rgb(var(--col-black-dark));

    @media (--bp-desktop) {
      width: 80%;
      height: 600px;
    }
  }

  &__thumbnails {
    display: flex;
    height: 74px;
    width: 80%;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;

    &--thumb {
      cursor: pointer;
      margin-right: .313rem;
      opacity: .7;
      height: 100%;

      &.active {
        opacity: 1;
        fill: rgba(153, 162, 170, .25);
      }
    }

    .embed {
      &--video {
        position: relative;
        width: 100px;
        height: 100%;

        .embed {
          height: 100%;
        }
      }

      &--cover {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 2;
      }
    }

    &--image {
      height: 100%;
    }

    @media (--bp-desktop) {
      width: auto;
    }
  }

  &__media-count {
    width: 90%;
    margin: auto;
    padding-top: .6875rem;
    font-size: 1rem;

    @media (--bp-desktop) {
      width: 80%;
    }
  }

  &__title {
    width: 90%;
    margin: 1.125rem auto;
    font-size: 1.125rem;
    font-weight: var(--fw-semibold);
    line-height: 1.3889;

    @media (--bp-desktop) {
      text-align: center;
      width: 80%;
    }
  }

  &__description {
    width: 90%;
    margin: auto;
    font-size: .9375rem;
    line-height: 1.5625;
    color: rgb(var(--col-black-mid-1));

    @media (--bp-desktop) {
      text-align: center;
      width: 80%;
    }
  }

  &__arrow-wrapper {
    display: none;
    @media (--bp-desktop) {
      display: block;
      padding: 2rem;
    }
  }
}
