.photo-gallery--pop-over {
  display: none;
  background: rgba(0, 0, 0, .9);
  position: relative;
  z-index: 3;

  &__open {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;

    @media (--bp-max-mobile) {
      justify-content: flex-start;
      padding-top: 2rem;
    }
  }

  &__container {
    width: 100%;
    background: transparent;
  }

  &__slider {
    width: 80%;

    @media (--bp-max-mobile) {
      width: 100%;
    }
  }

  &__thumbnails {
    display: none;

    @media (--bp-max-mobile) {
      display: flex;
    }
  }

  figure {
    width: 80%;

    @media (--bp-max-mobile) {
      width: 100%;
    }
  }

  &__media-count {
    width: 72%;
    margin: 0 auto;
    position: relative;

    @media (--bp-max-mobile) {
      width: 88%;
      margin-bottom: 1rem;
    }
  }

  &__close {
    color: #fff;
    position: absolute;
    top: -.5rem;
    right: -5.5rem;
    cursor: pointer;

    @media (--bp-max-mobile) {
      right: .5rem;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(.95);
  }
}
