.thumbnails {
  max-width: 63rem;
  margin-right: auto;
  margin-left: auto;

  &__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    @media (--bp-desktop) {
      margin-left: -.75rem;
      margin-right: -.75rem;
    }
  }

  &__col {
    display: flex;
    flex-direction: column;
    margin-top: .75rem;
    margin-bottom: .75rem;
    padding-right: .75rem;
    padding-left: .75rem;

    &--2-col {
      @media (--bp-desktop) {
        width: 50%;
      }
    }

    &--3-col {
      @media (--bp-desktop) {
        width: 33.333%;
      }
    }

    &--4-col {
      @media (--bp-desktop) {
        width: 25%;
      }
    }

    &--no-caption {
      justify-content: center;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    margin: 0;
    flex-direction: column;
    cursor: pointer;

    &--prevent-click {
      outline: none;
      cursor: default;
    }
  }

  &__caption {
    font-weight: var(--fw-bold);
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 1rem;
  }

  &__image {
    object-fit: contain;
    width: 100%;

    &--with-caption {
      margin-bottom: 1.5rem;
    }
  }

  &__video {
    display: flex;
    align-items: center;

    ::before {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      z-index: calc(var(--z-default) + 1);
    }

    &-embed {
      width: 100%;
    }

    &--with-caption {
      margin-bottom: 1.5rem;
    }
  }

  @media (--bp-desktop) {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}
