.thumbnails {
  &__item {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    cursor: pointer;
    position: relative;

    figcaption {
      color: #000;
      font-size: 1rem;
      margin: .5rem auto;
      font-weight: var(--fw-semibold);
    }
  }

  &__image {
    object-fit: contain;
    width: 100%;
    height: 100%;
    max-height: 250px;
  }

  &__video {
    ::before {
      width: 100%;
      height: 100%;
      position: relative;
      top: 0;
      left: 0;
      z-index: 2;
    }
  }

  &__description {
    color: #000;
    font-size: .9rem;
    text-align: center;
  }

  .invisible {
    opacity: 0;
  }

  .anim-reveal {
    animation: reveal 1s backwards;
  }
}
