.card-focus {
  display: flex;
  position: relative;
  padding: 65px 54px 72px 95px;

  &__topLeft,
  &__bottomRight {
    position: absolute;
    top: 0;
    left: 0;
    fill: rgb(var(--col-blue-mid-2));

    &.navy {
      fill: rgb(var(--col-navy-mid-2));
    }

    &.teal {
      fill: rgb(var(--col-teal-mid-2));
    }

    &.yellow {
      fill: rgb(var(--col-yellow-mid-2));
    }

    &.emerald {
      fill: rgb(var(--col-emerald-mid-2));
    }

    &.orange {
      fill: rgb(var(--col-orange-mid-2));
    }

    &.green {
      fill: rgb(var(--col-green-mid-2));
    }

    &.purple {
      fill: rgb(var(--col-purple-mid-2));
    }

    &.pink {
      fill: rgb(var(--col-pink-mid-2));
    }

    &.semi-opaque {
      opacity: .33;
    }
  }

  &__bottomRight {
    top: inherit;
    right: 0;
    bottom: 0;
    left: inherit;
  }
}
