/**
 * Button + Button owner
 */
.btn {
  display: inline-block;
  padding: calc(var(--vr) * .8);
  width: 100%;
  transition: all .2s;
  border: 2px solid color(rgb(var(--col-brand)) alpha(30%));
  border-radius: var(--br);
  color: rgb(var(--col-brand));
  font-weight: var(--fw-bold);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:focus,
  &:hover,
  &:visited,
  &-owner:focus .btn,
  &-owner:hover .btn {
    border-color: rgb(var(--col-brand));
    color: rgb(var(--col-brand));
  }

  &:active,
  &-owner:active .btn {
    border-color: rgb(var(--col-background-primary-white));
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: var(--vr);

    @media (--bp-tablet) {
      margin-top: 0;
      margin-left: var(--vr);
    }
  }

  &--inverted {
    &,
    &:visited,
    &:focus {
      border-color: color(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: transparent;
      color: rgb(var(--col-background-primary-white));
    }

    &:hover {
      border-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-background-primary-white));
    }

    &:active {
      background-color: rgb(var(--col-background-primary-white));
      border-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color(rgb(var(--col-background-primary-white)) alpha(15%));
    }
  }

  &--campaign {
    &,
    &:visited,
    &:focus {
      border-color: color(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: rgba(var(--col-background-tertiary-navy), .8);
      color: rgb(var(--col-background-primary-white));
    }

    &:hover {
      background-color: rgba(var(--col-background-secondary-navy), .7);
      border-color: rgba(var(--col-link-active-on-dark), .7);
      color: rgb(var(--col-background-primary-white));
    }

    &:active {
      border-color: rgb(var(--col-brand));
      background-color: rgba(var(--col-link-active-on-dark), .85);
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: color(rgb(var(--col-black-mid-2)) alpha(70%));
    }
  }

  &--cta.btn {
    border-color: rgb(var(--col-brand));
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));

    &:hover {
      color: rgb(var(--col-background-primary-white));
      border-color: rgb(var(--col-blue-dark));
      background-color: rgb(var(--col-blue-dark));
    }

    &:active {
      border-color: rgb(var(--col-navy-mid-1));
      background-color: rgb(var(--col-navy-mid-1));
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color(rgb(var(--col-navy-dark)) alpha(0%));
      background-color: color(rgb(var(--col-navy-dark)) alpha(50%));
    }
  }

  &-owner:focus .btn--inverted,
  &-owner:hover .btn--inverted {
    border-color: rgb(var(--col-background-primary-white));
    color: rgb(var(--col-background-primary-white));
  }

  &-owner:active .btn--inverted,
  &--hard,
  &--secondary {
    background-color: rgb(var(--col-background-primary-white));
    color: rgb(var(--col-brand));

    &:hover {
      background-color: rgb(var(--col-blue-light));
      border-color: rgb(var(--col-blue-light));
    }

    &:active {
      border-color: rgb(var(--col-brand));
      background-color: rgb(var(--col-background-tertiary-navy));
      color: rgb(var(--col-background-primary-white));
    }

    &.btn--disabled,
    &:disabled {
      color: color(rgb(var(--col-navy-dark)) alpha(50%));
      border-color: color(rgb(var(--col-background-primary-white)) alpha(50%));
      background-color: color(rgb(var(--col-background-primary-white)) alpha(50%));
    }
  }

  &--sml {
    padding: calc(var(--vr) / 2) 1.25em;
  }

  &--xsml {
    padding: calc(var(--vr) / 3) 1.25em;
  }

  &--wide {
    min-width: calc(var(--vr) * 10);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--xwide {
    min-width: calc(var(--vr) * 20);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--fullwidth {
    min-width: 100%;
    text-align: center;

    & + & {
      margin-top: var(--vr);
      margin-left: 0;
    }
  }

  &--center {
    margin-right: auto;
    margin-left: auto;
  }

  &--icon {
    position: relative;
    padding-right: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      right: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }

    &--chevron-right {
      &::after {
        background-image: url('~icons/chevron-right.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/chevron-right.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/chevron-right.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/chevron-right.svg?fill=#094183');
          }
        }
      }
    }

    &--chevron-left {
      &::after {
        background-image: url('~icons/chevron-left.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/chevron-left.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/chevron-left.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/chevron-left.svg?fill=#094183');
          }
        }
      }
    }

    &--download {
      &::after {
        background-image: url('~icons/download.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/download.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/download.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/download.svg?fill=#094183');
          }
        }
      }
    }

    &--search {
      &::after {
        background-image: url('~icons/search.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/search.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/search.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/search.svg?fill=#094183');
          }
        }
      }
    }

    &--twitter {
      &::after {
        background-image: url('~icons/twitter.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/twitter.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/twitter.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/twitter.svg?fill=#094183');
          }
        }
      }
    }
  }

  &--icon-before {
    position: relative;
    padding-left: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      left: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }
  }

  &--disabled,
  &:disabled {
    color: color(rgb(var(--col-navy-dark)) alpha(50%));
    border-color: color(rgb(var(--col-navy-mid-1)) alpha(50%));
    pointer-events: none;
    cursor: not-allowed;
  }

  @media (--bp-tablet) {
    width: auto;
  }
}
