/**
 * Button + Button owner
 */
.btn {
  &,
  &:visited {
    display: inline-block;
    padding: .625rem 1rem;
    width: 100%;
    transition: all .2s;
    border: 2px solid color-mod(rgb(var(--col-brand)) alpha(30%));
    border-radius: var(--br);
    color: rgb(var(--col-brand));
    font-weight: var(--fw-bold);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
  }

  &:focus,
  &:hover {
    border-color: rgb(var(--col-brand));
    color: rgb(var(--col-brand));
  }

  &:active {
    border-color: rgb(var(--col-brand));
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: 1rem;

    @media (--bp-tablet) {
      margin-top: 0;
      margin-left: 1rem;
    }
  }

  &--inverted {
    &,
    &:visited {
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: transparent;
      color: rgb(var(--col-background-primary-white));
    }

    &:hover,
    &:focus {
      border-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-background-primary-white));
    }

    &:active {
      background-color: rgb(var(--col-background-primary-white));
      border-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(15%));
    }
  }

  &--campaign {
    &,
    &:visited {
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: rgba(var(--col-background-tertiary-navy), .8);
      color: rgb(var(--col-background-primary-white));
    }

    &:hover,
    &:focus {
      background-color: rgba(var(--col-background-secondary-navy), .7);
      border-color: rgba(var(--col-link-active-on-dark), .7);
      color: rgb(var(--col-background-primary-white));
    }

    &:active {
      border-color: rgb(var(--col-brand));
      background-color: rgba(var(--col-link-active-on-dark), .85);
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: color-mod(rgb(var(--col-black-mid-2)) alpha(70%));
    }
  }

  &--cta.btn {
    border-color: rgb(var(--col-brand));
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));

    &:hover {
      color: rgb(var(--col-background-primary-white));
      border-color: rgb(var(--col-blue-dark));
      background-color: rgb(var(--col-blue-dark));
    }

    &:active {
      border-color: rgb(var(--col-navy-mid-1));
      background-color: rgb(var(--col-navy-mid-1));
      color: rgb(var(--col-brand));
    }

    &.btn--disabled,
    &:disabled {
      color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color-mod(rgb(var(--col-navy-dark)) alpha(0%));
      background-color: color-mod(rgb(var(--col-navy-dark)) alpha(50%));
    }
  }

  &--hard,
  &--secondary {
    &,
    &:visited {
      border-color: rgb(var(--col-background-primary-white));
      background-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-brand));
    }

    &:hover,
    &:focus {
      border-color: rgb(var(--col-blue-light));
      background-color: rgb(var(--col-blue-light));
    }

    &:active {
      border-color: rgb(var(--col-background-primary-white));
      background-color: rgb(var(--col-background-tertiary-navy));
      color: rgb(var(--col-background-primary-white));
    }

    &.btn--disabled,
    &:disabled {
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
      color: color-mod(rgb(var(--col-navy-dark)) alpha(50%));
      background-color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
    }
  }

  &--event {
    &,
    &:visited {
      background-color: rgb(var(--col-green-dark-tint));
      font-size: .875rem;
      font-weight: var(--fw-bold);
      color: rgb(var(--col-white));
      border: 0;
      border-radius: calc(var(--br) / 2);
      transition: all .15s ease;
    }

    &:hover,
    &:focus {
      background-color: rgb(var(--col-green-dark));
      color: rgb(var(--col-white));
    }

    &:active {
      background-color: rgb(var(--col-green-light));
      color: rgb(var(--col-green-dark-tint));
    }

    &.btn--disabled,
    &:disabled {
      color: color-mod(rgb(var(--col-background-primary-white)) alpha(50%));
      border-color: color-mod(rgb(var(--col-background-primary-white)) alpha(30%));
      background-color: color-mod(rgb(var(--col-black-mid-2)) alpha(70%));
    }

    &-alt {
      &,
      &:visited {
        color: rgb(var(--col-white));
        background-color: rgb(var(--col-emerald-dark));
        border: 2px solid rgb(var(--col-emerald-mid-2));
      }

      &:hover,
      &:focus {
        border: 2px solid rgb(var(--col-emerald-mid-1));
        color: rgb(var(--col-white));
      }

      &:active {
        color: rgb(var(--col-emerald-dark));
        background-color: rgb(var(--col-background-primary-white));
        border: 2px solid rgb(var(--col-emerald-light));
      }

      &.btn--disabled,
      &:disabled {
        color: rgb(var(--col-emerald-dark));
        background-color: rgb(var(--col-emerald-light));
        border: 2px solid rgb(var(--col-emerald-mid-1));
      }
    }
  }

  /* Sizes */
  &--sml {
    padding: .5rem 1rem;
  }

  &--xsml {
    padding: .375rem 1rem;
  }

  &--wide {
    min-width: calc(var(--vr) * 10);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--xwide {
    min-width: calc(var(--vr) * 20);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--fullwidth {
    min-width: 100%;
    text-align: center;

    & + & {
      margin-top: 1rem;
      margin-left: 0;
    }
  }

  /* Modifiers */
  &--center {
    margin-right: auto;
    margin-left: auto;
  }

  &--icon {
    position: relative;
    padding-left: calc(var(--vr * .83));
    padding-right: 2.5rem;
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75rem / 2));
      right: 1rem;
      width: .75rem;
      height: .75rem;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }

    &--chevron-right {
      &::after {
        background-image: url('~icons/chevron-right.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/chevron-right.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/chevron-right.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/chevron-right.svg?fill=#094183');
          }
        }
      }
    }

    &--chevron-left {
      &::after {
        background-image: url('~icons/chevron-left.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/chevron-left.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/chevron-left.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/chevron-left.svg?fill=#094183');
          }
        }
      }
    }

    &--download {
      &::after {
        background-image: url('~icons/download.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/download.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/download.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/download.svg?fill=#094183');
          }
        }
      }
    }

    &--search {
      &::after {
        background-image: url('~icons/search.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/search.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/search.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/search.svg?fill=#094183');
          }
        }
      }
    }

    &--twitter {
      &::after {
        background-image: url('~icons/twitter.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/twitter.svg?fill=#fff');
        }
      }

      &-inverted {
        &::after {
          background-image: url('~icons/twitter.svg?fill=#fff');
        }

        &:active {
          &::after {
            background-image: url('~icons/twitter.svg?fill=#094183');
          }
        }
      }
    }

    &--down {
      &::after {
        background-image: url('~icons/chevron-down.svg?fill=#094183');
      }

      &:active {
        &::after {
          background-image: url('~icons/chevron-down.svg?fill=#fff');
        }
      }
    }
  }

  &--icon-before {
    position: relative;
    padding-left: 2.5rem;
    padding-right: calc(var(--vr * .83));
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75rem / 2));
      left: 1rem;
      width: .75rem;
      height: .75rem;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }
  }

  &--disabled,
  &:disabled {
    color: color-mod(rgb(var(--col-navy-dark)) alpha(50%));
    border-color: color-mod(rgb(var(--col-navy-mid-1)) alpha(50%));
    pointer-events: none;
    cursor: not-allowed;
  }

  &--text,
  &--text:active {
    border: 0;
    padding: 0;
    font-weight: var(--fw-semibold);
    width: auto;
    color: rgb(var(--col-navy-dark));

    &:hover,
    &:focus {
      background-color: transparent;
      text-decoration: underline;
    }

    .push-icon {
      padding-left: 0 !important;

      &__icon {
        margin-left: .25rem;
        width: .6rem;
        height: .6rem;
        position: relative;
        top: .1rem;
      }
    }

    .bg-inverted &,
    .bg-inverted-dark &,
    .bg-inverted-darker &,
    .bg-inverted--o95 & {
      color: rgb(var(--col-white));
    }
  }

  .push-icon {
    padding-left: .25rem;
  }

  @media (--bp-tablet) {
    width: auto;
  }

  &__two-icons {
    display: flex;
  }
}

.btn-two-icons {
  display: flex;
  align-items: center;
  padding: 1.25rem;
  border-left: 7px solid;
  border-radius: 3px;
  color: rgb(var(--col-background-tertiary-navy));
  text-decoration: none;
  box-shadow: 0 0 6px rgba(var(--col-box-shadow-btn));
  transition: all ease-out .15s;
  z-index: var(--z-default);

  &:visited {
    color: rgb(var(--col-background-tertiary-navy));
  }

  &:hover {
    text-decoration: underline;
    padding-right: 1rem;
  }

  &--color-teal {
    background: rgb(var(--col-teal-light));
    border-color: rgb(var(--col-teal-mid-2));
  }

  &--color-orange {
    background: rgb(var(--col-orange-light));
    border-color: rgb(var(--col-orange-mid-2));
  }

  &--color-green {
    background: rgb(var(--col-green-light));
    border-color: rgb(var(--col-green-mid-2));
  }

  &--disabled,
  &:disabled {
    color: color(rgb(var(--col-navy-dark)) alpha(50%));
    border-color: color(rgb(var(--col-navy-mid-1)) alpha(50%));
    pointer-events: none;
    cursor: not-allowed;
  }

  &__left-icon {
    margin-right: .5rem;
  }

  &__right-icon {
    margin-left: .5rem;
  }

  &__text {
    font-size: .9375rem;
    flex: 1;
    margin: 0;

    @media (--bp-desktop) {
      font-size: 1.125rem;
    }
  }
}

.btn-card {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  text-decoration: none;

  & + & {
    margin-top: 1rem;

    @media (--bp-x-tablet) {
      margin-top: 0;
      margin-left: 1rem;
    }

    @media (--bp-desktop) {
      margin-left: 1.25rem;
    }
  }

  &:hover {
    text-decoration: underline;

    .btn-card__icon {
      transform: scale(1.1);
    }
  }

  &:active {
    .btn-card__icon {
      transform: scale(.9);
    }
  }

  @media (--bp-x-tablet) {
    height: 16.25rem;
  }

  &--inverted {
    background-color: rgb(var(--col-brand));

    &:hover {
      text-decoration: underline;
      text-decoration-color: rgb(var(--col-white));
    }

    .btn-card__top-label,
    .btn-card__label {
      color: rgb(var(--col-white));
    }
  }

  &__inner {
    display: flex;
    align-items: center;
    padding: .875rem;
    height: 100%;

    @media (--bp-x-tablet) {
      flex-direction: column;
      align-items: flex-start;
      padding: 1.25rem .625rem 1.5625rem 1.25rem;
    }

    @media (--bp-desktop) {
      padding: 1.25rem 1.25rem 1.5625rem 1.25rem;
    }
  }

  &__top-label {
    display: none;
    color: rgb(var(--col-grey-mid-2));

    @media (--bp-x-tablet) {
      display: initial;
      font-weight: var(--fw-normal);
      font-size: .75rem;
      line-height: 1.375;
    }
  }

  &__label {
    font-weight: var(--fw-semibold);
    font-size: 1rem;
    line-height: 1.5;
    margin-right: .1875rem;
    color: rgb(var(--col-black-dark));
    flex: 1 1 auto;
    max-width: 100%;

    @media (--bp-x-tablet) {
      margin-right: 0;
      line-height: 1.375;
    }
  }

  &__icon {
    display: flex;
    padding: .875rem .75rem;
    min-width: 3.125rem;
    min-height: 3.125rem;
    border-radius: 50%;
    background-color: rgb(var(--col-background-primary-grey));
    transition: transform .1s ease-out;
    transform: scale(1);
  }
}
