/**
 * Button + Button owner
 */
.btn {
  display: inline-block;
  padding: calc(var(--vr) * .8);
  transition: border-color .2s;
  border: 2px solid color(rgb(var(--col-brand)) alpha(70%));
  border-radius: var(--br);
  outline-color: rgb(var(--col-navy-light));
  outline-offset: 1px;
  color: rgb(var(--col-brand));
  font-weight: var(--fw-semibold);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:focus,
  &:hover,
  &:visited,
  &-owner:focus .btn,
  &-owner:hover .btn {
    border-color: rgb(var(--col-brand));
    color: rgb(var(--col-brand));
  }

  &:active,
  &-owner:active .btn {
    background-color: rgb(var(--col-brand));
    color: #fff;
  }

  &--inverted,
  &--inverted:visited,
  &--inverted:focus {
    border-color: color(#fff alpha(30%));
    background-color: transparent;
    color: #fff;
  }

  &--cta.btn {
    border-color: rgb(var(--col-brand));
    background-color: rgb(var(--col-brand));
    color: white;

    &:hover {
      border-color: white;
      color: white;
    }
  }

  &--inverted:focus,
  &--inverted:hover,
  &-owner:focus .btn--inverted,
  &-owner:hover .btn--inverted {
    border-color: #fff;
    color: #fff;
  }

  &--inverted:active,
  &-owner:active .btn--inverted,
  &--hard {
    background-color: #fff;
    color: rgb(var(--col-brand));
  }

  &--sml {
    padding: calc(var(--vr) / 2) 1.25em;
  }

  &--xsml {
    padding: calc(var(--vr) / 3) 1.25em;
  }

  &--wide {
    min-width: calc(var(--vr) * 10);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--xwide {
    min-width: calc(var(--vr) * 20);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--fullwidth {
    min-width: 100%;
    text-align: center;
  }

  &--center {
    margin-right: auto;
    margin-left: auto;
  }

  &--icon {
    position: relative;
    padding-right: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      right: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }

    &--chevron-right {
      &::after { background-image: url('~icons/chevron-right.svg?fill=#074482'); }
      &-inverted::after { background-image: url('~icons/chevron-right.svg?fill=#fff'); }
    }

    &--chevron-left {
      &::after { background-image: url('~icons/chevron-left.svg?fill=#074482'); }
      &-inverted::after { background-image: url('~icons/chevron-left.svg?fill=#fff'); }
    }

    &--download {
      &::after { background-image: url('~icons/download.svg?fill=#074482'); }
      &-inverted::after { background-image: url('~icons/download.svg?fill=#fff'); }
    }

    &--search {
      &::after { background-image: url('~icons/search.svg?fill=#074482'); }
      &-inverted::after { background-image: url('~icons/search.svg?fill=#fff'); }
    }

    &--twitter {
      &::after { background-image: url('~icons/twitter.svg?fill=#074482'); }
      &-inverted::after { background-image: url('~icons/twitter.svg?fill=#fff'); }
    }
  }

  &--icon-before {
    position: relative;
    padding-left: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      left: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }
  }

  &--disabled {
    opacity: .5;
    pointer-events: none;
  }
}
