/**
 * Button + Button owner
 */
.btn {
  display: inline-block;
  padding: calc(var(--vr) * .8);
  width: 100%;
  transition: all .2s;
  border: 2px solid rgb(var(--col-brand));
  border-radius: var(--br);
  color: rgb(var(--col-brand));
  font-weight: var(--fw-semibold);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }

  &:focus,
  &:hover,
  &:visited,
  &-owner:focus .btn,
  &-owner:hover .btn {
    border-color: rgb(var(--col-brand));
    color: rgb(var(--col-brand));
  }

  &:active,
  &-owner:active .btn {
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));
    text-decoration: none;
  }

  &:last-child {
    margin-bottom: 0;
  }

  & + & {
    margin-top: var(--vr);

    @media (--bp-tablet) {
      margin-top: 0;
      margin-left: var(--vr);
    }
  }

  &--inverted,
  &--inverted:visited,
  &--inverted:focus {
    border-color: rgb(var(--col-background-primary-white));
    background-color: transparent;
    color: rgb(var(--col-background-primary-white));
  }

  &--cta.btn {
    border-color: rgb(var(--col-navy-mid-3));
    background-color: rgb(var(--col-brand));
    color: rgb(var(--col-background-primary-white));

    &:hover {
      color: rgb(var(--col-background-primary-white));
    }

    &:active {
      border-color: rgb(var(--col-brand));
      background-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-brand));
    }
  }

  &--inverted:focus,
  &--inverted:hover,
  &-owner:focus .btn--inverted,
  &-owner:hover .btn--inverted {
    border-color: rgb(var(--col-background-primary-white));
    color: rgb(var(--col-background-primary-white));
  }

  &--inverted:active,
  &-owner:active .btn--inverted,
  &--hard {
    background-color: rgb(var(--col-background-primary-white));
    color: rgb(var(--col-brand));
  }

  &--sml {
    padding: calc(var(--vr) / 2) 1.25em;
  }

  &--xsml {
    padding: calc(var(--vr) / 3) 1.25em;
  }

  &--wide {
    min-width: calc(var(--vr) * 10);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--xwide {
    min-width: calc(var(--vr) * 20);
    max-width: 100%;

    @media (--bp-max-mobile) {
      min-width: 100%;
    }
  }

  &--fullwidth {
    min-width: 100%;
    text-align: center;

    & + & {
      margin-top: var(--vr);
      margin-left: 0;
    }
  }

  &--center {
    margin-right: auto;
    margin-left: auto;
  }

  &--icon {
    position: relative;
    padding-right: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      right: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }

    &--chevron-right {
      &::after {
        background-image: url('~icons/chevron-right.svg?fill=#074482');
      }

      &-inverted::after {
        background-image: url('~icons/chevron-right.svg?fill=#fff');
      }
    }

    &--chevron-left {
      &::after {
        background-image: url('~icons/chevron-left.svg?fill=#074482');
      }

      &-inverted::after {
        background-image: url('~icons/chevron-left.svg?fill=#fff');
      }
    }

    &--download {
      &::after {
        background-image: url('~icons/download.svg?fill=#074482');
      }

      &-inverted::after {
        background-image: url('~icons/download.svg?fill=#fff');
      }
    }

    &--search {
      &::after {
        background-image: url('~icons/search.svg?fill=#074482');
      }

      &-inverted::after {
        background-image: url('~icons/search.svg?fill=#fff');
      }
    }

    &--twitter {
      &::after {
        background-image: url('~icons/twitter.svg?fill=#074482');
      }

      &-inverted::after {
        background-image: url('~icons/twitter.svg?fill=#fff');
      }
    }
  }

  &--icon-before {
    position: relative;
    padding-left: calc(var(--vr) * 2);
    text-align: left;

    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: calc(50% - (.75em / 2));
      left: 1.25rem;
      width: .75em;
      height: .75em;
      margin-top: .05rem;
      background-size: cover;
    }

    &--center {
      padding-right: calc(var(--vr) * 2);
      text-align: center;
    }
  }

  &--disabled {
    opacity: .5;
    pointer-events: none;
  }

  @media (--bp-tablet) {
    width: auto;
  }
}
