.ab-docs
  .ab-docs__info.max
    h2#button-owner Button owner
    p Buttons may be used inside bigger interactive elements called <em>button owners</em>, for instance link blocks in a navigational listing. Such a button must be marked with a simple <code>div</code> element rather than an <code>a</code> or <code>button</code> element. The idea is to propagate user interactions from the owner  (<code>hover</code>, <code>focus</code> and <code>active</code>) to the button.

  .ab-docs__button-owners
    a.btn-owner href=""
      .btn Button
    a.btn-owner href=""
      .btn.btn--inverted Button
