.document-list {
  .link-download,
  &--download-all a,
  [href$='.pdf' i],
  [href$='.doc' i],
  [href$='.docx' i],
  [href$='.dotx' i],
  [href$='.xlsx' i],
  [href$='.xls' i],
  [href$='.pptx' i],
  [href$='.ppsx' i],
  [href$='.key' i],
  [href$='.csv' i],
  figcaption {
    &::after {
      content: '';
      display: inline-block;
      width: .75rem;
      height: .75rem;
      margin-left: .25rem;
      background-image: url('~icons/download.svg?fill=#35649e');
      vertical-align: -.175rem;
    }
  }

  .link-download-off::after {
    content: none;
  }

  &--thumbs {
    a::after {
      content: '';
      position: relative;
      background-image: none !important;
    }

    figure {
      img {
        width: 100%;
      }
    }

    figcaption {
      font-size: .8rem;
      text-align: center;
    }
  }
}
