.document-list {
  [href$='.pdf' i],
  [href$='.doc' i],
  [href$='.docx' i],
  [href$='.dotx' i],
  [href$='.xlsx' i],
  [href$='.xls' i],
  [href$='.pptx' i],
  [href$='.ppsx' i],
  [href$='.key' i],
  [href$='.csv' i],
  .link-download,
  figcaption {
    &::after {
      content: '';
      display: inline-block;
      width: .875em;
      height: .875em;
      margin-left: .25em;
      background-image: url('~icons/download.svg?fill=#09707E');
      vertical-align: -.175em;
    }
  }

  .link-download-off::after {
    content: none;
  }

  &--thumbs {
    a::after {
      content: '';
      position: relative;
      background-image: none !important;
    }

    figure {
      img {
        width: 100%;
      }
    }

    figcaption {
      font-size: .8em;
      text-align: center;
    }
  }
}
