.download-block {
  border: 1px solid var(--col-brand);
  border-radius: 4px;
  padding: var(--vr);

  @supports (display: flex) {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  &.btn-owner {
    color: var(--col-brand);
    text-decoration: none;

    &:hover {
      border-color: var(--col-brand-mid2);

      .download-block__inner h3 {
        text-decoration: underline;
      }
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;

    @media (--bp-tablet) {
      width: 70%;
      float: right;
      padding: var(--vr);
    }
  }

  &__thumb {
    float: left;
    display: none;
    width: 30%;

    @media (--bp-tablet) {
      display: block;
    }
  }

  &__img {
    display: block;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }
}
