.page-footer {
  /* default stacking */
  position: relative;
  z-index: 3;

  padding: 0;
  background-color: var(--col-bg);
  color: #fff;

  /* top half with logo, search, popular links, etc. */
  &__top {
    padding: 3rem 0 2.25rem;
  }

  /* bottom half with sitemap, contact info and legal links */
  &__bottom {
    padding: 2.25rem 0;
    background-color: var(--col-bg-secondary);
  }

  /* logo wrapper */
  &__header__logo {
    margin-bottom: 2.25rem;
    text-align: center;
  }

  /* list of user groups */
  &__users {
    font-size: 1.125rem;

    a::before {
      margin-right: .375em;
      vertical-align: 6%; /* MAGIC NUMBER */
    }
  }

  /* list of popular links */
  &__popular {
    line-height: calc(1.125 * var(--lh)); /* match size of `users` list items */
  }

  /* Acknoledgement of Country */
  &__ack {
    margin-bottom: 0;
    font-family: var(--ff-lead);
    font-size: 1.125rem;
  }

  /* heading in sitemap */
  &__sitemap-heading {
    display: inline-block;
    margin-bottom: .75rem;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: #fff;
    }
  }

  /* list of pages in sitemap */
  &__sitemap-pages {
    &--minor {
      font-size: .875rem;
      line-height: 1.667;
    }

    & > li:not(:last-child) {
      margin-bottom: .125rem;
    }
  }

  /* social links */
  &__social {
    margin-top: -.125rem; /* MAGIC NUMBER: fix alignment with headings */
    margin-bottom: 1.25rem;
  }

  /* contact info */
  &__contact {
    margin: 0;

    & > dt {
      font-weight: normal;
    }

    & > dd {
      margin-bottom: 0;
    }

    a {
      color: inherit;
      font-weight: inherit;
    }
  }

  /* legal links (disclaimer, privacy, etc.) */
  &__legal {
    color: var(--col-blue-light);

    &__sep {
      margin: 0 .375rem;
    }
  }

  &__contact,
  &__header,
  &__popular,
  &__sitemap-pages,
  &__users {
    margin-bottom: 1.5rem;
  }

  @media (--bp-max-desktop) {
    &__inner { max-width: 52rem; }
  }

  @media (--bp-max-tablet) {
    &__inner { max-width: 38rem; }
  }

  @media (--bp-max-mobile) {
    &__inner { max-width: 22rem; }
  }

  @media (--bp-tablet) {
    &__top { padding-bottom: 2.75rem; }
    &__bottom { padding-top: 3rem; }

    /* footer header with logo and search form */
    &__header {
      display: table;
      width: 100%;

      &__logo,
      &__search {
        display: table-cell;
        vertical-align: bottom;
      }

      &__logo {
        text-align: left;
      }

      &__search {
        width: 50%;
        padding-left: .5rem;
      }
    }

    &__popular {
      margin-right: -.5rem;
      margin-left: -.5rem;

      & > li {
        width: 50%;
        padding: 0 0 0 .5rem;
        float: left;
        list-style: none;

        &:nth-child(2n+1) {
          clear: left;
        }
      }
    }

    &__header,
    &__users,
    &__ack,
    &__sitemap-pages {
      margin-bottom: 2.25rem;
    }
  }

  @media (--bp-tablet) and (--bp-max-desktop) {
    &__main {
      display: flex;
      flex-wrap: wrap;

      &__users,
      &__ack,
      &__contacts {
        flex: 1 1 50%;
      }

      &__contacts {
        margin-bottom: 3rem;
      }
    }

    &__popular {
      margin-bottom: 0;
    }
  }

  @media (--bp-desktop) {
    &__header {
      margin-bottom: 3rem;
    }
  }

  @media (--bp-wide) {
    &__top,
    &__bottom {
      padding: 3.75rem 0;
    }

    &__header {
      margin-bottom: 3.75rem;
    }

    &__users,
    &__popular,
    &__ack {
      margin-bottom: 0;
    }

    &__legal {
      margin-top: 1.5rem;
    }
  }
}

/**
 * Search form
 */
.page-footer-search {
  &__field {
    position: relative;
  }

  &__label {
    font-size: .8em;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__icon {
    position: absolute;
    top: calc(50% - 10px); /* vertical centring */
    left: 0;
    width: 1.375rem;
    height: 1.375rem;
  }

  &__submit {
    color: white;
  }

  &__icon-mask {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 0;
    width: 22px;
    height: 22px;
    cursor: pointer;
  }

  &__input {
    display: block;
    width: 100%;
    padding: .5rem .5rem .75rem 1.75rem; /* icon width + roughly .5rem */
    transition: border-bottom-color .3s;
    border: none;
    border-bottom: 2px solid var(--col-blue-mid);
    border-radius: 0;
    background-color: transparent;
    color: inherit;
    appearance: none;

    &:focus {
      border-bottom-color: #fff;
    }

    &::placeholder {
      color: var(--col-blue-mid);
      font-weight: var(--fw-light);
    }
  }

  @media (--bp-tablet) {
    margin-bottom: 0;
  }
}
