.toggle {
  &__header {
    display: block;
    position: relative;
    text-decoration: underline;
    cursor: pointer;
  }

  &__panel {
    overflow: hidden;

    &[aria-hidden='true'] {
      visibility: hidden;
      height: 0;
    }

    &[aria-hidden='false'] {
      visibility: visible;
    }
  }
}

.section-toggle {
  .toggle__header {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid var(--col-grey-light);

    > *:first-child::before {
      content: '+';
      width: 1em;
      padding-right: .75em;
      float: left;
      border: 0;
      font-size: 1.5em;
      line-height: 1;
    }

    &[aria-selected='true'] > *:first-child::before {
      content: '\2013';
    }
  }

  &--mobile {
    @media (--bp-desktop) {
      .toggle__header {
        display: none;

        > *:first-child::before,
        &[aria-selected='true'] > *:first-child::before {
          display: none;
        }
      }

      .toggle__panel {
        visibility: visible !important;
        height: auto !important;
        overflow: visible !important;
      }
    }
  }
}
