.nav {
  &--horizontal {
    padding-bottom: 1px;
    border-bottom: .3125rem solid rgb(var(--col-blue-mid-1));
    background-color: rgb(var(--col-blue-mid-2));

    @media screen and (min-width: 769px) {
      display: flex;
      justify-content: center;
      border-bottom: 5px solid rgb(var(--col-blue-mid-1));
      border-color: rgb(var(--col-blue-mid-1));
      text-align: center;

      a.nav__link {
        padding: 1.25rem 1.75rem;
        line-height: 1.1;
      }
    }
  }

  a&__link {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 1.25rem;
    border-bottom: 1px solid rgba(255, 255, 255, .2);
    color: rgb(var(--col-background-primary-white));
    font-size: .9rem;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;

    &--current::after {
      content: '';
      position: absolute;
      z-index: var(--z-overlay);
      bottom: calc(50% - .625rem);
      left: 0;
      width: 0;
      height: 0;
      border: solid transparent;
      border-width: .625rem;
      border-left-color: rgb(var(--col-blue-mid-1));
      pointer-events: none;

      @media (--bp-desktop) {
        bottom: calc(.625rem - 1px);
        left: 50%;
        margin-bottom: -.625rem;
        margin-left: -.625rem;
        border-width: 0 .625rem .625rem;
        border-bottom-color: rgb(var(--col-blue-mid-1));
        border-left-color: transparent;
      }
    }

    &:hover {
      text-decoration: underline;
    }

    @media (--bp-desktop) {
      width: auto;
      border-bottom: 0;
    }
  }
}

.toggleblock.nav--toggle {
  margin-bottom: 0;
  background-color: rgb(var(--col-blue-mid-2));
  color: rgb(var(--col-background-primary-white));

  .toggleblock__default {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: .5rem 1rem .25rem 1rem;
    border-bottom: .3125rem solid rgb(var(--col-blue-mid-1));
    cursor: pointer;

    &.active {
      border-color: rgb(var(--col-blue-mid-1));

      .nav__svg {
        transform: rotate(180deg);
      }
    }
  }

  .nav__link {
    border-color: rgba(255, 255, 255, .25);
    background-color: rgb(var(--col-blue-mid-1));
    color: var(--col-black-dark);

    &--current {
      background-color: rgb(var(--col-blue-mid-2));
      color: rgb(var(--col-background-primary-white));

      &::after {
        border-left-color: rgb(var(--col-background-primary-white));
      }
    }
  }

  .nav__svg {
    width: 1rem;
    height: 1rem;
    margin: .5rem 0;
  }

  @media screen and (min-width: 769px) {
    .toggleblock__default {
      display: none;
    }

    .toggleblock__hidden {
      max-height: 60rem;
    }

    .nav__link {
      background-color: rgb(var(--col-blue-mid-2));
      color: rgb(var(--col-background-primary-white));
    }

    .nav__link--current {
      background-color: rgb(var(--col-blue-mid-2));
      color: rgb(var(--col-background-primary-white));

      &::after {
        border-bottom-color: rgb(var(--col-blue-mid-1));
        border-left-color: transparent;
      }
    }
  }
}
