.showcase-filter {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__filters-applied {
    font-size: 14px;
    color: #575756;
    letter-spacing: 0;
    font-style: italic;
    font-weight: 600;
    text-decoration: underline;
  }

  &__results {
    margin: 48px 0 0 0;
    font-size: 25px;
    color: #000;
    letter-spacing: 0;
    font-weight: var(--fw-bold);
  }

  &__button {
    padding: 1.2rem;
    font-weight: 600;
    border: 2px solid rgb(var(--col-background-primary-navy));
    border-radius: 3px;
    cursor: pointer;
  }
}
