.photo-gallery-in-page,
.photo-gallery-pop-over {
  color: #fff;
  background: #000;
  &__slider {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  &__figure {
    cursor: pointer;
    padding: 0;
    margin: 0;
    display: flex;
  }

  &__chevron {
    color: #fff;
    cursor: pointer;
  }

  &--container {
    display: flex;
    justify-content: center;
    width: 80%;
    height: 600px;
    margin: auto;
    background: #000;
    @media (--bp-max-mobile) {
      width: 100%;
      height: 400px;
    }
  }

  &__thumbnails {
    display: flex;
    height: 74px;
    width: 80%;
    margin: auto;
    overflow-x: auto;

    .thumb {
      cursor: pointer;
      margin-right: 5px;
      opacity: .7;
      width: 100%;
      flex: 1;
      &.active {
        opacity: 1;
        fill: rgba(153, 162, 170, .25);
      }
    }

    img {
      width: auto;
      height: 100%;
    }
    @media (--bp-max-mobile) {
      width: 100%;
    }
  }

  &__images-count {
    width: 80%;
    margin: auto;
    padding-top: 11px;
    font-size: 16px;
    @media (--bp-max-mobile) {
      width: 90%;
    }
  }

  &__title {
    width: 80%;
    margin: 18px auto;
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    @media (--bp-max-mobile) {
      width: 90%;
    }
  }

  &__description {
    width: 80%;
    margin: auto;
    font-size: 16px;
    line-height: 25px;
    @media (--bp-max-mobile) {
      width: 90%;
    }
  }

  .arrow-wrapper {
    padding: 10px;
    @media (--bp-max-mobile) {
      display: none;
    }
  }
}

.photo-gallery-pop-over {
  display: none;
  background: rgba(0, 0, 0, .9);
  &__open {
    display: flex;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    @media (--bp-max-mobile) {
      justify-content: flex-start;
      padding-top: 2rem;
    }
  }

  &--container {
    width: 100%;
    background: transparent;
  }

  &__slider {
    width: 80%;
    @media (--bp-max-mobile) {
      width: 100%;
    }
  }

  &__thumbnails {
    display: none;
    @media (--bp-max-mobile) {
      display: flex;
    }
  }

  figure {
    width: 80%;
    @media (--bp-max-mobile) {
      width: 100%;
    }
  }

  &__images-count {
    width: 64%;
    margin: 0 auto;
    position: relative;
    @media (--bp-max-mobile) {
      width: 88%;
      margin-bottom: 1rem;
    }
  }

  &__close {
    color: #fff;
    position: absolute;
    top: -.5rem;
    right: -5.5rem;
    cursor: pointer;
    @media (--bp-max-mobile) {
      right: .5rem;
    }
  }
}

@keyframes reveal {
  0% {
    opacity: 0;
    transform: scale(.95);
  }
}

.thumbnails {
  figure {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    flex-direction: column;
    cursor: pointer;
    img {
      object-fit: contain;
      width: 100%;
      height: 100%;
      max-height: 250px;
    }

    figcaption {
      color: #000;
      font-size: 1rem;
      margin: .5rem auto;
      font-weight: var(--fw-semibold);
    }
  }

  &__description {
    color: #000;
    font-size: .9rem;
    text-align: center;
  }

  .invisible {
    opacity: 0;
  }

  .anim-reveal {
    animation: reveal 1s backwards;
  }
}
