.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  a,
  a:visited,
  a:hover {
    color: rgb(var(--col-brand));
    text-decoration: underline;
  }

  td,
  th {
    padding: calc(var(--vr) / 1.5);
    text-align: left;

    &.truncate {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  td {
    &:last-child {
      border-right: 0;
    }
  }

  tbody tr {
    border-bottom: 1px solid rgb(var(--col-navy-mid-2));
    td:first-child{
      font-weight: var(--fw-bold);
      text-decoration: underline;
    }
    td:last-child{
      text-decoration: underline;
    }
  }

  thead tr {
    border: 0;
  }

  &--tight td,
  &--tight th {
    padding: .8em;
  }

  &--loose td,
  &--loose th {
    padding: var(--vr);
  }

  &--centered {

    td,
    th {
      text-align: center;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
      text-align: left;
    }
  }

  &--borderless {
    td {
      border-right: 0;
    }

    tbody tr {
      border-bottom: 0;
    }
  }

  &--striped {
    tr:nth-child(even) {
      background-color: #ABBED5;
    }

    tr.table__row--white {
      background-color: rgb(var(--col-background-primary-white));
    }

    tr.table__row--highlight {
      background-color: rgb(var(--col-background-primary-grey));
    }

    tr.table__row--info {
      background-color: rgb(var(--col-blue-light));
    }

    tr.table__row--inverted {
      background-color: rgb(var(--col-brand));
    }
  }

  &--hover {
    tbody tr:hover {
      background-color: rgb(var(--col-black-mid-1));
    }
  }

  &__row {
    &--inverted {
      background-color: rgb(var(--col-brand));
      color: rgb(var(--col-background-primary-white));
    }

    &--white {
      background-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-brand));
    }

    &--highlight {
      background-color: rgb(var(--col-background-primary-grey));
    }

    &--info {
      border-width: 2px;
      background-color: rgb(var(--col-blue-light));
      color: rgb(var(--col-brand));
    }
  }
}



@media (--bp-max-x-mobile) {

  .table {
    border: 0;

    thead {
      display: none;
    }

    tbody tr {
      margin: 1rem;
      display: block;
      border-bottom: 2px solid #ddd;
    }

    tbody td {
      display: block;
      font-size: 1rem;

      &:before {
        content: attr(data-label);
        float: left;
        text-transform: uppercase;
        font-weight: bold;
        padding-right: 5px;
      }

      &:first-child {
        background-color: #094183;
        color: white;
        font-size: 1rem;
      }
    }

    tbody td:last-child {
      border-bottom: 0;
    }
  }
}

