.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  a,
  a:visited,
  a:hover {
    color: var(--col-brand);
    text-decoration: underline;
  }

  td,
  th {
    padding: calc(var(--vr) / 1.5);
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }

  td {
    border-right: 1px solid var(--col-grey-mid);
  }

  tbody tr {
    border-bottom: 1px solid var(--col-grey-mid);
  }

  thead tr {
    border: 0;
  }

  &--tight td,
  &--tight th {
    padding: .8em;
  }

  &--loose td,
  &--loose th {
    padding: var(--vr);
  }

  &--centered {
    td,
    th {
      text-align: center;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
      text-align: left;
    }
  }

  &--borderless {
    td {
      border-right: 0;
    }

    tbody tr {
      border-bottom: 0;
    }
  }

  &--striped {
    tr:nth-child(even) {
      background-color: var(--col-bg-grey);
    }

    tr.table__row--white {
      background-color: #fff;
    }

    tr.table__row--highlight {
      background-color: var(--col-bg-grey);
    }

    tr.table__row--info {
      background-color: var(--col-blue-light);
    }

    tr.table__row--inverted {
      background-color: var(--col-brand);
    }
  }

  &--hover {
    tbody tr:hover {
      background-color: var(--col-grey-mid);
    }
  }

  &__row {
    &--inverted {
      background-color: var(--col-brand);
      color: #fff;
    }

    &--white {
      background-color: #fff;
      color: var(--col-brand);
    }

    &--highlight {
      background-color: var(--col-bg-grey);
    }

    &--info {
      border-width: 2px;
      background-color: var(--col-blue-light);
      color: var(--col-brand);
    }
  }
}
