.table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;  
  table-layout: fixed;
  font-weight: 0.88rem;
  
  a, a:visited, a:hover {
    color: var(--col-brand);
    text-decoration: underline;
  }

  &--striped {
    tr:nth-child(even){
      background-color: var(--col-bg-grey);
    }
  }

  thead{
    
    th{
      text-align: left;
      padding: 1em;
      font-weight: 600;
    }
  }
  
  td{
    padding: 1em;
    font-weight: 500;
    text-align: left;
    border-bottom: 1px solid var(--col-grey-mid);
    border-right: 1px solid var(--col-grey-mid);
    vertical-align: top;
    /* Responsive text on super long links */
    overflow: hidden;
    text-overflow: ellipsis;

    &:nth-last-child(1){
      border-right: 0;
    }
    p{
      line-height: 1em;
    }

  }

  td, th{
    &.center{
      text-align: center;
    }
  }

  &--compact{
    td{
      padding: 0.9em;
    }
  }

  &--padded{
    td{
      padding: 2.3rem 1.6rem;
    }
  }

  th[colspan="3"]{
    text-align: left;
    padding: var(--vr);
  }
  
  tr {
    &.highlight{
      background-color: var(--col-grey-light);
      td {
        color: var(--col-brand);
        font-weight: var(--fw-semibold)
      }
    }

    &.subheader{
      background-color: var(--col-blue-light);
    }
    &.blank{
      background-color: var(--col-white);
    }
    &.header{
      background-color: var(--col-brand);
      th{
        color: var(--col-white);
      }
    }
  }


}