.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  a,
  a:visited,
  a:hover {
    color: rgb(var(--col-brand));
    text-decoration: underline;
  }

  td,
  th {
    padding: calc(var(--vr) / 1.5);
    text-align: left;

    &.truncate {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  th {
    font-weight: var(--fw-semibold);
  }

  td {
    border-right: 1px solid rgb(var(--col-black-mid-1));

    &:last-child {
      border-right: 0;
    }
  }

  tbody tr {
    border-bottom: 1px solid rgb(var(--col-black-mid-1));

    &:last-child {
      border-bottom: 0;
    }
  }

  thead tr {
    border: 0;
  }

  &--tight td,
  &--tight th {
    padding: .8em;
  }

  &--loose td,
  &--loose th {
    padding: var(--vr);
  }

  &--centered {
    td,
    th {
      text-align: center;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
      text-align: left;
    }
  }

  &--borderless {
    td {
      border-right: 0;
    }

    tbody tr {
      border-bottom: 0;
    }
  }

  &--striped {
    tr:nth-child(even) {
      background-color: rgb(var(--col-background-primary-grey));
    }

    tr.table__row--white {
      background-color: white;
    }

    tr.table__row--highlight {
      background-color: rgb(var(--col-background-primary-grey));
    }

    tr.table__row--info {
      background-color: rgb(var(--col-blue-light));
    }

    tr.table__row--inverted {
      background-color: rgb(var(--col-brand));
    }
  }

  &--hover {
    tbody tr:hover {
      background-color: rgb(var(--col-black-mid-1));
    }
  }

  &__row {
    &--inverted {
      background-color: rgb(var(--col-brand));
      color: white;
    }

    &--white {
      background-color: white;
      color: rgb(var(--col-brand));
    }

    &--highlight {
      background-color: rgb(var(--col-background-primary-grey));
    }

    &--info {
      border-width: 2px;
      background-color: rgb(var(--col-blue-light));
      color: rgb(var(--col-brand));
    }
  }
}
