.table {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;

  a,
  a:visited,
  a:hover {
    color: var(--col-brand);
    text-decoration: underline;
  }

  td,
  th {
    padding: calc(var(--vr) / 1.5);
    overflow: hidden;
    text-align: left;
    text-overflow: ellipsis;
  }

  td {
    border-right: 1px solid var(--col-grey-mid);
    border-bottom: 1px solid var(--col-grey-mid);
  }

  &--tight td,
  &--tight th {
    padding: .8em;
  }

  &--loose td,
  &--loose th {
    padding: var(--vr);
  }

  &--centered {
    td,
    th {
      text-align: center;
    }

    tr td:nth-child(1),
    tr th:nth-child(1) {
      text-align: left;
    }
  }

  &--striped {
    tr:nth-child(even) {
      background-color: var(--col-bg-grey);
    }

    tr.table-row--white {
      background-color: white;
    }

    tr.table-row--info {
      background-color: var(--col-blue-light);
    }

    tr.table-row--inverted {
      background-color: var(--col-brand);
    }
  }

  &--hover {
    tbody tr:hover {
      background-color: var(--col-grey-mid);
    }
  }

  &-row {
    &--inverted {
      background-color: var(--col-brand);
      color: white;
    }

    &--white {
      background-color: white;
      color: var(--col-brand);
    }

    &--info {
      background-color: var(--col-blue-light);
      color: var(--col-brand);
    }
  }
}
