@import 'filters-core/results-count/index.css';

.filter {
  border-radius: var(--br);
  background-color: rgb(var(--col-background-tertiary-navy));
  padding: 2.5rem;

  &__container {
    margin-bottom: 1.25rem;

    &--centered {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
    }
  }

  &__input {
    width: 100%;
    height: 2.875rem;
    border: 1px solid rgb(var(--col-background-secondary-grey));
    border-radius: var(--br);
    background-color: rgb(var(--col-background-primary-grey));
    color: rgb(var(--col-background-primary-navy));
    font-size: 1.25rem;
    font-weight: var(--fw-semibold);
    text-indent: .75rem;
  }

  &__label {
    display: flex;
    flex: 1;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    margin-bottom: .5rem;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: var(--br);
    transition: border-color .2s;
    flex: 1;
    background-color: rgb(var(--col-black-mid-1));
    min-height: 3rem;
    line-height: 1;
    color: rgb(var(--col-background-primary-navy));
    font-size: 1.4063rem;
    font-weight: var(--fw-semibold);
    cursor: pointer;
    max-width: 8.75rem;

    &:first-child {
      margin-left: 1rem;
    }

    &--animated {
      animation: searchPulse 2s infinite alternate;
    }

    &--icon {
      width: 1.25rem;
      height: 1rem;
      margin-right: .5rem;
    }
  }
}

.filter-category {
  &__label {
    font-weight: normal;
    font-size: .875rem;
    line-height: 1.5;
  }

  &__checkbox-container {
    display: flex;
  }

  &__checkbox {
    &:first-child {
      margin-right: 1.75rem;
    }

    .base-checkbox__label {
      font-weight: normal;
      font-size: 1rem;
      line-height: 1.5;
      color: #fff;
    }
  }

  &__buttons {
    display: flex;
  }

  &__filter-btn {
    margin-right: .9375rem;
    padding: .75rem 1.75rem;
    color: black;
    background: green;
  }

  &__clear-btn {
    display: flex;
    text-decoration: underline;
  }

  .list-item {
    display: inline-block;
    margin-right: .625rem;
  }
  .list-enter-active,
  .list-leave-active {
    transition: all 1s;
  }
  .list-enter,
  .list-leave-to /* .list-leave-active below version 2.1.8 */ {
    opacity: 0;
    transform: translateY(30px);
  }
}
