.figure {
  padding: var(--vr);

  img,
  .embed {
    width: 100%;
  }

  figcaption {
    margin-top: 1.5em;
    margin-right: auto;
    margin-left: auto;
    caption-side: bottom;
    color: color(var(--col-grey) shade(30%));
    font-size: .9em;
    font-style: italic;
    text-align: center;
  }

  &--inset {
    figcaption {
      @media (--bp-desktop) {
        display: table-caption;
        margin-top: inherit;

        &::before {
          content: '';
          position: absolute;
          width: 2rem;
          margin-top: -calc(var(--vr) / 2);
          border-top: 2px solid var(--col-brand);
        }
      }
    }

    @media (--bp-desktop) {
      display: table;
      position: relative;
      width: 50%;

      &-right {
        margin-right: -5rem;
        margin-left: auto;
        float: right;

        .figure--inset-lge & {
          margin-right: -10rem;
        }

        figcaption {
          padding-right: var(--vr);
          text-align: right;

          &::before {
            right: var(--vr);
          }
        }
      }

      &-left {
        margin-left: -5rem;
        float: left;

        .figure--inset-lge & {
          margin-left: -10rem;
        }

        figcaption {
          padding-left: var(--vr);
          text-align: left;

          &::before {
            text-align: right;
          }
        }
      }

      &-lge { width: 75%; }
      &-sml { width: 35%; }
    }
  }
}
