.welcome {
  display: flex;
  flex-flow: row-reverse wrap;

  &__inner {
    flex: auto;
    width: 100%;
    margin-right: auto;
    margin-left: 0;

    .section__inner--sml & {
      margin-top: calc(var(--vr) * 3);
    }

    @media (--bp-x-tablet) {
      width: 50%;
      padding-right: var(--vr);

      .section__inner--sml & {
        margin-top: 0;
      }
    }

    @media (--bp-x-desktop) {
      width: 66.66%;
      padding-right: calc(var(--vr) * 2);

      .section__inner--sml & {
        width: calc(50% - (var(--vr) * 2));
        padding-right: var(--vr);
      }
    }
  }

  &__caption-title {
    text-align: center;
  }

  &__caption-text {
    font-size: .9em;
    text-align: left;
  }

  &__thumb {
    &-img,
    img {
      width: 100%;
      height: 300px;
    }

    &-img {
      background-position: center;
      background-size: cover;
    }

    img {
      @supports (object-fit: cover) {
        object-fit: cover;
      }
    }

    figure {
      display: block;
      position: relative;
      width: 100%;
      height: 300px;
      margin-bottom: calc(var(--vr) * 2);

      &::before,
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 5rem;
        height: 5rem;
        opacity: .6;
        background-size: cover;
      }

      &::before {
        top: 0;
        left: 0;
        background-image: url('~icons/focus-top-left.svg?fill=#074482');
      }

      &::after {
        right: 0;
        bottom: 0;
        background-image: url('~icons/focus-bottom-right.svg?fill=#074482');
      }
    }

    .btn {
      display: block;
      margin: var(--vr) 0;
      clear: both;
    }

    @media (--bp-tablet) {
      margin: calc(var(--vr) * 2);
    }

    @media (--bp-x-tablet) {
      width: calc(50% - (var(--vr) * 2));
      margin-right: var(--vr);
      margin-left: var(--vr);
    }

    @media (--bp-x-desktop) {
      width: calc(33.3% - (var(--vr) * 2));

      .section__inner--sml & {
        width: calc(50% - (var(--vr) * 2));
        margin-right: var(--vr);
        margin-left: var(--vr);
      }
    }
  }

  &__signature {
    margin-top: var(--vr);
    margin-bottom: var(--vr);
  }
}
