/**
 * Margin and padding fixes
 */
/* zero */
.fix-mt0 { margin-top: 0 !important; }
.fix-mb0 { margin-bottom: 0 !important; }
.fix-ml0 { margin-left: 0 !important; }
.fix-mr0 { margin-right: 0 !important; }
.fix-pt0 { padding-top: 0 !important; }
.fix-pb0 { padding-bottom: 0 !important; }
.fix-pl0 { padding-left: 0 !important; }
.fix-pr0 { padding-right: 0 !important; }

/* vertical rhythm */
.fix-mt-vr-05 { margin-top: calc(var(--vr) / 2) !important; }
.fix-mb-vr-05 { margin-bottom: calc(var(--vr) / 2) !important; }
.fix-mt-vr { margin-top: var(--vr) !important; }
.fix-mb-vr { margin-bottom: var(--vr) !important; }
.fix-mt-vr-2 { margin-top: calc(2 * var(--vr)) !important; }
.fix-mb-vr-2 { margin-bottom: calc(2 * var(--vr)) !important; }
.fix-pt-vr-05 { padding-top: calc(var(--vr) / 2) !important; }
.fix-pb-vr-05 { padding-bottom: calc(var(--vr) / 2) !important; }
.fix-pt-vr { padding-top: var(--vr) !important; }
.fix-pb-vr { padding-bottom: var(--vr) !important; }
.fix-pt-vr-2 { padding-top: calc(2 * var(--vr)) !important; }
.fix-pb-vr-2 { padding-bottom: calc(2 * var(--vr)) !important; }

/**
 * Prevent wrapping - e.g. for URLs, emails, etc.
 */
 .fix-nowrap {
  white-space: nowrap !important;
}
