.grid {
  display: flex;
  flex-direction: column;
  margin-right: calc(0 - var(--vr) / 2);
  margin-left: calc(0 - var(--vr) / 2);

  &--center {
    justify-content: center;
  }

  &--lg {
    @media (--bp-tablet) {
      margin-right: -1.3333rem;
      margin-left: -1.3333rem;
    }
  }

  &--scrollable {
    @media (--bp-max-x-mobile) {
      flex-direction: row;
      flex-wrap: nowrap;
      overflow: auto;
      margin-right: calc(var(--vr) * -1);
      margin-left: calc(var(--vr) * -1);
      padding-right: calc(var(--vr) / 2);
      padding-left: calc(var(--vr) / 2);
    }
  }

  @media (--bp-x-tablet) {
    flex-flow: row wrap;

    &--4col .cell {
      width: calc(100% / 2);
    }

    &--3col .cell {
      width: calc(100% / 2);
    }

    &--6col .cell {
      width: calc(100% / 2);
    }
  }

  @media (--bp-desktop) {

    &--1col,
    &--2col,
    &--3col,
    &--4col,
    &--6col {
      flex-direction: row;

      .cell {
        display: flex;
        flex-direction: column;
      }
    }

    &--2col .cell {
      width: calc(100% / 2);
    }

    &--3col .cell {
      width: calc(100% / 3);
    }

    &--4col .cell {
      width: calc(100% / 4);
    }

    &--6col .cell {
      width: calc(100% / 6);
    }
  }
}

.cell {
  width: 100%;
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  padding-right: calc(var(--vr) / 2);
  padding-left: calc(var(--vr) / 2);

  &--no-padding {
    &-all {
      padding-left: 0;
      padding-right: 0;
    }

    &-mobile {
      @media (--bp-max-mobile) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-tab {
      @media (--bp-only-tablet) {
        padding-left: 0;
        padding-right: 0;
      }
    }

    &-desk {
      @media (--bp-desktop) {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &--lg {
    @media (--bp-tablet) {
      padding-right: 1.3333rem;
      padding-left: 1.3333rem;
    }
  }

  @media (--bp-x-tablet) {
    &--tab {
      &-1of1 {
        width: 100%;
      }

      &-1of2 {
        width: calc(100% / 2);
      }

      &-1of3 {
        width: calc(100% / 3);
      }

      &-2of3 {
        width: calc((100% / 3) * 2);
      }

      &-1of4 {
        width: calc(100% / 4);
      }

      &-3of4 {
        width: calc((100% / 4) * 3);
      }

      &-1of12 {
        width: calc(100% / 12);
      }
    }
  }

  @media (--bp-desktop) {
    &--desk {
      &-1of1 {
        width: 100%;
      }

      &-1of2 {
        width: calc(100% / 2);
      }

      &-1of3 {
        width: calc(100% / 3);
      }

      &-2of3 {
        width: calc((100% / 3) * 2);
      }

      &-1of4 {
        width: calc(100% / 4);
      }

      &-3of4 {
        width: calc((100% / 4) * 3);
      }

      &-1of6 {
        width: calc(100% / 6);
      }

      &-1of12 {
        width: calc(100% / 12);
      }
    }
  }

  @media (--bp-wide) {
    &--wide {
      &-1of1 {
        width: 100%;
      }

      &-1of2 {
        width: calc(100% / 2);
      }

      &-1of3 {
        width: calc(100% / 3);
      }

      &-2of3 {
        width: calc((100% / 3) * 2);
      }

      &-1of4 {
        width: calc(100% / 4);
      }

      &-3of4 {
        width: calc((100% / 4) * 3);
      }
    }
  }
}
