/**
 * Background
 */
/* Saw-tooth pattern */
.bg-saw-tooth {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGhlaWdodD0iMTQiIHdpZHRoPSIyMCI+CiAgPHBhdGggZD0iTTkuMjkzIDJMMCAxMS4yOTNWMTJoLjcwN0wxMCAyLjcwNyAxOS4yOTMgMTJIMjB2LS43MDdMMTAuNzA3IDJIOS4yOTN6IiBvcGFjaXR5PSIuMiIgZmlsbD0iI2ZlZmVmZSIvPgo8L3N2Zz4=");
}

/* Inverted background */
.bg-inverted {
  background-color: var(--col-bg);
  color: #fff;
}

.bg-inverted-dark {
  background-color: var(--col-bg-secondary);
  color: #fff;
}

/* Light-gray background */
.bg-alt {
  background-color: var(--col-bg-grey);
}

/* White bg */

.bg-white {
  background-color: var(--col-white);
  color: var(--col-brand);
}

/**
 * Max-width wrapper
 */
.max {
  max-width: calc(var(--w-mid) + 2 * var(--vr)); /* account for padding */
  margin-left: auto;
  margin-right: auto;
  padding-left: var(--vr);
  padding-right: var(--vr);

  &--xxsml { max-width: calc(var(--w-xxsml) + 2 * var(--vr)); }
  &--xsml { max-width: calc(var(--w-xsml) + 2 * var(--vr)); }
  &--sml { max-width: calc(var(--w-sml) + 2 * var(--vr)); }
  &--lge { max-width: calc(var(--w-lge) + 2 * var(--vr)); }
}

/**
 * Grid
 */
.grid {
  margin-left: -.5rem;
  margin-right: -.5rem;

  &::after {
    content: "";
    clear:both;
    display: table;
  }
}

/**
 * Grid cells
 */
.cell {
  float: left;
  padding-left: .5rem;
  padding-right: .5rem;
  width: 100%;

  &--mob {
    &-1of2 { width: 50%; }
    &-1of3 { width: 33.33%; }
    &-1of4 { width: 25%; }
    &-2of3 { width: 66.66%; }
    &-3of4 { width: 75%; }
  }

  @media (--bp-max-mobile) {
    &--mob-clear { clear: left; }
  }

  @media (--bp-tablet) {
    &--tab {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
    }
  }

  @media (--bp-only-tablet) {
    &--tab-clear { clear: left; }
  }

  @media (--bp-desktop) {
    &--desk {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
    }
  }

  @media (--bp-only-desktop) {
    &--desk-clear { clear: left; }
  }

  @media (--bp-wide) {
    &--wide {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
      &-clear { clear: left; }
    }
  }
}

/**
 * Link reset
 */
.link {
  text-decoration: none;

  &:any-link { color: inherit; }
  &:hover { text-decoration: underline; }
}


/**
 * Clean list with:
 * - variant with white chevron markers
 */
.list {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;

  &--chevron-white > li {
    &::before {
      content: '';
      display: inline-block;
      vertical-align: middle;
      width: 4px;
      height: 8px;
      margin-right: .5em;
      background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiPgogIDxwYXRoIGQ9Ik0wIDB2Mi4yNUwxLjc1IDQgMCA1Ljc1VjhsNC00eiIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+");
    }

    /* fix vertical alignment of chevron */
    @supports (display: flex) {
      display: flex;
      align-items: center;
    }
  }
}

/**
 * Link with text and icon
 */
.icon-link {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  color: inherit;
  text-decoration: none;
  line-height: 1.3;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1.3 * 1em);
    height: calc(1.3 * 1em);
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
    text-decoration: inherit;
    padding-left: calc(1.3 * 1em + .5em); /* icon width .5em */
    padding-right: .125rem;
  }

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Push icon to the right of a block of text.
 * Used in buttons, menus, etc.
 */
.push-icon {
  display: block;
  text-align: left;

  &__icon {
    display: inline-block;
    vertical-align: middle;
    width: .75em;
    height: .75em;
    margin-left: 1em;

    &--left {
      margin-left: 0;
      margin-right: 1em;
    }
  }

  @supports (display: flex) {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* prevent icon from shrinking */
    &__icon {
      flex-shrink: 0;
    }
  }
}

/**
 * Boxed content
 * Removes top spacing of first child and bottom spacing of last child
 */
.box {
  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

/**
 * Image wrapped in a link, typically a logo, where the link
 * needs to adapt to the size of the image.
 */
.img-link {
  display: inline-block;
  vertical-align: bottom; /* fix unwanted inline-block space */
  color: inherit; /* fix outline colour */
  outline-offset: .25rem;

  &__img {
    display: block;
  }
}

/**
 * Clearfix
 */
.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/**
 * Hide visually but not from screenreaders
 */
.screenreaders-only {
  position: absolute !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  width: 1px !important;
  height: 1px !important;
}

/*
* Download metadata
*/
.metadata {
  color: var(--col-grey);
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  font-size: 0.9em;
}


/**
 * Animations
 */
@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes slideFromRight {
  from { transform: translateX(100%); }
}

@keyframes slideFromTop {
  from { transform: translateY(-100%); }
}
