/**
 * Background
 */
/* saw-tooth pattern */
.bg-saw-tooth {
  background-image: url('./shared/bg-saw-tooth.svg');
}

/* inverted background */
.bg-inverted {
  background-color: var(--col-bg);
  color: #fff;
}

.bg-inverted-dark {
  background-color: var(--col-bg-secondary);
  color: #fff;
}

.bg-inverted-darker {
  background-color: var(--col-bg-tertiary);
  color: #fff;
}

.bg-inverted--o95 {
  background-color: rgba(3, 58, 123, .95);
  color: #fff;

  .card--focus-box__cnr {
    opacity: .85; /* push up opacity for focus color on blue bg */
  }
}

/* light-gray background */
.bg-alt {
  background-color: var(--col-bg-grey);
}

.bg-alt-darker {
  background-color: var(--col-bg-secondary-grey);
}

/* light-blue (used in side nav) */
.bg-light-blue {
  background-color: var(--col-bg-light-blue);
}

/* white background */
.bg-white {
  background-color: #fff;
  color: var(--col-brand);
}

/**
 * Colours
 */
.col-facebook { color: var(--col-facebook); }
.col-twitter { color: var(--col-twitter); }
.col-linkedin { color: var(--col-linkedin); }

/**
 * Max-width wrapper
 */
.max {
  max-width: calc(var(--w-mid) + 2 * var(--vr)); /* account for padding */
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--vr);
  padding-left: var(--vr);

  &--xxsml { max-width: calc(var(--w-xxsml) + 2 * var(--vr)); }
  &--xsml { max-width: calc(var(--w-xsml) + 2 * var(--vr)); }
  &--sml { max-width: calc(var(--w-sml) + 2 * var(--vr)); }
  &--lge { max-width: calc(var(--w-lge) + 2 * var(--vr)); }
}

/**
 * Link
 */
/* reset */
.link-reset,
.links-reset a {
  font-weight: inherit;
  text-decoration: none;

  &:any-link { color: inherit; }
  &:hover { text-decoration: underline; }
}

/* wrapping an image (typically a logo) */
.link-img {
  display: inline-block;
  outline-offset: .25rem;
  color: inherit; /* fix outline colour */
  vertical-align: bottom; /* fix unwanted inline-block space */

  & > img {
    display: block;
  }
}

/* with text and icon (e.g. `popular` list in footer) */
.link-icon {
  display: inline-block;
  position: relative;
  line-height: 1.3;
  vertical-align: center;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1.3 * 1em);
    height: calc(1.3 * 1em);
  }

  &__text {
    display: inline-block;
    padding-right: .125rem; /* for focus outline */
    padding-left: calc(1.3 * 1em + .5em); /* icon width .5em */
    text-decoration: inherit;
    vertical-align: top; /* fix unwanted inline-block space */
  }
}

a[target='_blank'] {
  &:not(.link-icon--disable) {
    &::after {
      content: '';
      display: inline-block;
      width: .875em;
      height: .875em;
      margin-left: .25em;
      background-image: url('~icons/external.svg?fill=#09707E');
      vertical-align: -.1em;
    }
  }
}

/**
 * List
 */
/* reset */
.list-reset {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

.list-spaced {
  li {
    margin-bottom: calc(var(--vr) * .75); /* 1.125rem */
    padding-left: calc(var(--vr) * .75);
  }

  ol,
  ul {
    margin-top: calc(var(--vr) * .75);
  }
}

/* with white chevron markers */
.list-chevrons > li {
  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-right: .5em;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiPgogIDxwYXRoIGQ9Ik0wIDB2Mi4yNUwxLjc1IDQgMCA1Ljc1VjhsNC00eiIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+');
    vertical-align: middle;
  }

  /* fix vertical alignment of chevron */
  @supports (display: flex) {
    display: flex;
    align-items: center;
  }
}

/* definition list - i.e. `dl` */
.list-def {
  & > dt,
  & > dd {
    display: block;
  }

  & > dt {
    margin-right: 1ch;
    float: left;
    clear: left;
    font-weight: var(--fw-semibold);
  }

  & > dd {
    margin-bottom: .25rem;
    margin-left: 0; /* remove UA style */
    padding: 0 1px; /* fix cropped focus outline caused by hidden overflow */
    overflow: hidden; /* for multi-line alignment */
    text-overflow: ellipsis; /* for long unbreakable words */

    &:last-child {
      margin-bottom: 0;
    }
  }

  /* force `dd` to fall below `dt` when too long (must be combined with `clearfix`) */
  &--wrap > dd {
    float: left;
  }
}

/**
 * Push icon to the right of a block of text.
 * Used in buttons, menus, etc.
 */
.push-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: left;

  &__icon {
    display: inline-block;
    flex-shrink: 0; /* prevent icon from shrinking */
    width: .75em;
    height: .75em;
    margin-left: 1em;
    vertical-align: middle;

    &--left {
      margin-right: 1em;
      margin-left: 0;
    }
  }
}

/**
 * Boxed content
 * Removes top spacing of first child and bottom spacing of last child
 */
.box {
  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

/**
 * Clearfix
 */
.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/* Center text - useful for CMS */

.text-center {
  text-align: center !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}

.text-italic {
  font-style: italic;
}

.text-bold {
  font-weight: var(--fw-semibold);
}

.text-bigger {
  font-size: 1.333em;
}

.text-smaller {
  font-size: .667em;
}

.text-underborder {
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--col-grey-mid);
}

.emsp-r {
  padding-right: 1em;
}

.emsp-l {
  padding-left: 1em;
}

/* ellipsis overflow */
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* prevent wrapping - e.g. for emails, URLs, etc. */
.text-nowrap {
  white-space: nowrap;
}

/**
 * Hide visually but not from screenreaders
 */
.screenreaders-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * Download metadata
 */
.metadata {
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  color: var(--col-grey-mid-1);
  font-size: .9em;
}

.grid {
  display: flex;
  flex-direction: column;
  margin-right: -calc(var(--vr) / 2);
  margin-left: -calc(var(--vr) / 2);

  &--center {
    justify-content: center;
  }

  @media (--bp-tablet) {
    flex-flow: row wrap;
  }

  @media (--bp-desktop) {
    &--1col,
    &--2col,
    &--3col,
    &--4col {
      flex-direction: row;

      .cell {
        display: flex;
        flex-direction: column;
      }
    }

    &--2col .cell { width: calc(100% / 2); }
    &--3col .cell { width: calc(100% / 3); }
    &--4col .cell { width: calc(100% / 4); }
  }
}

.cell {
  width: 100%;
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  padding-right: calc(var(--vr) / 2);
  padding-left: calc(var(--vr) / 2);

  * {
    max-width: 100%;
  }

  @media (--bp-tablet) {
    &--tab {
      &-1of1 { width: 100%; }
      &-1of2 { width: calc(100% / 2); }
      &-1of3 { width: calc(100% / 3); }
      &-2of3 { width: calc((100% / 3) * 2); }
      &-1of4 { width: calc(100% / 4); }
      &-3of4 { width: calc((100% / 4) * 3); }
    }
  }

  @media (--bp-desktop) {
    &--desk {
      &-1of1 { width: 100%; }
      &-1of2 { width: calc(100% / 2); }
      &-1of3 { width: calc(100% / 3); }
      &-2of3 { width: calc((100% / 3) * 2); }
      &-1of4 { width: calc(100% / 4); }
      &-3of4 { width: calc((100% / 4) * 3); }
    }
  }

  @media (--bp-wide) {
    &--wide {
      &-1of1 { width: 100%; }
      &-1of2 { width: calc(100% / 2); }
      &-1of3 { width: calc(100% / 3); }
      &-2of3 { width: calc((100% / 3) * 2); }
      &-1of4 { width: calc(100% / 4); }
      &-3of4 { width: calc((100% / 4) * 3); }
    }
  }
}

/**
 * Animations
 */
@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes slideFromRight {
  from { transform: translateX(100%); }
}

@keyframes slideFromTop {
  from { transform: translateY(-100%); }
}
