/**
 * Background
 */
/* saw-tooth pattern */
.bg-saw-tooth {
  background-image: url('./shared/bg-saw-tooth.svg');
}

/* inverted background */
.bg-inverted {
  background-color: var(--col-bg);
  color: #fff;
}

.bg-inverted-dark {
  background-color: var(--col-bg-secondary);
  color: #fff;
}

.bg-inverted-darker {
  background-color: var(--col-bg-tertiary);
  color: #fff;
}

/* light-gray background */
.bg-alt {
  background-color: var(--col-bg-grey);
}

/* white background */
.bg-white {
  background-color: #fff;
  color: var(--col-brand);
}

/**
 * Max-width wrapper
 */
.max {
  max-width: calc(var(--w-mid) + 2 * var(--vr)); /* account for padding */
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--vr);
  padding-left: var(--vr);

  &--xxsml { max-width: calc(var(--w-xxsml) + 2 * var(--vr)); }
  &--xsml { max-width: calc(var(--w-xsml) + 2 * var(--vr)); }
  &--sml { max-width: calc(var(--w-sml) + 2 * var(--vr)); }
  &--lge { max-width: calc(var(--w-lge) + 2 * var(--vr)); }
}

/**
 * Link
 */
/* reset */
.link-reset,
.links-reset a {
  font-weight: inherit;
  text-decoration: none;

  &:any-link { color: inherit; }
  &:hover { text-decoration: underline; }
}

/* wrapping an image (typically a logo) */
.link-img {
  display: inline-block;
  outline-offset: .25rem;
  color: inherit; /* fix outline colour */
  vertical-align: bottom; /* fix unwanted inline-block space */

  & > img {
    display: block;
  }
}

/* with text and icon (e.g. `popular` list in footer) */
.link-icon {
  display: inline-block;
  position: relative;
  line-height: 1.3;
  vertical-align: center;

  &__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: calc(1.3 * 1em);
    height: calc(1.3 * 1em);
  }

  &__text {
    display: inline-block;
    padding-right: .125rem; /* for focus outline */
    padding-left: calc(1.3 * 1em + .5em); /* icon width .5em */
    text-decoration: inherit;
    vertical-align: top; /* fix unwanted inline-block space */
  }
}

/**
 * List
 */
/* reset */
.list-reset {
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

/* with white chevron markers */
.list-chevrons > li {
  &::before {
    content: '';
    display: inline-block;
    width: 4px;
    height: 8px;
    margin-right: .5em;
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI0IiBoZWlnaHQ9IjgiPgogIDxwYXRoIGQ9Ik0wIDB2Mi4yNUwxLjc1IDQgMCA1Ljc1VjhsNC00eiIgZmlsbD0iI2ZmZiIgLz4KPC9zdmc+');
    vertical-align: middle;
  }

  /* fix vertical alignment of chevron */
  @supports (display: flex) {
    display: flex;
    align-items: center;
  }
}

.list-social {
  margin-left: 0;
  padding-left: 0;
  list-style: none;

  li {
    margin-right: .9em;
    float: left;
  }

  &--twitter a,
  &--twitter svg {
    color: var(--col-twitter);
  }

  &--facebook a,
  &--facebook svg {
    color: var(--col-facebook);
  }

  &--linkedin a,
  &--linkedin svg {
    color: var(--col-linkedin);
  }
}

/* definition list - i.e. `dl` */
.list-def {
  &__term,
  &__desc {
    display: block;
  }

  &__term {
    margin-right: 1ch;
    float: left;
    clear: left;
    font-weight: var(--fw-semibold);
  }

  &__desc {
    margin-left: 0; /* remove UA style */
    padding: 0 1px; /* fix cropped focus outline caused by hidden overflow */
    overflow: hidden; /* for multi-line alignment */
    text-overflow: ellipsis; /* for long unbreakable words */

    &:not(:last-child) {
      margin-bottom: .25rem;
    }
  }
}

/**
 * Push icon to the right of a block of text.
 * Used in buttons, menus, etc.
 */
.push-icon {
  display: block;
  text-align: left;

  &__icon {
    display: inline-block;
    width: .75em;
    height: .75em;
    margin-left: 1em;
    vertical-align: middle;

    &--left {
      margin-right: 1em;
      margin-left: 0;
    }
  }

  @supports (display: flex) {
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* prevent icon from shrinking */
    &__icon {
      flex-shrink: 0;
    }
  }
}

/**
 * Boxed content
 * Removes top spacing of first child and bottom spacing of last child
 */
.box {
  & > *:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  & > *:first-child {
    margin-top: 0;
    padding-top: 0;
  }
}

/**
 * Clearfix
 */
.clearfix {
  &::before,
  &::after {
    content: '';
    display: table;
  }

  &::after {
    clear: both;
  }
}

/* Center text - useful for CMS */

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-italic {
  font-style: italic;
}

/* ellipsis overflow */
.text-ellipsis {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* prevent wrapping - e.g. for emails, URLs, etc. */
.text-nowrap {
  white-space: nowrap;
}

/**
 * Hide visually but not from screenreaders
 */
.screenreaders-only {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
}

/**
 * Download metadata
 */
.metadata {
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  color: var(--col-grey);
  font-size: .9em;
}

/**
 * Grid
 */
.grid {
  margin-right: -.5rem;
  margin-left: -.5rem;

  &::after {
    content: '';
    display: table;
    clear: both;
  }

  &--flex {
    display: flex;
  }
}

/**
 * Grid cells
 */
.cell {
  width: 100%;
  padding-right: .5rem;
  padding-left: .5rem;
  float: left;

  &--mob {
    &-1of2 { width: 50%; }
    &-1of3 { width: 33.33%; }
    &-1of4 { width: 25%; }
    &-2of3 { width: 66.66%; }
    &-3of4 { width: 75%; }
  }

  @media (--bp-max-mobile) {
    &--mob-clear { clear: left; }
  }

  @media (--bp-tablet) {
    &--tab {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
    }
  }

  @media (--bp-only-tablet) {
    &--tab-clear { clear: left; }
  }

  @media (--bp-desktop) {
    &--desk {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
    }
  }

  @media (--bp-only-desktop) {
    &--desk-clear { clear: left; }
  }

  @media (--bp-wide) {
    &--wide {
      &-1of2 { width: 50%; }
      &-1of3 { width: 33.33%; }
      &-1of4 { width: 25%; }
      &-2of3 { width: 66.66%; }
      &-3of4 { width: 75%; }
      &-clear { clear: left; }
    }
  }
}

/**
 * Animations
 */
@keyframes fadeIn {
  from { opacity: 0; }
}

@keyframes slideFromRight {
  from { transform: translateX(100%); }
}

@keyframes slideFromTop {
  from { transform: translateY(-100%); }
}
