/**
 * Variables
 */
:root {
  /* Brand palette */
  --col-brand: rgb(9, 65, 131);
  --col-brand-mid2: rgb(93, 130, 173);
  --col-brand-mid1: rgb(171, 190, 213);
  --col-brand-light2: rgb(218, 227, 237);
  --col-brand-light: rgb(242, 245, 249);

  /* Supporting palette */
  --col-grey-dark: #000; /* just use #000 */
  --col-grey: rgb(153, 162, 170);
  --col-grey-mid: rgb(198, 200, 202);
  --col-grey-mid-1: rgb(105, 109, 115);
  --col-grey-mid-2: rgb(75, 77, 83);
  --col-grey-light: rgb(235, 236, 236);
  --col-teal-dark: rgb(2, 112, 127);
  --col-teal: rgb(63, 167, 194);
  --col-teal-mid: rgb(124, 189, 206);
  --col-teal-light: rgb(196, 238, 238);
  --col-yellow: rgb(236, 174, 101);
  --col-yellow-mid: rgb(255, 220, 162);
  --col-yellow-light: rgb(253, 242, 223);
  --col-emerald-dark: rgb(34, 118, 95);
  --col-emerald: rgb(89, 177, 127);
  --col-emerald-mid: rgb(152, 214, 195);
  --col-emerald-light: rgb(213, 242, 230);
  --col-blue-dark: rgb(53, 101, 158);
  --col-blue: rgb(93, 127, 190);
  --col-blue-mid: rgb(173, 205, 240);
  --col-blue-light: rgb(203, 232, 239);
  --col-orange-dark: rgb(185, 61, 28);
  --col-orange: rgb(231, 112, 82);
  --col-orange-mid: rgb(255, 164, 120);
  --col-orange-light: rgb(253, 235, 221);
  --col-green-dark: rgb(70, 119, 73);
  --col-green: rgb(161, 209, 114);
  --col-green-mid: rgb(218, 226, 153);
  --col-green-light: rgb(243, 248, 215);
  --col-purple-dark: rgb(87, 96, 164);
  --col-purple: rgb(114, 131, 191);
  --col-purple-mid: rgb(176, 188, 225);
  --col-purple-light: rgb(222, 231, 248);
  --col-pink-dark: rgb(152, 65, 64);
  --col-pink: rgb(238, 136, 137);
  --col-pink-mid: rgb(255, 189, 204);
  --col-pink-light: rgb(255, 223, 230);

  /* Background colours */
  --col-bg: var(--col-brand);
  --col-bg-grey: rgb(247, 247, 247);
  --col-bg-light-blue: color(var(--col-brand) tint(92%));
  --col-bg-white: #fff; /* just use #fff */
  --col-bg-secondary: rgb(3, 58, 123); /* only for bottom half of footer */
  --col-bg-secondary-grey: #e4e4e4;
  --col-bg-tertiary: rgb(1, 42, 88); /* only for site-nav back button */

  /* Link colours - http://paletton.com/#uid=13o0u0kmmGKbYTnhIN2qUABwFtZ */
  --col-link: rgb(15, 91, 114);
  --col-link-visited: var(--col-purple-dark);
  --col-link-active: rgb(2, 72, 92);

  /* Rotating colours */
  --col-1: var(--col-grey);
  --col-2: var(--col-teal);
  --col-3: var(--col-yellow);
  --col-4: var(--col-emerald);
  --col-5: var(--col-orange);
  --col-6: var(--col-purple);
  --col-7: var(--col-pink);

  /* Third-party colours */
  --col-twitter: #55acee;
  --col-facebook: #3b5998;
  --col-linkedin: #0976b4;

  /* Vertical rhythm */
  --vr: 1.5rem;
  --lh: 1.5;
  --lsp: calc(var(--lh) - 1); /* line spacing (i.e. leading) */
  --hlsp: calc(var(--lsp) / 2); /* half line spacing (multiple by font-size to get space above/below elements) */

  /* Layout widths */
  /* Beware of `border-box` sizing when combining these widths with left/right padding */
  --w-xxsml: 20rem;
  --w-xsml: 30rem;
  --w-sml: 40rem;
  --w-mid: 60rem;
  --w-lge: 80rem;

  /* Typography */
  --ff-normal: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', 'Arial', sans-serif;
  --ff-lead: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
  --fw-semibold: 600;
  --fw-light: 300;

  /* Border radius */
  --br: 3px;

  /* Side nav width */
  --panel-width: 17%;
}

/**
 * Breakpoints
 */
@custom-media --bp-max-mobile (max-width: 480px);
@custom-media --bp-max-x-mobile (max-width: 599px);

@custom-media --bp-tablet (min-width: 481px);
@custom-media --bp-x-tablet (min-width: 600px);
@custom-media --bp-max-tablet (max-width: 768px);
@custom-media --bp-only-tablet (min-width: 481px) and (max-width: 768px);

@custom-media --bp-desktop (min-width: 769px);
@custom-media --bp-x-desktop (min-width: 900px);
@custom-media --bp-max-desktop (max-width: 1098px);
@custom-media --bp-only-desktop (min-width: 769px) and (max-width: 1098px);

@custom-media --bp-wide (min-width: 1099px);
@custom-media --bp-x-wide (min-width: 1250px);
@custom-media --bp-xx-wide (min-width: 85em);
