/**
 * Variables
 */
:root {
  /* Background colour palette */
  /* Note - Primary Navy BG is same as UoM Navy */
  --col-background-primary-navy: 9, 65, 131;
  --col-background-primary-grey: 247, 247, 247;
  --col-background-primary-white: 255, 255, 255;
  --col-background-secondary-navy: 3, 58, 123;
  --col-background-secondary-grey: 228, 228, 228;
  --col-background-tertiary-navy: 1, 42, 88;

  /* Primary palette */
  /* Note - Navy Dark is UoM Navy */
  --col-navy-dark: 9, 65, 131;
  --col-navy-mid-3: 83, 122, 168;
  --col-navy-mid-2: 93, 130, 173;

  /* #ABBED5 */
  --col-navy-mid-1: 171, 190, 213;

  /* #F2F5F9 */
  --col-navy-light: 242, 245, 249;

  /* Supporting palette */
  --col-black-dark: 0, 0, 0;
  --col-black-mid-2: 153, 162, 170;
  --col-black-mid-1: 198, 200, 202;
  --col-black-light: 235, 236, 236;
  --col-teal-dark: 2, 112, 127;
  --col-teal-mid-2: 63, 167, 194;
  --col-teal-mid-1: 124, 189, 206;
  --col-teal-light: 203, 232, 239;

  /* Note - there is no dark yellow in the brand palette */
  --col-yellow-mid-2: 236, 174, 101;
  --col-yellow-mid-1: 255, 220, 162;
  --col-yellow-light: 253, 242, 223;
  --col-emerald-dark: 34, 118, 95;
  --col-emerald-mid-2: 89, 177, 127;
  --col-emerald-mid-1: 152, 214, 195;
  --col-emerald-light: 213, 242, 230;
  --col-blue-dark: 53, 101, 158;
  --col-blue-mid-2: 64, 116, 178;
  --col-blue-mid-1: 173, 205, 240;
  --col-blue-light: 205, 230, 255;
  --col-orange-dark: 185, 61, 28;
  --col-orange-mid-2: 231, 112, 82;
  --col-orange-mid-1: 255, 164, 120;
  --col-orange-light: 255, 220, 186;
  --col-green-dark: 70, 119, 73;
  --col-green-mid-2: 161, 209, 114;
  --col-green-mid-1: 218, 226, 153;
  --col-green-light: 243, 248, 215;
  --col-purple-dark: 87, 96, 164;
  --col-purple-mid-2: 114, 131, 191;
  --col-purple-mid-1: 176, 188, 225;
  --col-purple-light: 222, 224, 248;
  --col-pink-dark: 152, 65, 64;
  --col-pink-mid-2: 238, 136, 137;
  --col-pink-mid-1: 255, 189, 204;
  --col-pink-light: 255, 223, 230;
  --col-white: 255, 255, 255;

  /* Colours that are outside of the brand palette */
  --col-orange-mid-0: 255, 182, 145;
  --col-grey-light: 237, 242, 245;
  --col-grey-dark: 87, 87, 87;
  --col-grey-mid-1: 105, 109, 115;
  --col-grey-mid-2: 74, 74, 74;
  --col-grey-mid-3: 29, 29, 29;
  --col-brand: var(--col-navy-dark);
  --col-brand-light-2: 218, 227, 237;
  --col-green-dark-tint: 47, 79, 48;

  /* Rotating colours */
  --col-1: var(--col-black-mid-2);
  --col-2: var(--col-teal-mid-2);
  --col-3: var(--col-yellow-mid-2);
  --col-4: var(--col-emerald-mid-2);
  --col-5: var(--col-orange-mid-2);
  --col-6: var(--col-purple-mid-2);
  --col-7: var(--col-pink-mid-2);

  /* Link colours */
  --col-link: var(--col-blue-dark);
  --col-link-visited: 66, 99, 138; /* custom colour - slightly desaturated and darkened Blue Dark */
  --col-link-active: var(--col-navy-dark);
  --col-link-on-dark: 124, 189, 205;
  --col-link-visited-on-dark: 193, 202, 230;
  --col-link-active-on-dark: 255, 255, 255;

  /* Third-party colours */
  --col-twitter: rgb(85, 172, 238);
  --col-facebook: rgb(59, 89, 152);
  --col-linkedin: rgb(9, 118, 180);

  /* Vertical rhythm */
  --vr: 1.5rem;
  --lh: 1.5;
  --lsp: calc(var(--lh) - 1);
  --grid-offset: -.75rem;

  /* line spacing (i.e. leading) */
  --hlsp: calc(var(--lsp) / 2);

  /* half line spacing (multiple by font-size to get space above/below elements) */

  /* Layout widths */
  /* Beware of `border-box` sizing when combining these widths with left/right padding */
  --w-xxsml: 20rem;
  --w-xsml: 30rem;
  --w-sml: 40rem;
  --w-mid: 60rem;
  --w-lge: 80rem;

  /* Typography */
  --ff-normal: 'Source Sans Pro', 'Gill Sans', 'Trebuchet MS', 'Arial', sans-serif;
  --ff-lead: 'Noto Serif', 'Georgia', 'Times New Roman', serif;
  --fw-semibold: 600;
  --fw-bold: 700;
  --fw-light: 300;
  --fw-regular: 400;

  /* Border radius */
  --br: 4px;
  --br-checkbox: 3px;
  --br-cards: 4px;

  /* Side nav width */
  --panel-width: 17%;

  /* Box shadow */
  --col-box-shadow: 0, 0, 0, .12;
  --col-box-shadow-btn: 0, 0, 0, .25;

  /* Font scale variable for calculation */
  --fs: 1.15;

  /* Font sizes */
  --h1-fs: calc(var(--h2-fs) * var(--fs));
  --h2-fs: calc(var(--h3-fs) * var(--fs));
  --h3-fs: calc(var(--h4-fs) * var(--fs));
  --h4-fs: calc(var(--h5-fs) * var(--fs));
  --h5-fs: calc(var(--h6-fs) * var(--fs));
  --h6-fs: calc(1rem * var(--fs));

  /* Z-index variables */
  --z-below: -1;
  --z-default: 1;
  --z-navigation: 100;
  --z-overlay: 500;
  --z-modal: 1000;

  /* Transitions */
  --transition-speed-normal: 250ms;

  /* Box shadow to use instead of outline in custom form elements */
  --outline-shadow: 0 0 0 3px rgba(var(--col-navy-mid-2), .8);
}

/**
 * Breakpoints
 */
@custom-media --bp-max-mobile (max-width: 480px);
@custom-media --bp-max-x-mobile (max-width: 599px);

@custom-media --bp-tablet (min-width: 481px);
@custom-media --bp-x-tablet (min-width: 600px);
@custom-media --bp-max-tablet (max-width: 768px);
@custom-media --bp-only-tablet (min-width: 481px) and (max-width: 768px);

@custom-media --bp-desktop (min-width: 769px);
@custom-media --bp-x-desktop (min-width: 900px);
@custom-media --bp-max-desktop (max-width: 1098px);
@custom-media --bp-only-desktop (min-width: 769px) and (max-width: 1098px);

@custom-media --bp-wide (min-width: 1099px);
@custom-media --bp-x-wide (min-width: 1250px);
@custom-media --bp-xx-wide (min-width: 1360px);
