.showcase-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100%;
  background-color: rgb(var(--col-navy-light));
  padding-bottom: 1rem;

  &__embed {
    margin-bottom: 1rem;
  }

  &__container {
    display: flex;
    background-color: rgb(var(--col-background-primary-navy));
    color: rgb(var(--col-white));

    &--bio {
      cursor: pointer;
    }
  }

  &__inner {
    display: flex;
    flex: auto;
    align-items: center;
    padding: .75rem 1rem;
  }

  &__thumb {
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    flex-basis: 19.1875rem;
    transition: all ease .25s;

    &--transition {
      flex-basis: 0;
    }

    &--inner {
      background-size: cover;
      background-position: center;
      min-width: 4rem;
      max-width: 4rem;
    }
  }

  &__titles {
    flex: 1;
  }

  &__title {
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: var(--fw-bold);
    line-height: 1.2;
    margin-bottom: .125rem;
  }

  &__sub-title {
    font-size: .8125rem;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    margin: 0;
  }

  &__bio {
    padding: 0 1rem 0 1rem;
    max-width: 100%;
    overflow-y: scroll;
    min-height: 0;
    transition: all ease .25s;
    flex-basis: 100%;
    margin-top: 1rem;

    &--transition {
      flex-basis: 0;
    }

    &--text {
      font-size: .8125rem;
      color: rgb(var(--col-grey-dark));
      line-height: 1.25;
      font-weight: var(--fw-regular);
    }
  }

  &__icon {
    transition: .25s all ease-in-out;
    transform: rotate(0deg);

    &--active {
      transform: rotate(180deg);
    }
  }

  @media (--bp-desktop) {
    max-height: 23.3125rem;
  }
}
