/**
 * Lists of images as used in senior leadership pages
 */
.card--imagelisting {
  .card__inner {
    padding-right: 0;
    padding-left: 0;
  }

  .card__thumb {
    height: 12.5rem;

    @media (--bp-desktop) {
      height: 11.1112rem;
    }
  }

  .card__header {
    margin-bottom: .75rem;
    font-size: 1.25rem;
    letter-spacing: normal;
    font-weight: var(--fw-bold);
    text-decoration: underline;
  }
}
