.card-rounded-figure {
  display: flex;
  flex-direction: row;

  @media (--bp-tablet) {
    flex-direction: column;
  }

  .card__inner {
    padding: 0;
  }

  .card__title {
    font-weight: var(--fw-regular);
    font-size: 1rem;
    line-height: 1.25;
    letter-spacing: -.025rem;
    color: rgb(var(--col-grey-mid-3));
    margin-bottom: .3125rem;
  }

  .card__footer {
    padding: 0;

    .btn {
      font-weight: var(--fw-regular);
      font-size: 1rem;
      letter-spacing: -.006rem;
      padding-left: .5rem;
      padding-right: .75rem;
    }
  }

  .card__meta {
    font-family: var(--ff-lead);
    font-weight: var(--fw-bold);
    font-size: 1.625rem;
    line-height: 1.23;
    letter-spacing: -.05rem;
    color: rgb(var(--col-grey-mid-3));
    margin-bottom: 1.25rem;

    @media (--bp-tablet) {
      margin-bottom: 1.875rem;
    }
  }

  .card__thumb {
    height: auto;
    width: auto;
    margin-bottom: 1.25rem;
    margin-right: .375rem;
  }
}
