.contact-card {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  a {
    color: var(--col-brand);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__map {
    width: 100% !important;
    max-width: 100%;
    height: 370px;
    background-color: white;
  }

  &__lower {
    background-color: white;
    padding: 1.5rem;

    .cell {
      padding: 1.5rem;
      border-top: 1px solid var(--col-grey-light);

      @media (--bp-desktop) {
        border-top: 0;
      }
    }
  }

  &__title {
    display: block;
    padding-bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
  }

  &__detail {
    display: block;
    margin-left: 0;
    padding: 1em 0;
    font-size: .9em;

    &--inline {
      display: inline-block;
      margin-left: 0;
      padding-top: 0;
      font-size: .9em;
    }
  }
}
