.card--events {
  color: rgb(var(--col-brand));

  .card__sub-titles {
    margin-bottom: .25rem;
    border-bottom: 0;
    padding: .5rem 0;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  .card__excerpt {
    @media (--bp-desktop) {
      display: none;
    }
  }

  @media (--bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
