/**
 * Focus box as used in About us - Growing esteem pages
 */
.card--focus-box {
  position: relative;
  padding: calc(var(--vr) * 2);
  text-align: left;

  &-vert {
    padding: var(--vr);
    text-align: center;
  }

  &__cnr {
    position: absolute;
    width: 6em;
    height: 6em;
    opacity: .5;
    color: var(--col-emerald);

    &--top-left {
      top: 0;
      left: 0;
    }

    &--btm-right {
      right: 0;
      bottom: 0;
    }
  }

  /* Focus mark color modifiers */
  &--brand {
    .card--focus-box__cnr {
      color: var(--col-brand);
    }
  }

  &--white {
    .card--focus-box__cnr {
      color: #fff;
    }
  }

  &--teal {
    .card--focus-box__cnr {
      color: var(--col-teal);
    }
  }

  &--yellow {
    .card--focus-box__cnr {
      color: var(--col-yellow);
    }
  }

  &--emerald {
    .card--focus-box__cnr {
      color: var(--col-emerald);
    }
  }

  &--blue {
    .card--focus-box__cnr {
      color: var(--col-blue);
    }
  }

  &--orange {
    .card--focus-box__cnr {
      color: var(--col-orange);
    }
  }

  &--green {
    .card--focus-box__cnr {
      color: var(--col-green);
    }
  }

  &--purple {
    .card--focus-box__cnr {
      color: var(--col-purple);
    }
  }

  &--pink {
    .card--focus-box__cnr {
      color: var(--col-pink);
    }
  }

  &__icon {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    margin-right: auto;
    margin-bottom: var(--vr);
    margin-left: auto;
    padding: 0 var(--vr);
    stroke-width: 0;
  }

  .cell:nth-child(7n+1) &__icon * { fill: var(--col-2); }
  .cell:nth-child(7n+2) &__icon * { fill: var(--col-3); }
  .cell:nth-child(7n+3) &__icon * { fill: var(--col-4); }
  .cell:nth-child(7n+4) &__icon * { fill: var(--col-5); }
  .cell:nth-child(7n+5) &__icon * { fill: var(--col-6); }
  .cell:nth-child(7n+6) &__icon * { fill: var(--col-7); }
  .cell:nth-child(7n) &__icon * { fill: var(--col-1); }
  .list-item:nth-child(7n+1) &__icon * { fill: var(--col-2); }
  .list-item:nth-child(7n+2) &__icon * { fill: var(--col-3); }
  .list-item:nth-child(7n+3) &__icon * { fill: var(--col-4); }
  .list-item:nth-child(7n+4) &__icon * { fill: var(--col-5); }
  .list-item:nth-child(7n+5) &__icon * { fill: var(--col-6); }
  .list-item:nth-child(7n+6) &__icon * { fill: var(--col-7); }
  .list-item:nth-child(7n) &__icon * { fill: var(--col-1); }

  &:not(.page-header &) {
    width: calc(100% + 3rem);
    margin: -3rem -1.5rem;

    @media (--bp-tablet) {
      width: 100%;
      margin: 0;
    }
  }
}
