.card--division {
  text-align: left;

  hr {
    margin: var(--vr) 0;
    border: 0;
    border-bottom: 2px solid rgb(var(--col-navy-mid-1));
  }

  .card__title {
    min-height: 6.5rem;
    margin: 0;
    padding: var(--vr);
    font-family: var(--ff-lead);
    font-size: 1.125em;
    font-weight: var(--fw-semibold);
  }

  .card__footer {
    padding: 0 var(--vr) var(--vr) var(--vr);
  }

  .card__subheader {
    min-height: 5.5rem;
  }

  &--head {
    .card__meta {
      margin: var(--vr) 0;
      font-weight: var(--fw-semibold);
    }

    .card__thumb {
      position: relative;
      height: 360px;

      &-img,
      img {
        width: 100%;
        height: 360px;
      }

      &-img {
        background-position: center;
        background-size: cover;
      }

      img {
        @supports (object-fit: cover) {
          object-fit: cover;
        }
      }

      &::before,
      &::after {
        content: '';
        display: inline-block;
        position: absolute;
        width: 5rem;
        height: 5rem;
        margin-top: .05rem;
        opacity: .6;
        background-size: cover;
      }

      &::before {
        top: 0;
        left: 0;
        background-image: url('~icons/focus-top-left.svg?fill=#074482');
      }

      &::after {
        right: 0;
        bottom: 0;
        background-image: url('~icons/focus-bottom-right.svg?fill=#074482');
      }
    }

    &-compact {
      .card__subheader {
        min-height: inherit;
      }

      .card__meta {
        margin-bottom: 0;
      }
    }

    .grid--1col .cell &,
    .listing--one .list-item & {
      .card__header {
        font-family: var(--ff-lead);
        font-size: 1.75rem;
      }

      .card__inner {
        width: 100%;
        margin-right: auto;
        margin-left: 0;
        padding-left: 0;

        @media (--bp-desktop) {
          width: 60%;
          padding-right: calc(var(--vr) * 2);
          float: left;
        }
      }

      .card__subheader {
        min-height: auto;
      }

      .card__thumb {
        margin-top: auto;
        margin-bottom: auto;

        @media (--bp-desktop) {
          width: 30%;
          float: right;

          .section__inner--sml & {
            width: 40%;
            height: 300px;

            img {
              height: 300px;
            }
          }
        }
      }

      @media (--bp-x-tablet) {
        border-bottom: 0;

        hr {
          max-width: 50%;
          text-align: left;
        }
      }
    }
  }
}
