.card--stafflist {
  .card__meta {
    margin-bottom: 0;
  }

  .card__thumb {
    height: 240px;
    background-position: center;
  }

  .card__header {
    margin-bottom: 0;
    color: rgb(var(--col-brand));
    font-size: 1.5rem;
    font-weight: var(--fw-semibold);
    line-height: 2rem;
    text-decoration: underline;
  }
}
