.card--showcase-profile {
  background-color: #fff;
  max-height: 23.3125rem;
  overflow: scroll;

  .card__container {
    display: flex;
    cursor: pointer;
    background-color: rgb(var(--col-background-primary-navy));
    color: #fff;

    &--fixed {
      z-index: var(--z-default);
      position: fixed;
    }
  }

  .card__inner {
    display: flex;
    flex: auto;
    align-items: center;
    padding: .75rem 1rem;
  }

  .card__thumb {
    padding-top: 56.25%;
    min-height: auto;
    height: 19.1875rem;
  }

  .card__thumb--inner {
    background-size: cover;
    background-position: center;
    height: 4.375rem;
    width: 4rem;
  }

  .card__titles {
    flex: 1;
  }

  .card__title {
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: var(--fw-bold);
    line-height: 1.2;
  }

  .card__sub-title {
    font-size: .8125rem;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    margin: 0;
  }

  .card__bio {
    padding: 1rem;
    max-width: 100%;
    background-color: rgb(var(--col-navy-light));

    &--text {
      font-size: .8125rem;
      color: rgb(var(--col-grey-dark));
      line-height: 1.25;
      font-weight: var(--fw-regular);
      margin-top: 1rem;
    }
  }

  /* Enter and leave animations can use different */
  /* durations and timing functions.              */
  .slide-fade-enter-active {
    transition: all .4s ease-in-out;
  }

  .slide-fade-leave-active {
    transition: all .3s ease-in-out;
  }

  .slide-fade-enter,
  .slide-fade-leave-to {
    opacity: 0;
  }
}
