.card--showcase-profile {
  background-color: rgb(var(--col-navy-light));

  .card__container {
    display: flex;
    cursor: pointer;
    background-color: rgb(var(--col-background-primary-navy));
    color: #fff;
    min-height: 4.125rem;
  }

  .card__inner {
    display: flex;
    flex: auto;
    align-items: center;
    padding: .75rem 1rem;
  }

  .card__thumb {
    padding-top: 56.25%;
    min-height: auto;
    height: 19.1875rem;
  }

  .card__thumb--inner {
    background-size: cover;
    background-position: center;
    height: 100%;
    min-width: 4rem;
    max-width: 4rem;
  }

  .card__titles {
    flex: 1;
  }

  .card__title {
    font-size: 1.125rem;
    letter-spacing: 0;
    font-weight: var(--fw-bold);
    line-height: 1.2;
    margin-bottom: .125rem;
  }

  .card__sub-title {
    font-size: .8125rem;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    margin: 0;
  }

  .card__bio {
    padding: 1rem;
    max-width: 100%;
    overflow: scroll;

    &--text {
      font-size: .8125rem;
      color: #575757;
      line-height: 1.25;
      font-weight: var(--fw-regular);
      margin-top: 1rem;
    }
  }

  .chevron {
    transition: .8s all ease;
  }

  .up {
    transform: rotate(0deg);
  }

  .down {
    transform: rotate(180deg);
  }

  @media (--bp-desktop) {
    max-height: 23.3125rem;
  }
}
