.card--stat {
  &.btn-owner {

    &.bg-inverted,
    &.bg-inverted--o95 {
      color: rgb(var(--col-background-primary-white));

      &:visited {
        color: rgb(var(--col-background-primary-white));
      }

      &:hover {
        background-color: color(rgb(var(--col-brand)) lightness(-2%));
      }
    }
  }
}

.card {
  &-header {
    &__heading {
      font-size: 3.8125rem;
      font-weight: var(--fw-semibold);
    }
  }
}

.card-focus {
  height: 100%;
}
