.card-course {
  display: flex;
  flex: 1;
  min-height: 100%;
  flex-direction: column-reverse;
  justify-content: center;
  padding: .85rem 1rem .85rem 1.25rem;
  text-decoration: none;
  position: relative;
  background-color: rgb(var(--col-background-primary-white));
  color: rgb(var(--col-brand));
  border: 1px solid rgb(var(--col-navy-mid-1));
  border-radius: .125rem;

  &::before {
    content: '';
    top: -.0625rem;
    left: -.0625rem;
    width: .389rem;
    height: calc(100% + .125rem);
    position: absolute;
    background-color: rgb(var(--col-black-light));
    border-top-left-radius: .125rem;
    border-bottom-left-radius: .125rem;
  }

  &--bachelor::before,
  &--degree::before {
    background-color: rgb(var(--col-blue-mid-2));
  }
  &--diploma::before {
    background-color: rgb(var(--col-blue-mid-1));
  }
  &--certificate::before {
    background-color: rgb(var(--col-teal-mid-1));
  }
  &--coursework::before {
    background-color: rgb(var(--col-emerald-mid-1));
  }
  &--research::before {
    background-color: rgb(var(--col-green-mid-2));
  }
  &--major::before {
    background-color: rgb(var(--col-purple-mid-2));
  }
  &--minor::before {
    background-color: rgb(var(--col-purple-mid-1));
  }
  &--phd::before {
    background-color: rgb(var(--col-green-dark));
  }
  &--specialisation::before {
    background-color: rgb(var(--col-emerald-mid-2));
  }
  &--interest::before {
    background-color: rgb(var(--col-purple-dark));
  }
  &--pathway::before {
    background-color: rgb(var(--col-teal-dark));
  }
  &--short-course::before {
    background-color: rgb(var(--col-orange-mid-2));
  }
  &--honours::before {
    background-color: rgb(var(--col-green-mid-1));
  }

  &:visited,
  &:active {
    color: rgb(var(--col-brand));
  }

  &__name {
    font-weight: var(--fw-semibold);
    font-size: 1rem;
    line-height: 1.25;

    .card-course--search-result & {
      font-weight: normal;
    }

    mark {
      font-weight: var(--fw-bold);
      background: transparent;
      color: rgb(var(--col-grey-mid-3));
    }
  }

  &:hover,
  &:focus {
    .card-course__name {
      text-decoration: underline;
    }
  }

  &__type {
    font-weight: var(--fw-normal);
    font-size: .875rem;
    line-height: 1.25;
    text-transform: capitalize;
    margin-bottom: 0;
    color: rgb(var(--col-grey-mid-2));
    margin-top: .3rem;
  }
}
