.contact-card {
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;

  a {
    color: rgb(var(--col-brand));
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__map {
    width: 100% !important;
    max-width: 100%;
    height: 370px;
    background-color: white;
  }

  &__lower {
    display: table;
    width: 100%;
    background-color: white;
  }

  &__col1_3 {
    margin-bottom: 0;
    padding: 3rem 1.5rem;
    border-top: 1px solid rgb(var(--col-black-light));
    vertical-align: top;

    @media (--bp-x-tablet) {
      display: inline-block;
      width: 50%;
      padding: 3rem;
      border-top: 0;
    }

    @media (--bp-desktop) {
      display: table-cell;
      width: 33.333%;
    }
  }

  &__title {
    display: block;
    margin-bottom: 1rem;
    font-size: 1.2em;
    font-weight: bold;
  }

  &__detail {
    display: block;
    margin-left: 0;
    padding: 1em 0;
    font-size: .9em;

    &--inline {
      display: inline-block;
      margin-left: 0;
      padding-top: 0;
      font-size: .9em;
    }
  }
}
