.card--stafflist {

  .card__inner {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
  }

  .card__thumb {
    height: 240px;
    background-position: center;
  }

  .card__header {
    text-decoration: none;

    a {
      margin-bottom: 0;
      color: rgb(var(--col-brand));
      font-weight: bold;
    }
  }

  .card__position {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .card__name {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    margin-bottom: 0;
  }

  .card__excerpt {
    border-top: 1px solid rgb(var(--col-black-mid-1));
    box-sizing: border-box;
    margin-top: 16px;
    padding-top: 16px;
    flex: 1 0 auto;
  }

  .card__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid rgb(var(--col-black-mid-1));
    padding: 16px 0 0 0;
    margin-top: 16px;
  }

  .card__phone,
  .card__email {
    font-size: .875rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    svg {
      margin-right: .8rem;
    }
  }
}
