.card--generic {
  background-color: rgb(var(--col-background-primary-white));
  color: rgb(var(--col-brand));
  border-radius: var(--br-cards);
  box-shadow: rgba(0, 0, 0, .18) 0 2px 2px 0;
  overflow: hidden;

  .card__thumb {
    padding-top: 56.25%;

    &--square {
      padding-top: 100%;
    }
  }

  .card__header {
    margin-bottom: .5rem;
  }

  .card__title {
    font-size: 1.25rem;
    line-height: 1.5625;
    font-weight: var(--fw-bold);
    text-decoration: none;
    color: rgb(var(--col-background-primary-navy));

    &:hover {
      text-decoration: underline;
    }
  }

  .card__inner {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
    margin-right: 0 !important;

    @media (--bp-desktop) {
      padding: 1.25rem;
    }
  }

  .card__sub-titles {
    border-top: 1px solid rgb(var(--col-black-mid-1));
    padding-top: .5rem;
    font-weight: var(--fw-semibold);
    font-size: .8125rem;
    line-height: 1.0625;
    color: #575756;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  .sub-title {
    display: flex;
    align-items: center;
    margin: 0;

    svg {
      margin: 0 5px 0 0;
    }
  }

  .card__meta {
    margin-bottom: .25rem;
  }

  .card__excerpt {
    border-top: 1px solid rgb(var(--col-black-mid-1));
    padding-top: .75rem;
    margin: .5rem 0;
    flex: 1 1 auto;
    font-size: .8125rem;
    line-height: 1.0625;
    color: #575756;
  }

  .card__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0;
  }

  .card__tags {
    display: flex;
  }

  .card__links {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    align-self: flex-end;

    a {
      font-weight: var(--fw-semibold);
      color: rgb(var(--col-background-primary-navy));

      &:hover {
        text-decoration: none;
      }
    }
  }

  &--full-width {
    .card__thumb {
      @media (--bp-desktop) {
        width: 30%;
        padding-top: 0;
      }
    }

    .card__inner {
      @media (--bp-desktop) {
        width: 70%;
      }
    }
  }
}
