.card-article-large {
  margin-bottom: 3rem;

  &__inner {
    display: flex;
    flex-direction: column-reverse;

    @media (--bp-x-tablet) {
      flex-direction: row;
      flex-wrap: wrap;
      margin-left: -1.3333rem;
      margin-right: -1.3333rem;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;

    @media (--bp-x-tablet) {
      width: calc(4 / 12 * 100%);
      padding-left: 1.3333rem;
      padding-right: 1.3333rem;
    }
  }

  &__img {
    display: block;
    flex: 1;
    margin-bottom: 1rem;

    @media (--bp-x-tablet) {
      margin-bottom: 0;
      padding-left: 1.3333rem;
      padding-right: 1.3333rem;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__category {
    order: -1;
    color: rgb(var(--col-grey-mid-1));
    margin-bottom: .5rem;

    @media (--bp-x-tablet) {
      margin-bottom: 1rem;
    }
  }
}
