.card-news-tag {
  color: rgb(var(--col-brand));

  .card__sub-titles {
    border-bottom: 0;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  @media (--bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
