.card-news-tag {
  color: rgb(var(--col-brand));

  .card__sub-titles {
    border-bottom: 0;

    svg {
      width: 13px;
      height: 13px;
    }
  }

  .card__inner {
    .card__footer {
      flex-direction: column;

      .card__tags {
        margin-bottom: 1.875rem;

        @media (--bp-desktop) {
          margin-bottom: 0;
        }
      }

      @media (--bp-desktop) {
        flex-direction: row;
        justify-content: space-between;
      }
    }
  }

  @media (--bp-tablet) {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
