.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  min-height: 100%;
  font-weight: normal;

  &.btn-owner {
    color: var(--col-brand);
    text-decoration: none;

    &:visited {
      color: var(--col-brand);
    }

    &.bg-inverted,
    &.bg-inverted--o95 {
      color: white;
      &:visited { color: white; }
      &:hover { background-color: color(var(--col-brand) lightness(-2%)); }
    }
  }

  &__inner {
    padding: var(--vr);

    &--tight {
      padding: var(--vr) 0;
    }
  }

  &__thumb {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &--zoom {
      position: relative;
      width: 100%;
      height: 200px;
      overflow: hidden;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        transition: transform .3s;
        background: inherit;
      }
    }
  }

  &__footer {
    margin-top: auto;
    margin-bottom: 0;
    padding: var(--vr);
  }

  /* One column */
  .grid--1col .cell &,
  .listing--one .list-item & {
    flex-direction: column;

    .card__inner {
      margin-right: auto;
    }

    @media (--bp-x-tablet) {
      flex-direction: row;

      &--division {
        flex-direction: row-reverse;
      }
    }
  }

  &--bdr-hover {
    border-bottom: .4rem solid #eee;
  }

  &--bdr,
  &--bdr:hover {
    border-bottom: .4rem solid;

    /* Border color sequence */
    .cell:nth-child(7n+1) & { border-color: var(--col-1); }
    .cell:nth-child(7n+2) & { border-color: var(--col-2); }
    .cell:nth-child(7n+3) & { border-color: var(--col-3); }
    .cell:nth-child(7n+4) & { border-color: var(--col-4); }
    .cell:nth-child(7n+5) & { border-color: var(--col-5); }
    .cell:nth-child(7n+6) & { border-color: var(--col-6); }
    .cell:nth-child(7n) & { border-color: var(--col-7); }

    .grid > .cell--col-1 & { border-color: var(--col-1); }
    .grid > .cell--col-2 & { border-color: var(--col-2); }
    .grid > .cell--col-3 & { border-color: var(--col-3); }
    .grid > .cell--col-4 & { border-color: var(--col-4); }
    .grid > .cell--col-5 & { border-color: var(--col-5); }
    .grid > .cell--col-6 & { border-color: var(--col-6); }
    .grid > .cell--col-7 & { border-color: var(--col-7); }

    .list-item:nth-child(7n+1) & { border-color: var(--col-1); }
    .list-item:nth-child(7n+2) & { border-color: var(--col-2); }
    .list-item:nth-child(7n+3) & { border-color: var(--col-3); }
    .list-item:nth-child(7n+4) & { border-color: var(--col-4); }
    .list-item:nth-child(7n+5) & { border-color: var(--col-5); }
    .list-item:nth-child(7n+6) & { border-color: var(--col-6); }
    .list-item:nth-child(7n) & { border-color: var(--col-7); }
  }

  &--bdr-top,
  &--bdr-top:hover {
    border-top: .4rem solid;
    border-bottom: 0;
  }

  &--bdr-blue {
    .cell &,
    .list-item & {
      border-bottom: .4rem solid var(--col-brand-mid2);
    }
  }

  &--bdr-thin,
  &--bdr-thin:hover {
    border-width: .2rem;
  }
}
