.card-image-listing {
  display: flex;
  width: 100%;
  min-height: 100%;
  background-color: rgb(var(--col-background-primary-white));
  border: 1px solid rgb(var(--col-black-mid-1));

  & + & {
    margin-top: 1rem;

    @media (--bp-tablet) {
      margin-top: 0;
      margin-left: 1rem;
    }

    @media (--bp-desktop) {
      margin-left: 1.25rem;
    }
  }

  &__inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1 1 auto;
  }

  &__wrapper {
    display: flex;
    padding: 1rem;
    width: 100%;

    @media (--bp-tablet) {
      flex-direction: column;
      padding: 1.25rem 1.75rem;
    }

    @media (--bp-desktop) {
      padding: 1.875rem;
    }
  }

  &__image-wrapper {
    margin-right: .875rem;

    @media (--bp-tablet) {
      margin: 0;
      margin-bottom: 1.25rem;
    }
  }

  &__image {
    width: 4.625rem;
    height: 4.625rem;
    padding-top: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (--bp-tablet) {
      min-height: 10rem;
      width: 100%;
    }
  }

  &__heading {
    flex: 1 1 auto;
    font-family: var(--ff-lead);
    font-weight: var(--fw-bold);
    letter-spacing: -.025rem;
    font-size: 1rem;
    line-height: 1.375;
    color: rgb(var(--col-grey-mid-3));
    margin-bottom: 1rem;

    @media (--bp-desktop) {
      font-size: 1.25rem;
      line-height: 1.2;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: var(--fw-semibold);
    font-size: 1rem;
    line-height: 1.125;
    color: rgb(var(--col-link));

    @media (--bp-tablet) {
      line-height: 1.75;
    }
  }
}
