.card--link {
  position: relative;
  align-items: flex-start;
  text-align: center;

  .card__thumb {
    position: relative;
    width: 100%;
    height: 200px;
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      transition: transform .3s;
      background: inherit;
    }
  }

  svg {
    position: absolute;
    top: calc((50% + 100px) - 7px);
    right: 1.5rem;
  }

  .card__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 100%;
    margin: auto;
    padding: var(--vr);
    text-align: center;
  }

  .title-inverted {
    color: #000;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
  }

  .cl-white {
    color: #fff;

    svg {
      color: #fff;
    }
  }

  .cl-inverted {
    color: #000;
    font-size: 20px;
    font-weight: 600;
    line-height: 26px;

    svg {
      color: #000;
    }
  }

  div.card__header {
    width: 100%;

    span {
      margin-right: auto;
      margin-left: auto;
    }

    svg {
      position: relative;
      top: auto;
      right: auto;
      min-width: 15px;
      margin-right: 0;
      margin-left: calc(var(--vr) / 2);
    }
  }

  p.card__header {
    padding-right: 3rem;
  }

  &.bg-alt {
    .card__header,
    svg {
      color: rgb(var(--col-brand));
    }
  }

  @media (--bp-desktop) {
    max-width: 14.3rem;
  }

  @supports (display: flex) {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
