.card--features-panel {
  .card__title {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: var(--vr);
    text-transform: none;
  }

  .card__footer {
    display: flex;
    justify-content: center;
    padding-top: 0;
  }

  .card__meta {
    font-size: 1rem;
  }

  .card__thumb {
    position: relative;
    height: 10.666rem;

    &-img,
    img {
      width: 100%;
      height: 10.666rem;
    }

    &-img {
      background-position: center;
      background-size: cover;
    }

    img {
      @supports (object-fit: cover) {
        object-fit: cover;
      }
    }

    &::before,
    &::after {
      content: '';
      display: inline-block;
      position: absolute;
      width: 5rem;
      height: 5rem;
      margin-top: .05rem;
      opacity: .6;
      background-size: cover;
    }
  }
}
