/**
 * Lists of images as used in senior leadership pages
 */
.card--imagelisting {
  .card__inner {
    padding-right: 0;
    padding-left: 0;
  }

  .card__thumb {
    height: 200px;
  }

  .card__header {
    color: rgb(var(--col-brand));
    font-weight: bold;
    text-decoration: underline;
  }
}
