.card--showcase-profile {
  @media (--bp-desktop) {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .card__inner {
    padding: .5rem 0 0 1.5rem;
  }

  .card__thumb {
    @media (--bp-desktop) {
      max-width: 192px;
      height: 136px;
    }
  }

  .card__title {
    font-size: 20px;
    font-weight: var(--fw-semibold);
  }

  .card__sub-title {
    margin: 0;
  }

  .card__dash {
    height: 4px;
    width: 37px;
    background: rgb(9, 65, 131);
    margin: .5rem 0 .5rem 0;
  }

  .card__button {
    font-weight: 600;
    text-decoration: underline;
  }

  .card__icon {
    display: initial;
    margin-left: 4px;
  }

  .card__bio {
    padding: 12px 16px 12px 16px;
    margin: 0;
    max-width: 100%;
    background-color: rgb(var(--col-navy-light));
  }
}
