.card--stafflist {

  .card__inner {
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    border-left: 1px solid rgb(var(--col-navy-mid-1));
    border-right: 1px solid rgb(var(--col-navy-mid-1));
  }

  .card__thumb {
    height: 15rem;
    background-position: center;

    @media (--bp-desktop) {
      height: 13.333rem;
    }
  }

  .card__header {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    a {
      margin-bottom: 0;
      color: rgb(var(--col-brand));
      font-weight: bold;
    }
  }

  .card__position {
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  .card__name {
    font-size: 1rem;
    font-weight: var(--fw-regular);
    margin-bottom: 0;
  }

  .card__excerpt {
    border-top: 1px solid rgb(var(--col-black-mid-1));
    box-sizing: border-box;
    margin-top: 1rem;
    padding-top: 1rem;
    flex: 1 0 auto;
  }

  .card__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-top: 1px solid rgb(var(--col-black-mid-1));
    padding: 1rem 0 0 0;
    margin-top: 1rem;
  }

  .card__phone,
  .card__email {
    font-size: .875rem;
    display: inline-flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    svg {
      margin-right: .8rem;
    }
  }
}
