.card-flat {
  height: 100%;
  display: flex;
  flex-direction: column;

  &__description {
    flex: 1;
  }

  &__img {
    display: block;
    order: -1;
    margin-bottom: 1.5rem;

    &-inner {
      display: block !important;
    }

    @media (--bp-desktop) {
      order: 0;
      margin-bottom: 0;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}
