.card--campaign {
  .card__excerpt {
    font-weight: var(--fw-normal);
    font-size: .888rem;
    line-height: 1.4;
    color: rgb(var(--col-grey-mid-3));
    padding: 1rem 1.111rem;
    background: rgb(var(--col-background-primary-white));
    margin: 0 .388rem;
    flex: 1 0 auto;
  }
}
