.card--generic {
  background-color: white;
  color: rgb(var(--col-brand));

  .card__header {
    margin-bottom: .5rem;
  }

  .card__sub-title {
    margin-bottom: .25rem;

    svg {
      width: 18px;
      height: 18px;
    }
  }

  .card__meta {
    margin-bottom: .25rem;
  }

  .card__excerpt {
    margin: 1.5rem 0;
  }
}
