.toggleblock {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;

  &__default {
    display: flex;
    position: relative;
  }

  &__hidden {
    max-height: 0;
    transform: scaleY(0);
    transform-origin: top;
    overflow: hidden;
    transition: transform .2s ease-out, max-height .2s ease-out;

    &--active {
      transform: scaleY(1);
      transition-timing-function: ease-in;
      max-height: 100%;
    }
  }

  &--mobile {
    .toggleblock__default {
      display: block;
      position: relative;
      padding: .925rem;
      border-bottom: 3px solid rgba(255, 255, 255, .3);
      background-color: rgb(var(--col-brand));
      text-decoration: none;
      cursor: pointer;

      &--light {
        background-color: rgb(var(--col-navy-light));

        > h2 {
          color: rgb(var(--col-navy-dark)) !important;

          &::after {
            border-color: rgb(var(--col-navy-dark)) !important;
          }
        }
      }

      > h2 {
        margin-bottom: 0;
        color: rgb(var(--col-background-primary-white));
        font-family: var(--ff-normal);
        font-size: 1.2rem;
        font-weight: var(--fw-semibold);
        text-align: center;
        text-transform: uppercase;

        &::after {
          content: '';
          display: inline-block;
          position: relative;
          top: -.275rem;
          width: .667rem;
          height: .667rem;
          margin-left: 1rem;
          transform: rotate(45deg);
          border: 0 solid white;
          border-right-width: 1px;
          border-bottom-width: 1px;
        }
      }
    }

    .toggleblock__default--active > h2::after {
      top: .125rem;
      border-width: 0;
      border-top-width: 1px;
      border-left-width: 1px;
    }

    .toggleblock__hidden {
      padding-top: 1.5rem;
    }

    .toggleblock__footer {
      display: block;
      visibility: visible;
      height: auto;
      padding: .925rem;
      border-top: 3px solid rgba(255, 255, 255, .3);
      background-color: rgb(var(--col-brand));
      color: rgb(var(--col-background-primary-white));
      font-family: var(--ff-normal);
      font-size: 1.2rem;
      font-weight: var(--fw-semibold);
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &::before {
        content: '';
        display: inline-block;
        position: relative;
        top: .125rem;
        width: .667rem;
        height: .667rem;
        margin-right: 1rem;
        transform: rotate(45deg);
        border: 0 solid white;
        border-top-width: 1px;
        border-left-width: 1px;
      }

      &--light {
        background-color: rgb(var(--col-navy-light));
        color: rgb(var(--col-navy-dark));

        &::before {
          border-color: rgb(var(--col-navy-dark));
        }
      }
    }

    @media (--bp-desktop) {
      .toggleblock__default {
        display: none;
      }

      .toggleblock__hidden {
        max-height: 120rem;
        padding-top: 0;
      }

      .toggleblock__footer {
        display: none;
      }
    }
  }
}

.enquiry {
  .toggleblock__default {
    margin: auto;
    justify-content: space-around;
  }
}
