.in-page-navigation {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__container {
    margin-top: 1.3rem;
    columns: 1;

    @media (--bp-tablet) {
      columns: 2;
    }
  }

  &__title {
    font-family: var(--ff-normal);
    font-size: 1.125rem;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  &__line {
    width: 2.222rem;
    margin: 0;
    border: 1px solid;
  }

  &__link {
    font-family: var(--ff-normal);
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0;
  }

  &__icon {
    display: inline;
    width: .444rem;
    height: .444rem;
    margin-left: .333rem;
  }

  &__position {
    break-inside: avoid;
  }

  &__collapsed {
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    position: fixed;
    z-index: var(--z-overlay);
    top: 0;
    left: 0;
    transition: all .3s;
    padding: .5rem;
    width: 100%;
    background: #fff;
    transform: translateY(-100%);

    &--fixed {
      transform: translateY(0);
    }
  }
}
