blockquote,
.block-quotation {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: var(--vr);
  padding-left: var(--vr);

  p,
  &__content {
    position: relative;
    margin-bottom: 0;
    font-family: var(--ff-lead);
    font-size: 1.8rem;
    font-style: italic;

    &::before,
    &::after {
      position: absolute;
      color: var(--col-grey-mid-1);
      font-size: 2.4rem;
      font-style: normal;
    }

    &::before {
      content: '“';
      top: -.5em;
      left: 0;
      float: left;

      @media (--bp-desktop) {
        left: -2rem;
      }
    }

    &::after {
      content: '”';
      right: 0;
      bottom: -.25em;
      float: right;

      @media (--bp-desktop) {
        right: -2rem;
      }
    }
  }

  &.long {
    p,
    &__content {
      font-size: 1.6rem;
    }
  }

  &--bdr-top {
    padding-top: 1.8em;
    border-top: 1px solid;
    border-color: rgb(var(--col-grey-mid-1));

    .block-quotation__content::before {
      top: .25em;
    }
  }

  &--bdr-btm {
    padding-bottom: 1.8em;
    border-bottom: 1px solid;
    border-color: rgb(var(--col-grey-mid-1));

    .block-quotation__content::after {
      bottom: .5em;
    }
  }

  cite,
  &__author {
    width: 100%;
    margin-top: calc(var(--vr) / 2);
    float: left;
    color: var(--col-grey-mid-2);
    font-size: 1.1em;
    font-style: normal;
    text-align: left;
    font-weight: var(--fw-bold);

    &::before {
      content: '—';
    }
  }

  &__sub-cite {
    font-weight: var(--fw-regular);

    @media (--bp-x-tablet) {
      margin-top: calc(var(--vr) / 2);
    }
  }

  .bg-inverted & {
    cite {
      color: var(--col-black-light);
    }

    &__content {
      &::before,
      &::after {
        color: var(--col-black-light);
      }
    }

    &--bdr-btm,
    &--bdr-top {
      border-color: rgb(var(--col-black-light));
    }
  }

  &--small {
    p,
    .block-quotation__content {
      font-size: 1.15rem;
      line-height: 1.9rem;

      &::before {
        top: -.25em !important;
        left: -1.5rem !important;
      }

      &::after {
        right: -1.5rem;
      }
    }

    .block-quotation__author {
      font-size: 1.15rem;
      line-height: 1.5rem;
    }
  }

  @media (--bp-desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}
