blockquote,
.block-quotation {
  display: flex;
  position: relative;
  flex-direction: column;
  padding-right: var(--vr);
  padding-left: var(--vr);
  border-color: var(--col-grey-mid-1);

  p,
  &__content {
    margin-bottom: 0;
    font-family: var(--ff-lead);
    font-size: 2.2rem;
    font-style: italic;

    &::before,
    &::after {
      position: absolute;
      color: var(--col-grey-mid-1);
      font-size: 3rem;
      font-style: normal;
    }

    &::before {
      content: '“';
      top: .5em;
      left: 0;
      float: left;

      @media (--bp-desktop) {
        left: -2rem;
      }
    }

    &::after {
      content: '”';
      right: 0;
      bottom: .75em;
      float: right;

      @media (--bp-desktop) {
        right: -2rem;
      }
    }
  }

  &--bdr-top {
    padding-top: 2.2em;
    border-top: 2px solid;
  }

  &--bdr-btm {
    padding-bottom: 2.2em;
    border-bottom: 2px solid;
  }

  &--inverted {
    border-color: #fff;
  }

  cite,
  &__author {
    width: 100%;
    margin-top: calc(var(--vr) / 2);
    float: left;
    color: var(--col-grey-mid-1);
    font-size: 1.1em;
    font-style: normal;
    text-align: left;

    &::before {
      content: '—';
    }
  }

  @media (--bp-desktop) {
    padding-right: 0;
    padding-left: 0;
  }
}
