@import '../../_vars.css';

.pre-footer {
  display: flex;
  align-items: center;
  min-height: 82px;
  background: rgba(var(--col-background-primary-navy));
  color: #fff;

  a {
    color: #fff;
  }

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
    padding: 1.5rem;
    flex-direction: column;

    @media (--bp-desktop) {
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    line-height: 2.5;
    margin-bottom: 1rem;

    &--link {
      display: flex;
      align-items: center;
      margin-right: 3rem;

      a {
        font-size: 18px;
        font-family: var(--ff-normal);
        font-weight: 600;
      }

      svg {
        margin-right: .8rem;
      }
    }

    @media (--bp-desktop) {
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__social {
    display: flex;
    align-items: flex-start;
    width: 100%;
    flex: .5;

    a {
      margin-right: 1.5rem;

      @media (--bp-desktop) {
        margin-right: 0;
        margin-left: 1.5rem;
      }
    }

    @media (--bp-desktop) {
      align-items: center;
      justify-content: flex-end;
    }
  }
}
