.article {
  
  header {
    padding: calc(var(--vr) * 2) 0 0 0;
  }

  &__aside{
    float: left;
    width: 100%;
    
    @media (--bp-desktop) {
      padding-right: var(--vr);
      width: 30%;
    }

    .contact{

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style: none;
        }
      }
      
      b {
        display: inline-block;
        padding-right: 0.5em;
      }
      
    }

    section{
      border-bottom: 1px solid var(--col-brand);
      padding: calc(var(--vr) / 2) 0;
    
      @media (--bp-desktop) {
        padding: var(--vr) 0;
      }  

      &.social{
        h5 {
          text-transform: uppercase;
          margin-bottom: calc(var(--vr) / 2);
        }
        ul {
          list-style: none;
          padding: 0;
          margin: 0;
          
          li.icon {
            width: 2em;
            height: 2em;
            display: inline-block;
          }
        }

      }

      
    }
    
      
  }

  &__main {
    float: right;
    width: 100%;
    padding: var(--vr) 0;
    
    @media (--bp-desktop) {
      width: 70%;
      padding: var(--vr);
    }
  }
  
}

