.division{
  
  text-align: left;

  border-bottom: 0.4rem solid;

  &:nth-child(7n+1){
    border-color: var(--col-1);
  }
  &:nth-child(7n+2){
    border-color: var(--col-2);
  }
  &:nth-child(7n+3){
    border-color: var(--col-3);
  }
  &:nth-child(7n+4){
    border-color: var(--col-4);
  }
  &:nth-child(7n+5){
    border-color: var(--col-5);
  }
  &:nth-child(7n+6){
    border-color: var(--col-6);
  }
  &:nth-child(7n+7){
    border-color: var(--col-7);
  }

  &__header {
    background-color: var(--col-brand);
    padding: var(--vr);
    color: var(--col-white);
    text-align: left;
    min-height: 6.5rem; /* two lines*/
    display: flex;
    align-items: center;
    font-size: 1.25rem;
    margin-bottom: 0;
  }

  &__title{
    font-size: 1.125em;
    margin: 0;
    margin-bottom: calc(var(--vr) / 2);
  }

  &__meta{
    font-size: 1em;
    font-weight: normal;
    min-height: 3rem;
    margin: 0;
  }

  .btn{
    margin: var(--vr) 0;
    min-width: 90%;
  }

  hr {
    border: 1px solid var(--col-brand-mid1);
    margin: var(--vr) 0;

  }

  &__inner{
    padding: calc(var(--vr) / 2) var(--vr);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: calc(100% - 6.5rem);

    .btn{
      margin-top: auto;
      margin-bottom: var(--vr);
    }
  }

}