/**
 * Spotlight container
 */
.spotlight {
  text-align: left;

  &__heading {
    margin-bottom: 2.25rem;
  }

  &__text > p {
    padding-bottom: 0;
  }

  &__feature {
    margin-top: calc(2 * var(--vr));
    margin-bottom: 0; /* let button bring spacing */
  }

  &__btn {
    margin-top: calc(2 * var(--vr));
    width: 15.5rem;
  }

  &--heavy {
    .spotlight__text {
      font-size: 1.125rem;
      font-weight: var(--fw-semibold);
    }
  }

  

  @media (--bp-desktop) {
    &__text {
      font-size: 1.125rem;
    }

    &--heavy {
      .spotlight__text {
        font-size: 1.25rem;
      }
    }
  }
}
