.listing {
  margin-right: -.75rem;
  margin-left: -.75rem;
  padding: 0;

  &--one {
    .list-item {
      width: 100%;
    }
  }

  @supports (display: flex) {
    display: flex;
    flex-wrap: wrap;

    &--center {
      justify-content: center;
    }
  }

  @media (--bp-desktop) {
    &--two {
      .list-item {
        flex: 0 0 calc(100% / 2);
        max-width: calc(100% / 2);
      }
    }

    &--three {
      .list-item {
        flex: 0 0 calc(100% / 3);
        max-width: calc(100% / 3);
      }
    }

    &--four {
      .list-item {
        flex: 0 0 calc(100% / 4);
        max-width: calc(100% / 4);
      }
    }
  }

  @media (--bp-only-tablet) {
    &--four,
    &--three {
      .list-item {
        flex: 0 0 50%;
        min-width: 50%;
        max-width: 50%;
      }
    }
  }
}

.list-item {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: calc(var(--vr) / 2);
  margin-bottom: calc(var(--vr) / 2);
  padding-right: calc(var(--vr) / 2);
  padding-left: calc(var(--vr) / 2);
  float: left;
  list-style: none;

  @media (--bp-x-tablet) {
    &--desk-1of1 {
      width: 100%;
    }

    &--desk-1of2 {
      width: calc(100% / 2);
    }

    &--desk-1of3 {
      width: calc(100% / 3);
    }

    &--desk-2of3 {
      width: calc((100% / 3) * 2);
    }

    &--desk-1of4 {
      width: calc(100% / 4);
    }

    &--desk-3of4 {
      width: calc((100% / 4) * 3);
    }
  }

}
