.social-media-bar {
  background: rgba(var(--col-background-tertiary-navy));

  &__inner {
    width: 100%;
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (--bp-desktop) {
      flex-direction: row;
    }
  }

  &__container-top {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
  }

  &__title {
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: 0;
    font-weight: var(--fw-bold);
  }

  &__links {
    line-height: 2.5;

    @media (--bp-desktop) {
      display: flex;
      flex-direction: row;
      margin-bottom: 0;
    }
  }

  &__link {
    display: flex;
    align-items: center;
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    color: #fff;

    &:visited {
      color: #fff;
    }

    &--social {
      padding: 0 .75rem;

      &:visited {
        color: #fff;
      }
    }

    @media (--bp-desktop) {
      &:last-child {
        margin-left: 4.375rem;
      }
    }
  }

  &__icon {
    color: #fff;
    margin-right: .8rem;
  }

  &__container-bottom {
    display: flex;
    justify-content: center;
    padding: 0 1.5rem 1.5rem 1.5rem;

    @media (--bp-desktop) {
      padding: 1.5rem;
      flex-direction: column;
    }
  }

  &__social {
    display: flex;
  }

  &__follow-us {
    display: none;
    font-size: 1.125rem;
    color: #fff;
    letter-spacing: 0;
    font-weight: var(--fw-semibold);
    padding-left: .75rem;

    @media (--bp-desktop) {
      display: block;
    }
  }
}
