.page-header {
  position: relative;
  padding: 2rem 0 0;
  overflow: hidden;
  background-color: var(--col-bg);
  color: #fff;

  &__logo {
    display: block;
    width: 48px;
    height: 48px;

    @media (--bp-tablet) {
      width: 117px;
      height: 117px;
    }
  }

  /* Entity identifier */
  &__entity {
    position: relative;
    z-index: 1;
    width: 50%;
    margin-top: calc(var(--vr) * 2);

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: -.75em;
      left: 0;
      width: 1rem;
      border-top: 1px solid #fff;
    }

    &__main,
    &__sub {
      margin-bottom: 0;
    }

    &__main {
      font-weight: var(--fw-semibold);
    }

    &__sub {
      margin-top: .25rem;
      font-size: .875em;
    }

    @media (--bp-max-mobile) {
      width: 90%;
    }
  }

  &__heading {
    position: relative;
    z-index: 1;
    width: 50%;
    max-width: calc(64rem * .4);
    margin-top: calc(var(--vr) * 4);
    padding-right: 3rem;

    /* reduce spacing when entity identifier is present */
    .page-header__entity + & {
      margin-top: calc(var(--vr) * 2.5);
    }

    @media (--bp-max-mobile) {
      width: auto;
      margin-bottom: 28rem; /* push img down for long titles */
    }

    @media (--bp-desktop) {
      margin-bottom: calc(var(--vr) * 4);

      .page-header__entity + & {
        margin-bottom: calc(var(--vr) * 3);
      }
    }
  }

  &__img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 50%;
    max-width: 55rem;
    background-color: var(--col-brand-mid2);
    background-position: center bottom;
    background-size: cover;

    @media (--bp-max-mobile) {
      top: 7rem;
      width: 85%;
    }
  }

  /* Aperture mark */
  &__aperture::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -1px; /* fix subtle border artefact in Firefox on some viewports */
    background: url('~icons/aperture.svg') left center / cover;
  }

  &--l2 {
    .page-header__heading {
      margin-top: calc(var(--vr) * 2);
      font-size: 1.75rem;
    }

    .page-header__entity + .page-header__heading {
      margin-top: calc(var(--vr) * 1.5); /* less when following entity identifier */
    }

    @media (--bp-desktop) {
      .page-header__heading {
        margin-bottom: calc(var(--vr) * 2);
      }
    }
  }

  &--l3 {
    z-index: 0;
    padding: 0;

    .page-header__inner {
      display: flex;
      position: relative;
      align-items: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .page-header__shape {
      position: absolute;
      top: -35%; /* MAGIC NUMBER account for slight rotation */
      right: 0;
      bottom: 0;
      left: 27%;
      transform: rotate(.25deg); /* rotate slightly */
      background-color: inherit; /* pass on background colour to pseudo-elements */

      &::before,
      &::after {
        content: '';
        display: block;
        position: absolute;
        right: 0;
        left: 0;
        background-color: inherit; /* inherit from shape and header */
      }

      /* triangle in top left-hand corner */
      &::before {
        top: 0;
        height: 60%;
        transform: skewY(-30deg);
        transform-origin: top left;
      }

      /* triangle in bottom left-hand corner */
      &::after {
        bottom: 0;
        height: 40%;
        transform: skewY(60deg);
        transform-origin: bottom left;
      }
    }

    .page-header__logo {
      font-size: .875rem; /* fix wrapping of `alt` text */

      @media (--bp-tablet) {
        width: 85px;
        height: 71px;
      }
    }
  }
}
