:root {
  --width-sitenav: 18.75rem;
  --offset-sitenav: calc(0 - var(--width-sitenav));
  --tr-transform: transform .3s ease;
}

.megamenu {
  position: fixed;
  z-index: var(--z-navigation);
  top: 0;
  right: -100%;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  transform: translateX(0);
  transition: var(--tr-transform);
  background-color: rgb(var(--col-brand));
  color: rgb(var(--col-background-primary-white));

  &__logo {
    @media (--bp-x-desktop) {
      flex: 1 0 auto;
    }
  }

  &.active {
    top: 0;
    min-height: 100%;
    transform: translateX(-100%);
  }

  &__blanket {
    position: absolute;
    top: -7.5rem;
    left: 0;
    width: 100%;
    height: 7.5rem;
    margin: -1rem;
    background-color: rgba(0, 0, 0, .5);
  }

  &--show-on-desktop {
    display: none;

    @media (--bp-x-desktop) {
      display: block;
    }
  }

  .inner {
    position: absolute;
    top: 0;
    right: -100%;
    width: 100%;
    height: inherit;
    overflow-x: hidden;
    overflow-y: auto;
    transform: none;
    transition: var(--tr-transform);
    background-color: rgb(var(--col-brand));

    &--fade {
      animation: fadeIn .5s backwards;
    }

    &.open {
      transform: translateX(-100%);
    }

    @media (--bp-x-desktop) {
      display: none;
      top: 100%;
      left: 0;
      height: auto;
      margin-top: 0;
      margin-bottom: 0;
      padding: 2.5rem 1.5rem;
      background-color: rgb(var(--col-background-secondary-navy));
    }

    @media (--bp-wide) {
      padding-left: 6.944rem;
      padding-right: 4.722rem;
    }

    @media (--bp-x-wide) {
      padding-right: 5.833rem;
    }

    @media (--bp-xx-wide) {
      padding-left: 7.222rem;
      padding-right: 6.666rem;
    }
  }

  > .page-header-search__form {
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-left: 1rem;

    .page-header-search__input {
      width: calc(100% - 4rem);
    }
  }

  .menu {
    &__mobile {
      padding-left: 1.5rem;

      &--line {
        margin: .833rem 0;
        max-width: 5%;
        border: 0;
        border-bottom: 2px solid white;
      }
    }

    &__section {
      padding: 0;
      border-bottom: 1px solid rgba(255, 255, 255, .05);

      .menu__back-btn::before {
        content: '\2039';
        line-height: .9;
      }

      .menu__section .menu__item {
        width: 100%;
      }
    }

    &__item {
      margin-bottom: 0;
      list-style-type: none;
      border-top: 1px solid rgba(255, 255, 255, .05);
      border-left: 5px solid transparent;

      &:hover {
        border-bottom-color: rgb(var(--col-navy-mid-1));
      }

      &--active {
        border-left-color: rgb(var(--col-navy-mid-1));
      }
    }

    &__nested-parent,
    &__link {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: .75rem 2rem .75rem;
      color: rgb(var(--col-background-primary-white));
      text-decoration: none;

      &:hover,
      &:focus {
        color: rgb(var(--col-background-primary-white));
        text-decoration: underline;
      }

      @media (--bp-x-desktop) {
        padding: .75rem .5rem .75rem;
        font-size: .9rem;
      }

      @media (--bp-wide) {
        padding: 1.0625rem .4375rem .75rem;
        font-size: 1rem;
      }

      @media (--bp-x-wide) {
        padding: .8125rem .625rem .5rem .625rem;
      }
    }

    &__link[href='#'] {
      opacity: .2;
      cursor: not-allowed;
    }

    &__nested-parent {
      padding-left: 1.25rem;
    }

    &__back-btn {
      display: block;
      width: 100%;
      padding: 1.25rem;
      background-color: rgb(var(--col-background-tertiary-navy));
      color: rgb(var(--col-background-primary-white));
      font-weight: var(--fw-semibold);
      line-height: 1.96;
      text-align: left;
      text-decoration: none;
      text-transform: uppercase;
      cursor: pointer;

      &::before {
        content: '\00d7';
        width: 1.25rem;
        padding-right: .625rem;
        float: left;
        font-size: 1.75rem;
        font-weight: var(--fw-semibold);
        line-height: 1.1;
        text-align: center;
      }

      &:hover {
        text-decoration: underline;
      }
    }

    &__block {
      margin-right: 1rem;

      @media (--bp-x-desktop) {
        width: 50%;
      }

      @media (--bp-max-mobile) {
        width: 100%;
        margin-right: 0;
      }
    }

    &__aside {
      margin: 1.5rem;

      &-info {
        &__link {
          a {
            color: rgb(var(--col-background-primary-white));
            font-weight: 600;
          }
        }

        &__text {
          color: rgb(var(--col-background-primary-white));
        }
      }

      @media (--bp-x-desktop) {
        margin: 0;
      }
    }

    &__campaign {
      display: block;

      &-text {
        position: absolute;
        bottom: 0;
        width: 100%;
        margin-bottom: 0;
        padding: 1rem 1.25rem;
        background-color: rgba(185, 61, 28, .95);
        font-size: .8125rem;
        line-height: 1.4;
        text-decoration: none;
      }

      &-title {
        display: block;
        padding-bottom: .25rem;
      }

      &--img {
        width: 100%;
        height: auto;
      }
    }
  }

  a.menu__campaign:hover .menu__campaign-title {
    text-decoration: underline;
  }

  @media (--bp-tablet) {
    right: var(--offset-sitenav);
    width: var(--width-sitenav);

    .menu__section {
      padding-right: 0;
    }

    &.active {
      box-shadow: 1px 0 12px 3px rgba(0, 0, 0, .6);
    }

    .inner.open {
      transform: translateX(var(--offset-sitenav));
    }
  }

  @media (--bp-x-desktop) {
    display: flex;
    position: static;
    right: auto;
    justify-content: space-between;
    width: 100%;
    padding-left: 0;
    transform: none;
    box-shadow: none;

    &__with-top-menu {
      height: 67%;
      padding-right: 1rem;

      .menu__section {
        .menu__link {
          padding-top: 0;
        }
      }

      @media (--bp-x-desktop) {
        padding-right: .35rem;
      }

      @media (--bp-wide) {
        padding-right: .3rem;
      }

      @media (--bp-x-wide) {
        padding-right: 1.1rem;
      }
    }

    &__blanket {
      position: static;
      height: auto;
      margin: 0;
      background-color: transparent;
      align-self: stretch;
    }

    .inner {

      &.open {
        display: none;
        position: absolute;
      }

      .menu__item {
        display: flex;
        padding: 1.5rem;
        border-bottom: 0;
      }
    }

    > .page-header-search__form,
    .menu__back-btn {
      display: none;
    }

    .menu {
      &__aside {
        width: 50%;

        &-info {
          width: 100%;

          &__text {
            padding: .5rem;
          }

          &__link {
            text-align: right;
          }
        }

        @media (--bp-x-desktop) {
          width: 50%;
          flex-direction: column;
        }

        @media (--bp-wide) {
          width: 50%;
          flex-direction: row;
          padding-right: 0;
        }
      }

      &__nested-parent {
        display: table-cell;
        position: relative;
        height: calc(6.4375rem - .277rem);
        padding: calc(1rem + .277rem) 1.5rem 1rem;
        line-height: 1.1;
        text-align: center;
        text-decoration: none;
        vertical-align: middle;
      }

      &__item {
        border-top: none;
        border-bottom: 5px solid transparent;
        border-left: 0;

        &--right {
          justify-content: flex-end;
        }

        &--active {
          border-bottom-color: rgb(var(--col-navy-mid-1));
        }
      }

      &__link--nested::after {
        display: none;
      }

      &__login {
        margin-right: 0;
        margin-left: auto;

        .header-tools__search {
          margin-right: 0;
        }

        .link-icon--vertical {
          height: 4rem;
        }
      }

      &__section {
        display: flex;
        margin-bottom: 0;
        padding-left: 0;
        border-bottom: none;
        margin-left: auto;

        .inner .menu__nested-parent {
          width: 33.333%;
          height: auto;
          padding-top: .4375rem;
          padding-bottom: .4375rem;
          padding-left: 0;
          font-size: 1.4rem;
          line-height: 1.4;
          text-align: left;
          font-weight: var(--fw-bold);

          @media (--bp-x-desktop) {
            width: 25%;
          }

          @media (--bp-xx-wide) {
            width: 20%;
          }
        }

        .menu__item {
          padding: .25rem;
        }

        .menu__link {
          position: relative;
          line-height: 1.1;
          text-align: center;
          text-decoration: none;
          display: flex;
          align-items: center;
          height: 100%;
        }
      }

      &__section .menu__item--over,
      &__section .menu__item[tabindex='0']:focus {
        .inner {
          display: flex;
          box-shadow: 1px 6px 12px -3px rgba(0, 0, 0, .6);
        }

        .menu__section .menu__link {
          background-color: transparent;
          text-decoration: none;

          &:hover {
            text-decoration: underline;
          }
        }
      }

      &__section .menu__section {
        display: block;
        width: 100%;
        margin-top: 0;
        margin-left: 0;
        padding-left: 0;
        padding-top: 1.5rem;
        columns: 2;
        column-width: 50%;
        font-size: .9rem;

        .menu__item {
          padding: 0 1.5rem 0 0;
          list-style-type: none;
          margin-bottom: .875rem;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          break-inside: avoid;

          a {
            padding-bottom: .166rem;
            padding-top: .166rem;
            padding-left: 0;
            padding-right: 1rem;
            margin: .3125rem;
            font-size: 1.12rem;
          }

          @media (--bp-max-mobile) {
            padding-right: 1.388rem;
            padding-bottom: .277rem;
          }
        }

        .menu__link {
          height: auto;
          font-size: .9rem;
          text-align: left;
          text-decoration: none;
          display: flex;
          width: 100%;

          &:hover {
            text-decoration: underline;
          }
        }

        @media (--bp-x-desktop) {
          columns: 3;
          column-width: 33.333%;
        }

        @media (--bp-xx-wide) {
          columns: 4;
          column-width: 25%;
        }
      }
    }

    /* Hack to not target IE11 as focus-within breaks menu */
    @supports (display: flex) {
      .menu__section .menu__item[tabindex='0']:focus-within .inner {
        display: flex;
      }
    }
  }
}

.page-header--study {
  /* TODO: need to check any flow on effects for removing this */
  /* overflow: visible; */

  .page-header-search__submit {
    border-color: rgba(var(--col-black-dark), .1);
    background-color: rgb(var(--col-navy-mid-2));

    &:hover {
      background-color: rgb(var(--col-background-primary-navy));
    }
  }

  .page-header__inner {
    height: 4.5rem;
    padding-left: .625rem;
    padding-top: 0;
    padding-bottom: 0;

    @media (--bp-tablet) {
      height: 100%;
      min-height: 6rem;
      padding-left: 1rem;
    }
  }

  .header-tools__menu {
    align-self: center;
    margin-left: auto;

    .link-icon--vertical {
      padding: .5rem 1rem;
      border-radius: var(--br);
    }

    @media (--bp-x-desktop) {
      display: none;
    }
  }
}

.page-header {
  &.active {
    z-index: calc(var(--z-default) + 100);
    overflow: visible;
  }

  &__with-top-menu {
    @media (--bp-x-desktop) {
      max-height: 6.388rem;
      padding: 0;

      .page-header__inner {
        height: 100%;
      }
    }
  }

  /* Hack to not target IE11 as focus-within breaks menu */
  @supports (display: flex) {
    &:focus-within {
      z-index: calc(var(--z-default) + 100);
      overflow: visible;
    }
  }
}

@media (--bp-max-mobile) {
  .page-header--study .page-header__inner .link-img {
    padding-right: 0;
    padding-left: 0;
  }
}

.page-header__inner {
  .header-tools__search {
    display: none;

    .link-icon--vertical {
      margin-top: 1.25rem;
      margin-bottom: .75rem;
    }
  }

  @media (--bp-x-desktop) {
    .header-tools__search {
      display: block;
      float: right;
    }
  }
}

.icon {
  display: inline;
  width: .7rem;
  height: .7rem;
  min-width: .5rem;
  min-height: .5rem;
  margin-left: .4rem;
  margin-top: .2rem;
  text-align: center;
  fill: rgb(var(--col-background-primary-white));
}

.cols-1 {
  columns: 1 !important;
  width: 50% !important;
}

.cols-2 {
  columns: 2 !important;
}

.menu__item--active {
  border-left-color: rgb(var(--col-navy-mid-1));
}
