.megamenu__blanket {
  .mega-top {
    padding: 0;
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 0;
    }

    @media (--bp-x-desktop) {
      display: flex;
      justify-content: flex-end;
      padding: .5rem 1.75rem 0;
    }
  }

  .menu-top__item {
    margin-left: 1.25rem;
    color: rgba(var(--col-blue-mid-1));
    font-size: .9rem;
    text-decoration: none;
    text-transform: uppercase;
  }

  .menu-top__item:hover,
  .menu-top__item:focus {
    color: rgb(var(--col-background-primary-white));
    text-decoration: underline;
  }
}
