.campaign-banner {
  width: 100%;
  height: 24rem;
  position: relative;

  &__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__container {
    position: absolute;
    top: 0;
    left: calc(50% + 2.333rem);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .btn--secondary {
      width: 8.333rem;
      padding: .556rem .444rem;
      font-size: .889rem;
    }
  }

  &__heading {
    font-family: var(--ff-normal);
    color: rgb(var(--col-background-primary-white));
    text-transform: uppercase;
    font-size: 3.333rem;
    line-height: .833;
    margin-bottom: .667rem;
  }

  &__text {
    font-family: var(--ff-normal);
    color: rgb(var(--col-background-primary-white));
    text-transform: uppercase;
    font-size: .889rem;
    line-height: 1.25;
    width: 9.333rem;
    margin-bottom: 1.111rem;
  }

  @media (--bp-only-tablet) {
    height: 24.625rem;
  }

  @media (--bp-max-mobile) {
    &__container {
      left: 0;
      right: 0;
      top: calc(50% + 1rem);
      justify-content: flex-start;
      width: 9.375rem;
      margin: auto;
    }

    &__heading {
      font-size: 2.188rem;
      line-height: .914;
      margin-bottom: .75rem;
    }

    &__text {
      font-size: .875rem;
      line-height: 1;
      width: 100%;
    }

    .btn--secondary {
      margin: 0 auto;
    }
  }
}
