@import '_campaign-banner.css';
@import '_campaign-banner-alt.css';

.page-campaign {
  display: flex;
  background-size: cover;
  min-height: 26.25rem;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: 0 1.625rem 1.625rem 1.625rem;

    @media (--bp-x-tablet) {
      padding-bottom: 3rem;
    }

    @media (--bp-x-wide) {
      justify-content: center;
      align-items: flex-start;
      padding: 7.3125rem 0 2.875rem 6.25rem;
      max-width: 48.4375rem;
    }
  }

  &__title {
    color: rgb(var(--col-brand));
    font-family: var(--ff-normal);
    font-size: 1.6875rem;
    font-weight: var(--fw-semibold);
    letter-spacing: -.022rem;
    line-height: 1;
    text-shadow: 0 0 .125rem rgba(239, 239, 239, .8);
    text-align: center;
    margin-bottom: 2rem;

    @media (--bp-x-tablet) {
      font-size: 2.666rem;
      letter-spacing: -.0531rem;
      line-height: 1.5;
      text-shadow: 0 0 .1875rem #f4f4f4;
    }

    @media (--bp-x-wide) {
      text-align: left;
      font-size: 3.75rem;
      letter-spacing: -.0625rem;
      line-height: 1.1;
    }
  }

  &--dark {
    color: rgb(var(--col-link-active-on-dark));
    text-shadow: 0 0 3px rgb(var(--col-black-dark));
  }

  @media (--bp-x-tablet) {
    min-height: 36.5rem;
  }

  @media (--bp-x-wide) {
    min-height: 25rem;
  }

  @media (--bp-x-tablet) {
    background-position: 50%;
  }

  @media (--bp-x-wide) {
    min-height: 25rem;
  }
}

.page-campaign-cards {
  background: rgb(var(--col-background-tertiary-navy));

  .card__excerpt {
    display: none;

    @media (--bp-desktop) {
      display: initial;
    }
  }

  .btn-two-icons__left-icon {
    display: none;

    @media (--bp-desktop) {
      display: initial;
    }
  }

  &__inner {
    display: flex;
    flex-wrap: wrap;
    padding: 1.25rem 1.6875rem;
    max-width: 63rem;
    margin-right: auto;
    margin-left: auto;
  }
}
