.page-footer-alt {
  position: relative;

  &__top {
    padding: 4rem 0;

    &-inner {
      @media (--bp-desktop) {
        display: flex;
        justify-content: space-between;
        margin-left: -1.333rem;
        margin-right: -1.333rem;
      }
    }
  }

  &__bottom {
    padding: 2rem 0;

    @media (--bp-wide) {
      font-size: .875rem;
    }

    &-inner {
      @media (--bp-wide) {
        display: flex;
        justify-content: space-between;
      }
    }
  }

  &__reconciliation {
    margin-bottom: 2.5rem;
    max-width: 26rem;

    @media (--bp-wide) {
      margin-bottom: 4rem;
    }
  }

  &__primary-links {
    flex: 1;
    margin-bottom: 2.5rem;

    @media (--bp-desktop) {
      margin-bottom: 0;
    }

    &-item {
      margin-bottom: 1rem;

      @media (--bp-desktop) {
        margin-bottom: 1.5rem;

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }

  &__secondary-links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 2.25rem;

    @media (--bp-tablet) {
      flex-direction: row;
    }

    @media (--bp-wide) {
      margin-bottom: 0;
    }

    &-item {
      margin: 0 1rem 1rem 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }

      @media (--bp-tablet) {
        margin-bottom: 0;
      }
    }

    &-link {
      font-size: .875rem;
      font-weight: var(--fw-semibold);
      line-height: 1.5;
      color: rgb(var(--col-white)) !important;
    }
  }

  &__def-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 0;

    @media (--bp-tablet) {
      flex-direction: row;
    }

    &-item {
      display: flex;
      flex-wrap: wrap;
      margin-right: 1.25rem;
      margin-bottom: .5rem;
      font-size: .875rem;
      font-weight: var(--fw-normal);
      line-height: 1.5;

      @media (--bp-tablet) {
        margin-bottom: 0;
      }

      &:last-child {
        margin-bottom: 0;
      }
    }

    dd {
      margin-left: .2rem;
      display: inline;
      white-space: nowrap;
    }
  }

  &__brand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media (--bp-desktop) {
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-end;
      margin-top: 0;
    }

    &-items {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }

  &__social {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: rgb(var(--col-white));
    margin-top: 2rem;

    &-item {
      padding-left: .25rem;
      padding-right: .25rem;
    }

    &-link {
      display: block;
      color: rgb(var(--col-white));
      padding: .25rem;
      transition: opacity .15s ease;

      &:hover {
        opacity: .8;
      }

      &::after {
        display: none !important;
      }
    }

    &-icon {
      width: 1.333rem;
      height: 1.333rem;
    }
  }

  &__contact {
    margin-bottom: 2.5rem;

    @media (--bp-desktop) {
      margin-bottom: 0;
    }
  }
}
