.navigation-container {
  display: none;
  padding: .5rem;

  &--fixed {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    top: 0;
    width: 100%;
    background: #fff;
  }
}
