@import '../../_vars.css';

.navigation-container {
  display: none;
  align-items: center;
  justify-content: center;
  height: 39px;
  width: 252px;
  align-self: center;

  .dropdown {
    width: 100%;
  }

  .dropdown .select {
    width: 100%;
    border: 2px solid #094183;
    height: 39px;
    border-radius: 3px;
    background: #fff;
    padding-left: 1rem;
  }

  &__fixed {
    display: flex;
    position: fixed;
    top: 10px;
  }
}
