.in-page-navigation {
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 1.3rem;
  }

  &__title {
    font-family: var(--ff-normal);
    font-size: 1.125rem;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  &__line {
    width: 40px;
    margin: 0;
    border: 1px solid;
  }

  &__link {
    font-family: var(--ff-normal);
    font-size: 1rem;
    font-weight: normal;
    letter-spacing: 0;
  }

  &__icon {
    display: inline;
    width: 8px;
    height: 8px;
    margin-left: 6px;
  }

  &__position {
    flex: 0 50%;
  }
}
