.logo {
  display: flex;

  &__link {
    color: rgb(var(--col-background-primary-white));
    line-height: 0;
  }

  &__image {
    display: block;
    height: 4.125rem;
    width: 4.125rem;

    @media (--bp-desktop) {
      height: 3.666rem;
      width: 3.666rem;
    }

    &--md {
      @media (--bp-tablet) {
        height: 6rem;
        width: 6rem;
      }

      @media (--bp-desktop) {
        height: 5.333rem;
        width: 5.333rem;
      }
    }

    &--lg {
      height: 9.25rem;
      width: 9.25rem;

      @media (--bp-xx-wide) {
        height: 8.222rem;
        width: 8.222rem;
      }
    }
  }
}
