.logo {
  display: flex;

  &__link {
    color: rgb(var(--col-background-primary-white));
    line-height: 0;
  }

  &__image {
    display: block;
    height: 3.666rem;
    width: 3.666rem;

    &--md {
      @media (--bp-tablet) {
        height: 5.333rem;
        width: 5.333rem;
      }
    }

    &--lg {
      height: 8.222rem;
      width: 8.222rem;
    }
  }

  &--no-padding {
    &-sm {
      margin: -.333rem;
    }
    &-md {
      margin: -.333rem;
    }
    &-lg {
      margin: -.555rem;

      @media (--bp-tablet) {
        margin: -.888rem;
      }
    }
  }
}
