.logo {
  &__link {
    line-height: 0;
  }

  &--small {
    display: block;
    height: 66px;
    width: 66px;
  }

  &--medium {
    display: block;
    width: 66px;
    height: 66px;
    margin-left: -6px;

    @media (--bp-tablet) {
      height: 96px;
      width: 96px;
    }
  }

  &--large {
    display: block;
    width: 66px;
    height: 66px;
    margin-left: -10px;

    @media (--bp-tablet) {
      height: 148px;
      width: 148px;
      margin-left: -16px;
    }
  }
}
