.blanket {
  display: none;
  position: fixed;
  z-index: calc(var(--z-navigation) - 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: .5;
  background-color: rgb(var(--col-black-dark));

  &.on {
    display: block;
  }

  &.white {
    display: block;
    z-index: calc(var(--z-navigation) - 1);
    margin-top: 3.75rem;
    animation: fadeIn .2s backwards;
    opacity: .95;
    background-color: rgb(var(--col-background-primary-white));

    @media (--bp-desktop) {
      margin-top: 5.625rem;
    }
  }
}
