/*.stats__item:nth-child(1) svg.stats__icon {
  color: var(--col-1);
}

.stats__item:nth-child(2) svg.stats__icon {
  color: var(--col-2);
}

.stats__item:nth-child(3) svg.stats__icon {
  color: var(--col-3);
}
*/