.todo-list {
  & + & {
    .section__inner {
      border-top: none;
    }
  }

  .grid {
    margin-right: 0;
  }

  .section__inner {
    padding-top: 1.875rem;
    padding-bottom: 1.875rem;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgb(var(--col-black-mid-2));

    @media (--bp-desktop) {
      padding: 2.5rem 0 3.75rem 0;
    }
  }

  .figure {
    display: none;

    @media (--bp-tablet) {
      display: inline-table;
      padding-top: 0;
      margin-bottom: 0;
      padding-bottom: 0;
      padding-left: 0;
    }
  }

  &__figure-text {
    display: flex;
  }

  &__button-cards {
    display: flex;
    flex-direction: column;
    padding-right: 0;
    margin: 0;

    @media (--bp-tablet) {
      justify-content: flex-end;
      flex-direction: row;
    }

    @media (--bp-desktop) {
      justify-content: flex-start;
    }

    .btn-card {
      @media (--bp-tablet) {
        width: 9.5rem;
      }
    }
  }
}
