.article-wrap {
  display: flex;
  flex-flow: row wrap;

  &__header {
    flex: 0 0 100%;
    margin: calc(var(--vr) * 2) 0 4rem 0;
  }

  &__main {
    width: 100%;

    @media (--bp-desktop) {
      flex: 0 0 70%;
      order: 2;
      width: 70%;
      padding: 0 var(--vr);

      .article-wrap--no-sidebar & {
        flex: none;
        width: 100%;
        padding: 0;
      }
    }
  }

  &__aside {
    width: 100%;
    padding-top: 0;

    @media (--bp-desktop) {
      flex: 0 0 30%;
      order: 1;
      width: 30%;
      padding-right: var(--vr);
    }
  }

  &__meta,
  &__contact,
  &__social {
    padding: var(--vr) 0;
    border-bottom: 1px solid var(--col-brand);

    &:first-child {
      padding-top: 0;
    }

    &:last-child {
      border-bottom: 0;
    }
  }

  &__type {
    font-size: 1.125em;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  &__contact-list {
    margin-bottom: 0;
  }

  &__social {
    &-heading {
      margin-bottom: calc(var(--vr) / 2);
      font-size: 1.125em;
      font-weight: var(--fw-semibold);
    }
  }

  &--nosidebar {
    display: block;
  }
}
