.article-wrap {
  display: flex;
  flex-direction: column;
  padding-top: calc(var(--vr) * 2);
  padding-bottom: calc(var(--vr) * 2);

  &__aside-box {
    &:not(:first-child) {
      padding-top: var(--vr);
    }

    &:not(:last-child) {
      padding-bottom: var(--vr);
      border-bottom: 1px solid var(--col-brand);
    }
  }

  &__type {
    font-size: 1.125em;
    font-weight: var(--fw-semibold);
    text-transform: uppercase;
  }

  &__contact-list {
    margin-bottom: 0;
  }

  &__social-heading {
    margin-bottom: calc(var(--vr) / 2);
    font-size: 1.125em;
    font-weight: var(--fw-semibold);
  }

  &--no-sidebar {
    display: block;
  }

  @media (--bp-desktop) {
    flex-flow: row wrap;

    &__header {
      flex-basis: 100%;
      margin-bottom: calc(var(--vr) * 2.5);
    }

    &__main {
      flex: 1 1 auto;
      order: 2;
      width: 70%;
      padding: 0 var(--vr);
    }

    &__aside {
      flex: 1 1 auto;
      order: 1;
      width: 30%;
    }

    &--no-sidebar {
      .article-wrap__main {
        flex: none;
        width: 100%;
        padding: 0;
      }
    }
  }

  @media (--bp-x-desktop) {
    &__aside {
      padding-right: var(--vr);
    }
  }
}
