.stats-group {
  text-align: center;

  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    max-width: var(--w-sml);
    margin-right: auto;
    margin-bottom: -calc(var(--vr) / 4); /* MAGIC NUMBER: roughly equal spacing above and below stats */
    margin-left: auto;
  }

  &__item {
    flex: 1;
    margin: 0 1rem var(--vr);
  }

  &:not(.stats-group--inverted) .stats-group__item {
    &:nth-child(1) .stats-group__icon { color: var(--col-1); }
    &:nth-child(2) .stats-group__icon { color: var(--col-2); }
    &:nth-child(3) .stats-group__icon { color: var(--col-3); }
  }

  &__icon {
    width: 7.125rem;
    margin-right: auto;
    margin-left: auto;

    .bg-inverted & {
      color: #cbe8ef;
    }
  }

  &__value {
    display: block;
    margin-top: 2rem;
    font-family: var(--ff-lead);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;

    &__hash {
      margin-left: -.5ch; /* offset hash so number is a little more centred */
      font-size: 65%;
      line-height: inherit;
      vertical-align: 35%;
    }
  }

  &__text {
    display: block;
    margin-top: .25rem;
    font-weight: var(--fw-semibold);
    line-height: 1.2;
  }

  &__attribution {
    margin-top: var(--vr);
    margin-bottom: 0;
    font-size: .875rem;
  }
}
