/**
 * Stats list
 */
.stats {
  margin-bottom: 0;
  max-width: var(--w-mid);
  padding: 0;
  text-align: center;

  &__item {
    display: inline-block;
    vertical-align: top;
    margin: 0 1rem var(--vr);
    padding: 0;
    width: 8rem;
    list-style-type: none;

    &:nth-child(1){
      .stats__icon{
        color: var(--col-1);
      }
    }
    &:nth-child(2){
      .stats__icon{
        color: var(--col-2);
      }
    }
    &:nth-child(3){
      .stats__icon{
        color: var(--col-3);
      }
    }

    .bg-inverted & {
      .stats__icon {
        color: white;
      }
    }

  }


  &__icon {
    margin-left: auto;
    margin-right: auto;

    &--white{
      color: var(--col-white) !important;
    }
  }

  &__value {
    display: block;
    font-family: var(--ff-lead);
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-top: 2rem;

    &__hash {
      font-size: 65%;
      vertical-align: 35%;
      line-height: inherit;
      margin-left: -.5ch; /* offset hash so number is a little more centred */
    }
  }

  &__text {
    display: block;
    margin-top: .25rem;
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    line-height: 1.2;
  }

  @supports (display: flex) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    &__item {
      flex: 1;
      max-width: 10rem;
    }
  }
}
