/* functional */
body > div[aria-hidden='true']:not(#sitemap) {
  position: fixed;
  width: 100%;
}

.modal-dialog {
  display: none;
  position: fixed;
  z-index: var(--z-modal);
  top: 0;
  left: 0;
  width: 100%;
  max-width: none;
  height: 100%;

  /* decorative styles */
  transform: translateZ(0);
  transition: background-color .15s ease-out, visibility .15s ease-out;

  &.active {
    display: block;
  }

  &__modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: calc(100vw - 3.75rem);
    max-height: calc(100vh - 3.75rem);
    padding: 4rem 1.25rem 0;
    overflow: auto;
    transform: translateX(-50%) translateY(-50%);
    transition: opacity .15s ease-out;
    opacity: 0;

    /* decorative styles */
    background-color: rgb(var(--col-background-primary-white));

    &--video {
      background-color: transparent;
      min-width: 50vw !important;
      max-width: 70vw !important;
    }
  }

  &[aria-hidden='true'] {
    visibility: hidden;
  }

  &[aria-hidden='false'] {
    visibility: visible;
    transition: background-color .15s ease-out;

    /* decorative styles */
    background-color: rgba(34, 34, 34, .8);
    box-shadow: 0 3.75rem 0 0 rgba(34, 34, 34, .8);

    .modal-dialog__modal {
      opacity: 1;
    }
  }
}

@media all and (min-width: 31.25rem) {
  .modal-dialog .modal-dialog__modal {
    min-width: 25rem;
    max-width: 37.5rem;
  }
}

.modal-dialog__open {
  align-self: flex-start;
}

.modal-dialog__close {
  position: absolute;
  top: .5rem;
  right: .5rem;
  padding: .5rem;
  font-size: 2rem;
  line-height: 1.25;
  text-transform: uppercase;

  &:hover {
    color: rgb(var(--col-pink-dark));
  }

  &--video {
    color: rgb(var(--col-background-primary-white));
  }
}
