/**
 * Section
 */
.section {
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    max-width: calc(var(--w-mid) + 2 * var(--vr)); /* account for padding */
    margin-right: auto;
    margin-left: auto;
    padding: calc(2 * var(--vr)) var(--vr);

    &--sml {
      max-width: calc(var(--w-sml) + 2 * var(--vr));
    }
  }

  &--centred {
    text-align: center;
  }

  &__inner--short {
    min-height: initial;
    padding: calc(2 * var(--vr)) var(--vr);
  }

  &--image {
    background-size: cover;
  }

  &--image-mask {
    opacity: .8;
  }

  &--divider {
    &__inner {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;

      @supports (display: flex) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .heading-section {
      margin-top: var(--vr);
      margin-bottom: var(--vr);
    }
  }

  @supports (display: flex) {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 22.5rem;
    }
  }

  @media (--bp-desktop) {
    &__inner {
      padding-top: calc(3 * var(--vr));
      padding-bottom: calc(3 * var(--vr));
    }
  }

  @media (--bp-wide) {
    @supports (display: flex) {
      &__inner {
        min-height: 21.9rem;
      }
    }
  }
}
