/**
 * Section
 */
.section {
  background-repeat: no-repeat;
  background-position: center;

  &__inner {
    max-width: calc(var(--w-mid) + 2 * var(--vr));

    /* account for padding */
    margin-right: auto;
    margin-left: auto;
    padding: calc(2 * var(--vr)) var(--vr);

    .layout--left .layout__main &,
    .layout--right .layout__main & {
      max-width: calc(var(--w-mid) - var(--panel-width));

      /* account for side nav */
    }

    &--sml {
      max-width: calc(var(--w-sml) + 2 * var(--vr));
    }

    &--xsml {
      max-width: calc(var(--w-xsml) + 2 * var(--vr));
    }

    &--short {
      min-height: 0 !important;
      padding-top: var(--vr);
      padding-bottom: var(--vr);
    }

    &--nopad {
      min-height: 0 !important;
      padding-top: 0 !important;
      padding-bottom: 0 !important;
    }
  }

  &--centred {
    text-align: center;
  }

  &--image {
    background-size: cover;
  }

  &--image-mask {
    position: relative;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .2;
      background-color: rgb(var(--col-black-dark));
    }
  }

  &--divider {
    &__inner {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;

      @supports (display: flex) {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
    }

    .heading-section {
      margin-top: var(--vr);
      margin-bottom: var(--vr);
    }
  }

  @supports (display: flex) {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 22.5rem;
    }
  }

  @media (--bp-desktop) {
    &__inner {
      padding-top: calc(3 * var(--vr));
      padding-bottom: calc(3 * var(--vr));
    }

    &__inner--short {
      padding-top: var(--vr);
      padding-bottom: var(--vr);
    }
  }

  @media (--bp-wide) {
    @supports (display: flex) {
      &__inner {
        min-height: 21.9rem;
      }
    }
  }

  &__flex-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    p {
      flex: 1;
    }
  }
}
