/**
 * Section
 */

.section {
  background-position: center;
  background-repeat: no-repeat;

  &__inner {
    max-width: calc(var(--w-mid) + 2 * var(--vr)); /* account for padding */
    margin-left: auto;
    margin-right: auto;
    padding-right: var(--vr);
    padding-left: var(--vr);

    &--sml { 
      max-width: calc(var(--w-sml) + 2 * var(--vr)); 
    }
  }

  &__inner--short{
    padding: calc(2 * var(--vr)) var(--vr);
  }

  @supports (display: flex) {
    &__inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 22.5rem;
    }
  }

  @media (--bp-desktop) {
    &__inner {
      padding-top: calc(3 * var(--vr));
      padding-bottom: calc(3 * var(--vr));
    }
  }

  @media (--bp-wide) {
    @supports (display: flex) {
      &__inner {
        min-height: 21.9rem;
      }
    }
  }

  &--divider {
    background-image: ;

    @supports (display: flex) {
      display: flex;
      justify-content: center;
    }

    .section__inner--short {
      margin-top: auto;
      margin-bottom: auto;
      text-align: center;
      * {
        margin-bottom: 0;
      }

    }

    .heading-section {

    }
  }

}
