/**
 * Split section
 */
.split-section {
  display: flex;
  flex-direction: column;

  &--fullheight {
    min-height: 47.1rem;
  }

  /* left and right-hand sides are interchangeable */
  &__side {
    order: 1;
    background-position: center;
    background-size: cover;

    &--with-image {
      order: 0;
      padding-top: 56.25%;
    }
  }

  &__inner {
    margin-right: 0;
    margin-left: 0;
    padding: calc(2 * var(--vr));
  }

  &--withquote {
    .split-section__side--with-image {
      padding: calc(var(--vr) * 10) var(--vr) calc(var(--vr) * 2) var(--vr);
      vertical-align: bottom !important;
    }

    .card--focus-box {
      margin-right: auto;
      margin-left: auto;
      padding: calc(var(--vr) / 2);

      .card__inner {
        padding: var(--vr);
      }

      @media (--bp-desktop) {
        max-width: 70%;
      }
    }

    .split-section__quote {
      margin-bottom: calc(var(--vr) * .75);
      font-family: var(--ff-lead);
      font-size: 1.25rem;
      font-style: italic;

      &::before {
        content: open-quote;
      }

      &::after {
        content: close-quote;
      }
    }

    .split-section__quote-cite {
      position: relative;
      margin: 0;
      padding: 0;
      font-size: .9rem;
      font-weight: var(--fw-semibold);

      &::before {
        content: '\2014';
      }
    }

    .card--focus-box__cnr {
      width: 3rem;
      height: 3rem;
    }
  }

  @media (--bp-desktop) {
    display: table;
    width: 100%;

    &__side {
      display: table-cell;
      width: 50%;
      vertical-align: middle;

      &--with-image {
        padding-top: 0;
      }
    }

    &__inner {
      max-width: calc(var(--w-mid) / 2 + var(--vr)); /* account for either left or right padding */
      padding-top: calc(4 * var(--vr));
      padding-bottom: calc(2 * var(--vr));
    }

    &__side:first-child > .split-section__inner { margin-left: auto; }
    &__side:last-child > .split-section__inner { margin-right: auto; }

    &--top .split-section__side {
      vertical-align: top;
    }
  }

  @media (--bp-max-tablet) {
    /* remove spacing between two subsequent sections on mobile */
    &__side {
      &:not(&--with-image) + &:not(&--with-image) > .split-section__inner {
        padding-top: 0;
      }
    }
  }
}
