/**
 * Two columns with cta
 */
.two-column-header-text {

  .grid {
    @media (--bp-tablet) {
      flex-flow: row;
    }
  }

  &__first-column {
    margin: 0;

    @media (--bp-tablet) {
      padding-right: 2rem;
    }

    @media (--bp-desktop) {
      padding-right: 4rem;
    }
  }

  &__second-column {
    margin: 0;

    @media (--bp-tablet) {
      padding-left: 2rem;
    }

    @media (--bp-desktop) {
      padding-left: 4rem;
    }
  }

  &__heading {
    font-family: var(--ff-lead);
    font-weight: var(--fw-bold);
    font-size: 2.5rem;
    line-height: 1.2;
    letter-spacing: -.025rem;
    color: rgb(var(--col-grey-mid-3));
    margin-bottom: .5rem;
  }

  &__description {
    font-weight: var(--fw-normal);
    font-size: 1.125rem;
    line-height: 1.67;
    letter-spacing: -.021rem;
    color: rgb(var(--col-grey-mid-3));
    margin-bottom: 1.875rem;
  }
}
