/**
 * Two columns with rounded image
 */
.section-with-rounded-image {
  &__heading {
    font-weight: var(--fw-semibold);
    letter-spacing: -.021rem;
    color: rgb(var(--col-navy-dark));
    margin-bottom: 1rem;
    font-size: 1.125rem;
    line-height: 1.5;

    @media (--bp-tablet) {
      margin-bottom: 1.25rem;
    }

    @media (--bp-x-tablet) {
      font-size: 1.375rem;
      font-weight: var(--fw-bold);
      letter-spacing: -.025rem;
    }
  }

  &__description {
    font-size: 1rem;
    letter-spacing: -.021rem;
    margin-bottom: 1rem;
    line-height: 1.67;

    @media (--bp-tablet) {
      margin-bottom: 1.25rem;
      font-size: 1.125rem;
    }
  }

  .figure {
    padding-top: .75rem;
    margin-right: 0;
  }
}
