.checklist {
  list-style-type: none;

  &__item {
    padding-left: 1.55rem;

    &__checkbox {
      margin-left: -1.55rem;

      &:checked + .checklist__item__label {
        text-decoration: line-through;
      }
    }

    &__label {
      font-weight: normal;
      cursor: pointer;
    }
  }
}
