.embed {
  position: relative;

  &::before {
    content: '';
    display: block;
    padding-bottom: 56.25%; /* 16/9 by default */
  }

  & > iframe {
    display: block; /* remove unwanted `inline-block` spacing */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  /* wide ratio (21:9) */
  &--21_9::before {
    padding-bottom: 42.5%;
  }

  &--fillheight {
    height: 100%;
  }

  /* SoundCloud embeds */
  &--soundcloud-classic,
  &--soundcloud-visual {
    &::before { content: none; } /* switch to fixed height */
  }

  /* SoundCloud's "classic" embed (horizontal player) */
  &--soundcloud-classic > iframe {
    position: static;
    height: 166px;
  }

  /* SoundCloud's "visual" embed (square with background image) */
  &--soundcloud-visual > iframe {
    position: static;
    width: 15rem;
    height: 15rem;
    margin: 0 auto;

    @media (--bp-desktop) {
      width: 20rem;
      height: 20rem;
    }
  }
}
