/*
* Quick Links Menu - See pg 9 of Hive digital design system
*/

.ql-menu {
  font-size: 1.25rem;
  line-height: 1.3;

  &__content {
    h2 {
      margin-bottom: calc(var(--vr) * 2);
    }

    @media (--bp-desktop) {
      padding-right: 3rem;
    }
  }

  &__nav {
    a {
      color: var(--col-brand);
      font-weight: normal;

      &:visited {
        color: var(--col-brand);
      }
    }

    @media (--bp-desktop) {
      max-width: calc(20rem);
    }
  }

  &__secondary {
    margin-top: 2rem;

    &-link {
      display: flex;
      flex-direction: row;
      margin: 0;
      margin-bottom: calc(var(--vr) / 2);
      padding-left: 0;
      color: var(--col-brand);
      font-size: .9em;
      text-decoration: none;
    }

    &-icon {
      margin-top: .25em;
      margin-right: calc(var(--vr) / 2);
    }

    &--2col .cell,
    &--3col .cell,
    &--4col .cell {
      width: 100%;
      margin-bottom: 0;
      padding-bottom: .75rem;

      &--flat {
        display: block;
        font-size: 1rem;
        line-height: 1.4;
      }

      .push-icon__icon {
        display: inline;
        margin-left: .25rem;
        vertical-align: -.1rem;
      }
    }

    @media (--bp-tablet) {
      &--2col,
      &--3col,
      &--4col {
        display: block;
        column-fill: auto;

        .cell {
          break-inside: avoid;
        }
      }

      &--2col { columns: 2; }
      &--3col { columns: 3; }
      &--4col { columns: 4; }
    }
  }

  &--l1 {
    .ql-menu__nav {
      margin-top: calc(var(--vr) * 1.5);
    }
  }

  &--l2 {
    .ql-menu__nav {
      margin-top: calc(var(--vr) * 1.5);
      font-weight: normal;

      h3 {
        margin-bottom: var(--vr);
        padding-right: calc(var(--vr) / 2);
        padding-left: calc(var(--vr) / 2);
      }
    }

    .ql-menu__link {
      padding-left: var(--vr);
      border-color: var(--col-grey);
      background-color: var(--col-bg-grey);
      font-weight: var(--fw-semibold);

      &:last-child {
        border-bottom: 0;
      }
    }
  }

  &--l3 {
    .ql-menu__link {
      margin-bottom: calc(var(--vr) / 2);
      padding-left: var(--vr);
      border-width: 4px;
      border-color: var(--col-grey);
      background-color: var(--col-bg-grey);
    }
  }

  &--l4 {
    .ql-menu__link {
      margin-bottom: calc(var(--vr) / 2);
      padding-left: var(--vr);
      border-width: 4px;
      border-color: var(--col-grey);
      background-color: var(--col-brand);
      color: #fff;

      &:active,
      &:visited {
        color: #fff;
      }

      &:nth-child(1) { border-color: var(--col-1); }
      &:nth-child(2) { border-color: var(--col-2); }
      &:nth-child(3) { border-color: var(--col-3); }
      &:nth-child(4) { border-color: var(--col-4); }
      &:nth-child(5) { border-color: var(--col-5); }
    }
  }

  &__link {
    display: block;
    padding: 1.5rem .75rem 1rem 0;
    border-bottom: 1px solid var(--col-grey);
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:visited {
      color: inherit;
    }
  }
}
