.sublink-menu {
  padding: calc(var(--vr) / 2);

  &__icon {
    margin: 0 auto calc(var(--vr) * 2) auto;
  }

  &__image {
    width: 100%;

    @supports (object-fit: cover) {
      object-fit: cover;
      height: 200px;
    }
  }

  &--green .sublink-menu__icon {
    fill: var(--col-emerald);
  }

  &--red .sublink-menu__icon {
    fill: var(--col-orange);
  }

  &--blue .sublink-menu__icon {
    fill: var(--col-blue);
  }

  &__title {
    min-height: 3em;
    margin-top: var(--vr);
    font-family: var(--ff-lead);
  }

  &__item {
    display: block;
    padding: calc(var(--vr) / 2);
    border-top: 2px solid var(--col-grey);
    color: var(--col-brand);
    text-decoration: none;

    &:last-child {
      border-bottom: 2px solid var(--col-grey);
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--pad .sublink-menu__nav .sublink-menu__item {
    padding: 1.25rem;
    border-width: 1px;
    font-size: 1.125rem;
    font-weight: bold;
  }
}
