.sublink-menu {
  padding: calc(var(--vr) / 2);

  &__icon {
    margin: 0 auto calc(var(--vr) * 2) auto;
  }

  &__image {
    width: 100%;

    @supports (object-fit: cover) {
      height: 200px;
      object-fit: cover;
    }
  }

  &--green .sublink-menu__icon {
    fill: rgb(var(--col-emerald-mid-2));
  }

  &--red .sublink-menu__icon {
    fill: rgb(var(--col-orange-mid-2));
  }

  &--blue .sublink-menu__icon {
    fill: rgb(var(--col-blue-mid-2));
  }

  &__title {
    min-height: 3em;
    margin-top: var(--vr);
    font-family: var(--ff-lead);
  }

  &__item {
    display: block;
    padding: calc(var(--vr) / 2);
    border-top: 2px solid rgb(var(--col-black-mid-2));
    color: rgb(var(--col-brand));
    text-decoration: none;

    &:last-child {
      border-bottom: 2px solid rgb(var(--col-black-mid-2));
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &--pad .sublink-menu__nav .sublink-menu__item {
    padding: 1.25rem;
    border-width: 1px;
    font-size: 1.125rem;
    font-weight: var(--fw-semibold);
  }
}
