.breadcrumbs {
  margin-bottom: 0; /* Override default margin */
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  list-style: none;
  padding-left: 3rem;

  &__item {
    display: none;
    vertical-align: middle;

    &:nth-child(1) {
      margin-left: -2.3rem;
      display: inline-block;
    }

    &:nth-last-child(2) {
      display: inline-block;

      svg {
        display: none;
      }

      @media(--bp-desktop) {
        svg {
          display: initial;
        }
      }

    }

    @media(--bp-tablet) {
      display: inline-block;
    }

    @media(--bp-desktop) {
      margin-left: initial;
    }

    &:last-child {
      font-weight: var(--fw-semibold);
    }
  }

  &__link {
    margin-right: .25rem;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  &__home,
  &__name,
  &__chevron {
    display: inline-block;
    vertical-align: middle;
  }

  &__home {
    vertical-align: text-bottom;
    width: calc(21px + 1rem);
  }

  &__name {
    padding: 0 .25rem;
    text-decoration: inherit;
  }

  &__chevron {
    vertical-align: 0;
  }
}
