.breadcrumbs {
  margin-bottom: 0;
  padding-top: var(--vr);
  padding-bottom: var(--vr);
  list-style-type: none;

  &__item {
    display: none;
    vertical-align: middle;

    &:first-child {
      .breadcrumbs__name {
        display: none;
      }
    }

    &:first-child,
    &:last-child {
      display: inline-block;
    }

    &:last-child {
      font-weight: var(--fw-semibold);
    }

    @media (--bp-tablet) {
      display: inline-block;

      &:first-child {
        .breadcrumbs__name {
          display: inline-block;
        }
      }
    }
  }

  &__link {
    margin-right: .25rem;
  }

  &__home {
    display: inline-block;
    width: 1.125em;
    height: 1.125em;
    margin-right: .25em;
    margin-bottom: .25em;
    margin-left: .25em;
    vertical-align: -.5em;
  }

  &__name,
  &__chevron {
    display: inline-block;
    vertical-align: middle;
  }

  &__name {
    padding: 0 .25rem;
    text-decoration: inherit;
  }
}
