.news-block {
  width: 100%;
  padding: 0;
  border-top: 1px solid rgb(var(--col-black-mid-2));

  &__link {
    color: rgb(var(--col-brand));
    font-weight: normal;
    text-decoration: none;
  }

  &__title {
    font-weight: var(--fw-semibold);
  }

  &__item {
    width: 100%;
    margin-bottom: 0;
    padding-top: 1.667rem;
    padding-bottom: 1rem;
    list-style-type: none;
    border-bottom: 1px solid rgb(var(--col-black-mid-2));
    font-size: .9rem;

    p {
      margin-bottom: .75rem;
    }
  }

  &__img {
    width: 100%;
    margin-bottom: 1rem;
  }

  @media (--bp-tablet) {
    float: left;

    &__img {
      width: 11.25rem;
      height: 6.328125rem; /* stylelint-disable-line number-max-precision */
      margin-top: .333rem;
      margin-left: -12.5rem;
      float: left;
    }

    &__item {
      padding-left: 12.5rem;
      float: left;
    }
  }
}
