.content-block {
  /* This is intended for Matrix CMS WYSIWYG editor only */
  padding: calc(2 * var(--vr)) var(--vr) ;
  padding-bottom: 1.75rem;
  
  &--short {
    padding-top: var(--vr);
    padding-bottom: var(--vr);
  }

  > * {
    max-width: var(--w-mid);
    margin-left: auto;
    margin-right: auto;
  }

  &--sml { 
   > * {
      max-width: var(--w-sml); 
    }
  }

  &--lge { 
   > * {
      max-width: var(--w-lge); 
    }
  }

}