.logo-farm {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-self: center;

  &__link {
    width: 64%;
    padding: 26px;

    @media (--bp-tablet) {
      width: 36%;
    }

    @media (--bp-x-tablet) {
      width: 28%;
    }

    @media (--bp-desktop) {
      width: 26%;
    }

    @media (--bp-x-desktop) {
      width: 22%;
    }

    @media (--bp-wide) {
      width: 20%;
    }
  }

  &__image {
    max-width: 100%;
    height: auto;
  }
}
