.mce form[id^='form_'],
.form {
  fieldset {
    margin-bottom: 0;
    border: 0;
  }

  label {
    font-size: .95em;
    font-weight: bold;
  }

  legend {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  fieldset ul {
    padding-left: 0;
    list-style-type: none;
  }
}
