.mce form[id^='form_'],
.form {
  fieldset {
    margin-bottom: 0;
    border: 0;
  }

  label {
    font-size: .95rem;
    font-weight: bold;
    color: rgb(var(--col-grey-mid-3));
  }

  legend {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  fieldset ul {
    padding-left: 0;
    list-style-type: none;
  }
}
