.mce form[id^="form_"],
.form {
  fieldset {
    border: 0;
    margin-bottom: 0;
  }

  label {
    font-size: .95em;
    font-weight: bold;
  }

  legend {
    margin-bottom: 1rem;
    margin-left: 0;
  }

  fieldset ul {
    list-style-type: none;
    padding-left: 0;
  }
}
