.section .form--inline,
.form--inline {
  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;

    @media screen and (--bp-desktop) {
      flex-direction: row;
      max-width: 44rem;
      margin: 0;

      &--center {
        margin: 1.5rem auto;
      }
    }
  }

  &__input {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='url'] {
      max-width: none;
      border-radius: var(--br) 0 0 var(--br);
    }
  }

  button&__button {
    display: flex;
    justify-content: center;
    min-width: 3rem;
    height: 3rem;
    margin-top: .375rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: .667rem;
    border-radius: 0 0 var(--br) var(--br);
    color: white;
    font-weight: var(--fw-semibold);
    line-height: 1;

    &--text {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    &--alt {
      min-width: 9rem;
      height: 4.333rem;
      margin: 0;
      border-color: var(--col-grey-mid);
      background-color: var(--col-grey-mid);
      color: var(--col-brand);
      text-align: center;

      &:hover {
        border-color: var(--col-bg-secondary-grey);
      }

      &:active {
        background-color: white;
      }
    }

    @media screen and (--bp-desktop) {
      border-radius: 0 var(--br) var(--br) 0;
    }
  }

  &__svg {
    width: 1rem;
    height: 1rem;
    margin: .875rem .125rem;
  }

  &__button-label {
    margin: .75rem;
    font-size: 1.25rem;
  }

  &__label {
    color: var(--col-brand);
  }

  &__select {
    display: block;
    height: 4.333rem;
    padding: .667rem 1.333rem;
    border-radius: var(--br) var(--br) 0 0;
    background: white;
    line-height: 1.25;

    select {
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      min-width: 12rem;
      border-radius: var(--br) 0 0 var(--br);
    }
  }

  input[type='search']&__search {
    margin: 0;
    padding: 1rem .625rem;
    border-radius: 0;
    background: white;
  }
}
