.section .form--inline,
.form--inline {
  &__row {
    display: flex;
    flex-direction: column;
    width: 100%;

    input[type='search'].form--inline__search {
      max-width: none;
      margin: 0;
      padding: 1rem .625rem;

      &:not(:first-child) {
        border-radius: 0;
      }
    }

    > :first-child {
      border-radius: var(--br) var(--br) 0 0;

      @media screen and (--bp-desktop) {
        border-radius: var(--br) 0 0 var(--br);
      }
    }

    @media screen and (--bp-desktop) {
      flex-direction: row;
      margin: 0;

      &--center {
        margin: 1.5rem auto;
      }

      &--fill {
        max-width: none;
      }
    }
  }

  &__input {
    display: table-cell;
    width: 100%;
    vertical-align: top;

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='url'] {
      max-width: none;
      border-radius: var(--br) 0 0 var(--br);
    }
  }

  button&__button {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 3rem;
    height: 3rem;
    margin-top: .375rem;
    margin-bottom: 1rem;
    margin-left: 0;
    padding: 0 .667rem;
    border-radius: 0 0 var(--br) var(--br);
    color: rgb(var(--col-background-primary-white));
    font-weight: var(--fw-semibold);
    line-height: 1;

    &--text {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    &--alt {
      min-width: 9rem;
      height: 4.333rem;
      margin: 0;
      border-color: rgb(var(--col-black-mid-1));
      background-color: rgb(var(--col-black-mid-1));
      color: rgb(var(--col-brand));
      text-align: center;

      &:hover {
        border-color: rgb(var(--col-background-secondary-grey));
      }

      &:active {
        background-color: rgb(var(--col-background-primary-white));
      }
    }

    @media screen and (--bp-desktop) {
      border-radius: 0 var(--br) var(--br) 0;
    }
  }

  &__svg {
    width: 1rem;
    height: 1rem;
    margin: .875rem .125rem;
  }

  &__button-label {
    margin: .75rem;
    font-size: 1.25rem;
  }

  &__label {
    color: rgb(var(--col-brand));
  }

  &__select {
    display: block;
    height: 4.333rem;
    padding: .667rem 1.333rem;
    background-color: rgb(var(--col-background-primary-grey));
    line-height: 1.25;

    select {
      width: 100%;
    }

    @media screen and (--bp-desktop) {
      min-width: 12rem;
    }
  }

  &.form--inverse {
    button.form--inline__button--alt {
      border-color: transparent;
      background-color: rgb(var(--col-brand));
      color: rgb(var(--col-background-primary-white));

      &:focus,
      &:hover {
        border-color: color(rgb(var(--col-background-primary-white)) alpha(60%));
      }

      &:active {
        transition: background-color .2s;
        background-color: rgba(var(--col-brand), .7);
      }
    }

    .form--inline__search,
    .form--inline__select {
      border: 1px solid color(rgb(var(--col-black-light)) lightness(-5%));
    }

    .form--inline__select {
      border-right: 0;
    }
  }
}
