.mce form[id^='form_'],
.form {
  select {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (--bp-desktop) {
      width: 44rem;
    }
  }
}

@media screen and (--bp-desktop) {

  .mce form[id^='form_'] .grid,
  .mce .grid form[id^='form_'],
  .grid .form,
  .form .grid {
    select {
      width: 100%;
    }
  }
}

.styled-select {
  position: relative;
  z-index: 1;
  background-color: rgb(var(--col-background-primary-white));
  color: rgb(var(--col-brand));

  select {
    display: block;
    position: relative;
    z-index: 2;
    width: 100%;
    margin-bottom: .5rem;
    padding: .5rem 2.875rem .5rem .75rem;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: rgb(var(--col-brand));
    font-size: 1rem;
    font-weight: var(--fw-semibold);
    -moz-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */

    option {
      color: var(--col-black-dark);
    }

    &::-ms-expand {
      display: none; /* stylelint-disable-line property-no-vendor-prefix */
    }
  }

  &::after {
    content: '';
    position: absolute;
    top: 1rem;
    right: .75rem;
    width: .5rem;
    height: .5rem;
    transform: rotate(45deg);
    border-right: 2px solid rgb(var(--col-brand));
    border-bottom: 2px solid rgb(var(--col-brand));

    @media (min-width: 1024px) {
      top: 1.075rem;
    }
  }

  &--blue {
    position: relative;
    background-color: #5081bd;
    color: rgb(var(--col-background-primary-white));

    select {
      color: rgb(var(--col-background-primary-white));
    }

    option {
      color: rgb(var(--col-background-primary-white));
    }

    &::before {
      content: '';
      position: absolute;
      right: 2.8rem;
      height: 40px;
      border-right: 1px solid rgb(var(--col-background-primary-white));
    }

    &::after {
      right: 1.2rem;
      border-color: rgb(var(--col-background-primary-white));
    }
  }
}
