.mce form[id^='form_'],
.form {
  select {
    width: 100%;
    margin-bottom: 1rem;

    @media screen and (--bp-desktop) {
      width: 44rem;
    }
  }
}

@media screen and (--bp-desktop) {

  .mce form[id^='form_'] .grid,
  .mce .grid form[id^='form_'],
  .grid .form,
  .form .grid {
    select {
      width: 100%;
    }
  }
}

.styled-select {
  position: relative;
  background-color: rgb(var(--col-background-primary-white));
  color: rgb(var(--col-brand));
  border-radius: var(--br);
  border: 1px solid rgb(var(--col-blue-mid-2));
  flex: 1;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 2.5625rem;
    width: 1px;
    height: 100%;
    border-left: 1px solid rgb(var(--col-blue-mid-2));
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    width: calc(width('chevron-down.svg') * 2);
    height: calc(height('chevron-down.svg') * 2);
    pointer-events: none;
    background-image: svg-load('chevron-down.svg', fill=rgb(var(--col-blue-mid-2)));
    transform: translate(-50%, -50%);
  }

  select {
    width: 100%;
    margin-bottom: 0;
    padding: .5625rem 3.5625rem .5625rem 1rem;
    border: 0;
    border-radius: 0;
    background-color: transparent;
    color: rgb(var(--col-brand));
    font-size: 1.125rem;
    font-weight: var(--fw-bold);
    appearance: none;

    option {
      color: rgb(var(--col-black-dark));
    }

    &::-ms-expand {
      display: none;
      /* stylelint-disable-line property-no-vendor-prefix */
    }
  }

  &--blue {
    background-color: rgb(var(--col-blue-mid-2));
    color: rgb(var(--col-background-primary-white));
    border-color: rgb(var(--col-background-primary-white));

    &::before {
      border-color: rgb(var(--col-background-primary-white));
    }

    &::after {
      background-image: svg-load('chevron-down.svg', fill=rgb(var(--col-background-primary-white)));
    }

    select {
      color: rgb(var(--col-background-primary-white));
    }

    option {
      color: rgb(var(--col-background-primary-white));
    }
  }
}
