.mce form[id^='form_'],
.form {
  input[type='search'] {
    -webkit-appearance: none; /* stylelint-disable-line property-no-vendor-prefix */
    appearance: none;
  }

  input[type='text'],
  input[type='email'],
  input[type='number'],
  input[type='password'],
  input[type='search'],
  input[type='url'],
  textarea {
    width: 100%;
    margin-top: .375rem;
    margin-bottom: 1rem;
    padding: .5rem .625rem;
    border: 1px solid rgb(var(--col-grey-mid-1));
    border-radius: 3px;
    background-color: rgb(var(--col-background-primary-grey));
    box-shadow: inset 0 1px 3px color-mod(rgb(var(--col-black-dark)) alpha(10%));
    font-size: 1.25rem;
    font-weight: var(--fw-light);

    &:hover:not([disabled]) {
      border-color: rgb(var(--col-black-mid-2));
    }

    &:focus {
      border-color: rgb(var(--col-blue-mid-1));
      background-color: rgb(var(--col-background-primary-white));
      color: rgb(var(--col-black-dark));

      &.invalid {
        color: rgb(var(--col-black-dark));
      }
    }

    &[disabled] {
      opacity: .5;
    }

    &.invalid {
      border-color: color-mod(rgb(var(--col-pink-mid-1)) lightness(+25%));
      background-color: rgb(var(--col-background-primary-white));
      color: color-mod(rgb(var(--col-pink-mid-1)) lightness(+25%));
    }

    @media screen and (--bp-desktop) {
      max-width: 44rem;
    }
  }

  textarea {
    height: 14rem;
  }

  /* Fill grid  */
  .fill {

    input[type='text'],
    input[type='email'],
    input[type='number'],
    input[type='password'],
    input[type='search'],
    input[type='url'],
    textarea {
      max-width: 100%;
    }
  }
}
